<%= simple_form_for(@plate) do |f| %>
  <%= f.error_notification %>
  <% if @plate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plate.errors.count, "error") %> prohibited this plate from being saved:</h2>

      <ul>
      <% @plate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
	<%= f.input :dimensions, collection: Plate::DIMENSIONS, prompt: "Select the plate size" %>
  <%= f.association :vendor %>
  <%= f.input :vendor_product_identifier %>
  <%= f.association :sequencing_library_prep_kit %>
	<%= f.input :paired_end %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
