<%= simple_form_for(@plate) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.association :sequencing_library_prep_kit %>
	<%= f.input :paired_end %>
	<div class="dimensions">
		<%= label_tag("Plate Dimensions") %>&nbsp
		<%= f.input_field :num_rows %><span> x</span>
		<%= f.input_field :num_cols %><span> (Rows x Columns)</span>
	</div></br>
  <%= f.association :vendor %>
  <%= f.input :vendor_product_identifier %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
