	<%= f.input :name %>
	<% if not @plate.persisted? %>
		<!-- Don't allow user to change dimensions of plate once it has been created. If they need to, they'll have to instead create another plate. -->
		<%= f.input :dimensions, collection: Plate::DIMENSIONS, prompt: "Select the plate size" %>
	<% end %>
	<%= f.association :single_cell_sorting, as: :hidden %>
  <%= f.association :vendor %>
  <%= f.input :vendor_product_identifier %>

	<div style="border: 2px solid black;">
		<p class="lead">Select fluorophore-conjugated antibodies<span style="font-size: 75%;"> used in sorting the plate.</span></p>
		<table style="width: 75%;"  class="table table-condensed plate_select_antibodies_container" >
			<thead>
				<tr>
					<th>Double-click items to add to right.</th>
					<th></th>
					<th>Double-click items to remove.</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<%= f.input_field :antibody_ids, collection: Antibody.all, multiple: true, style: "width: 15em;", class: "pull-right plate_select_antibodies", size: 15 %>
					</td>
					<td style="position: relative; top: 2em; text-align: center;">
			       <div class="fa fa-arrow-right fa-lg"></div>
					</td>
					<td>
						<%= select_tag "fluorophore_antibodies", nil, multiple: true, size: 10, class: "pull-left", style: "width: 10em;" %>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	</br>

