<header class="index-view-header">
  <h1 class="index-page-header">                                                                       
    <%= @title || "Plates" %>                                                                      
  </h1>
  <p class="model-definition"><%= Plate::DEFINITION %></p>
  
  <ul class="actions">
    <!-- <%# render partial: "application_partials/auth_new_record" %> 
      #Don't allow users to add plates here. Only via the "Add Plate" button on the single_cell_sorting experiment object.
    -->
  </ul> 
  <%= render partial: "application_partials/total", locals: {records: @records} %>
</header>

<table class="attributes index">
  <thead>
    <tr>
      <%= render partial: "application_partials/index_common_table_headers" %>
      <th>Single Cell Sorting</th>
      <th>Dimensions</th>
      <th>Vendor</th>
      <th>Vendor product identifier</th>
      <th>Sequencing requests</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |rec| %>
      <tr>
        <%= render partial: "application_partials/index_common_table_cells", locals: {record: rec} %>
        <td><%= link_to rec.single_cell_sorting.name, rec.single_cell_sorting %></td>
        <td><%= "#{rec.nrow}x#{rec.ncol}" %></td>
        <td><%= link_to rec.vendor.name, rec.vendor %></td>
        <td><%= rec.vendor_product_identifier %></td>
        <td>
          <% if rec.sequencing_requests.any? %>
            <ul class="list-unstyled">
              <% rec.sequencing_requests.each do |sreq| %>
                <li><%= link_to sreq.name, sreq %></li>
              <% end %>
            </ul>
          <% end %>
        </td>
        <td>
          <%= link_to fa_icon("pencil"), edit_plate_path(rec) %>
          <%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "application_partials/index_paging" %>
