<header>
  <h1>Plates</h1>
  
  <ul class="actions">
    <!-- <%# render partial: "application_partials/auth_new_record", locals: {model_class: Plate} %> 
			#Don't allow users to add plates here. Only via the "Add Plate" button on the single_cell_sorting experiment object.
		-->
  </ul> 
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>Name</th>
			<th>Creator</th>
			<th>Single Cell Sorting</th>
      <th>Dimensions</th>
      <th>Vendor</th>
      <th>Vendor product identifier</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @plates.each do |rec| %>
      <tr>
        <td><%= link_to rec.name, rec %></td>
				<td><%= rec.user.display() %></td>
				<td><%= link_to rec.single_cell_sorting.name, rec.single_cell_sorting %></td>
				<td><%= "#{rec.nrow}x#{rec.ncol}" %></td>
        <td><%= link_to rec.vendor.name, rec.vendor %></td>
        <td><%= rec.vendor_product_identifier %></td>
        <td>
					<%= link_to fa_icon("pencil"), edit_plate_path(rec) %>
        	<%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
