<% title(@plate.name, "Plates") %>
<%= render partial:  "application_partials/show_form_error_messages", locals: { :model_obj => @plate } %>
<header>
  <h1><%= @plate.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @plate} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @plate} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @plate } %>

<table class="attributes">
	<tr>
  	<th><strong>Name:</strong></th>
  	<td><%= @plate.name %>
	</tr>

	<tr>
  	<th><strong>Sequencing library prep kit:</strong></th>
		<% if @plate.sequencing_library_prep_kit.present? %>
  		<td><%= link_to @plate.sequencing_library_prep_kit.name, @plate.sequencing_library_prep_kit %></td>
		<% else %>
			<td></td>
		<% end %>
	</tr>

	<tr>
  	<th><strong>Paired end:</strong></th>
  	<td><%= @plate.paired_end %></td>
	</tr>

	<tr>
  	<th><strong>Dimensions:</strong></th>
		<td><%= "#{@plate.nrow}x#{@plate.ncol}" %></td>
	</tr>

	<tr>
  	<th><strong>Biosample:</strong></th>
		<td><%= link_to @plate.starting_biosample.name, @plate.starting_biosample %></td>
	</tr>

	<tr>
  	<th><strong>Vendor:</strong></th>
  	<td><%= link_to @plate.vendor.name, @plate.vendor %></td>
	</tr>

	<tr>
  	<th><strong>Vendor product identifier:</strong></th>
  	<td><%= @plate.vendor_product_identifier %></td>
	</tr>
</table>

<div class="jumbotron">
<h3>Plate Layout</h3>
<table class="plate-table">
	<tr><th></th>
		<% (1..@plate.ncol).each do |c| %>
			<th><%= c %></th>
		<% end %>
	</tr>
	<% (1..@plate.nrow).each do |r| %>
		<tr><th><%= Plate::row_letter(r) %></th>
		<% (1..@plate.ncol).each do |c| %>
			<% well = @plate.wells.find_by!({row: r, col: c}) %>
			<% if well.fail? %>
				<% class_val = "failure" %>
			<% else %>
				<% class_val = "success" %>
			<% end %>
			<td><%= link_to well.name, [@plate,well], class: "#{class_val}" %></td>
		<% end %>
		</tr>
	<% end %>
</table></br>
</div>


<!-- Capture information about the biosample being sorted into individual wells -->
<div class="jumbotron" id="sorting_biosample">
	<%= link_to "Add Sorting Biosample", add_sorting_biosample_plate_path(@plate), remote: true, id: "add_sorting_biosample" %>
</div>



<div class="add_barcodes bg-info">
	<% if @plate.paired_end? %>
		<% placeholder="ATCCGC-GTACAG\nCGTGAC-TAGGCA\n..." %>
		<% submit_text="Add paired barcodes" %>
		<% label_text="#{submit_text} to wells." %>
	<% else %>
		<% placeholder="ATCCGA\nTAGCGA\n..." %>
		<% submit_text="Add barcodes" %>
		<% label_text="#{submit_text} to wells." %>
	<% end %>
		
	<% tooltip = "Enter barcodes in matrix format (same format as the plate), such that barcode in position [1,1] corresponds to well A1, and the barcode in position [2,2] corresponds to well B2 ... Use a space or tab to delimit values; for wells without barcodes just leave the corresponding field empty." %>
  <%= simple_form_for(@plate) do |f| %>
    <%= f.input :add_barcodes,
				as: :text,
				label: label_text,
				placeholder: placeholder, 
				label_html: {"data-toggle" => "tooltip", "title" => tooltip },
				input_html: {rows: 10},
        hint: "Copy and paste paired-barcodes in - if there are any validation errors, you'll have to paste them all back in with the corrections." %>
	
		<div class="actions">
			<%= f.button :submit, submit_text, class: "btn-primary "%>
		</div>
  <% end %>
<div>
</br></br>

<%= link_to 'Back', plates_path %>
