<% title(@plate.name, "Plates") %>
<%= render partial:  "application_partials/show_form_error_messages", locals: { :model_obj => @plate } %>
<header>
  <h1><%= @plate.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @plate} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @plate} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @plate } %>

<table class="attributes">
	<tr>
  	<th><strong>Name:</strong></th>
  	<td><%= @plate.name %>
	</tr>

	<tr>
		<th><strong>Single Cell Sorting</strong></th>
		<td><%= link_to @plate.single_cell_sorting.name, @plate.single_cell_sorting %></td>
	</tr>

	<tr>
  	<th><strong>Dimensions:</strong></th>
		<td><%= "#{@plate.nrow}x#{@plate.ncol}" %></td>
	</tr>

	<tr>
  	<th><strong>Vendor:</strong></th>
  	<td><%= link_to @plate.vendor.name, @plate.vendor %></td>
	</tr>

	<tr>
  	<th><strong>Vendor product identifier:</strong></th>
  	<td><%= @plate.vendor_product_identifier %></td>
	</tr>
</table>

<%= render partial: "plate" %>

<div class="add_barcodes bg-info">
	<% if @plate.single_cell_sorting.library_prototype.paired_end? %>
		<% placeholder="ATCCGC-GTACAG	CGTGAC-TAGGCA\nCGCTCA-CCTATCCT	ATTCAGAA-ATAGAGGC\n..." %>
		<% submit_text="Add paired barcodes" %>
		<% label_text="#{submit_text} to wells to create libraries." %>
	<% else %>
		<% placeholder="ATCCGA	TAGCGA\nCGAGTA	ACTGCG\n..." %>
		<% submit_text="Add barcodes" %>
		<% label_text="#{submit_text} to wells to create libraries." %>
	<% end %>
		
	<% tooltip = "Enter barcodes in matrix format (same format as the plate), such that barcode in position [1,1] corresponds to well A1, and the barcode in position [2,2] corresponds to well B2 ... Use a space or tab to delimit values; for wells without barcodes just leave the corresponding field empty." %>
  <%= simple_form_for(@plate) do |f| %>
    <%= f.input :add_barcodes,
				as: :text,
				label: label_text,
				placeholder: placeholder, 
				label_html: {"data-toggle" => "tooltip", "title" => tooltip },
				input_html: {rows: 10},
        hint: "Copy and paste paired-barcodes in - if there are any validation errors, you'll have to paste them all back in with the corrections." %>
	
		<div class="actions">
			<%= f.button :submit, submit_text, class: "btn-primary "%>
		</div>
  <% end %>
</div>
</br>

<%= link_to 'Back', plates_path %>
