<header>
	<h1>Biosample Types</h1>

	<ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {record: BiosampleType.first} %>	
	</ul>
</header>

<table id="attributes">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @biosample_types.each do |biosample_type| %>
      <tr>
        <td><%= biosample_type.name %></td>
        <td><%= link_to fa_icon("pencil"), edit_biosample_type_path(biosample_type) %></td>
        <td><%= link_to fa_icon("trash"), biosample_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Biosample type', new_biosample_type_path %>
