<header>
	<h1><%= @biosample_type.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @biosample_type} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @biosample_type} %>
  </ul>
</header>

<p>
  <strong>Name:</strong>
  <%= @biosample_type.name %>
</p>

<%= link_to 'Back', biosample_types_path %>
