<header>
  <h1 class="index-page-header">                                                                       
    <%= @title || "Data Storages" %>                                                                      
  </h1>
  <p class="model-definition"><%= DataStorage::DEFINITION %></p>

  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record" %>
  </ul> 
</header>

<table class="attributes index">
  <thead>
    <tr>
      <%= render partial: "application_partials/index_common_table_headers" %>
      <th>Data storage provider</th>
      <th>Bucket</th>
      <th>Project identifier</th>
      <th>Folder base path</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |rec| %>
      <tr>
        <%= render partial: "application_partials/index_common_table_cells", locals: {record: rec} %>
        <td><%= link_to rec.data_storage_provider.name, rec.data_storage_provider %></td>
        <td><%= rec.bucket %></td>
        <td><%= rec.project_identifier %></td>
        <td><%= rec.folder_base_path %></td>
        <td>
          <%= link_to fa_icon("pencil"), edit_data_storage_path(rec) %>
          <%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if defined?(@page) %>                                                                               
  <%= paginate @records %>                                                                             
  <%= link_to "All", data_storages_path(all: true) %>                                                        
<% end %>
