<%= render partial:  "application_partials/header", locals: {rec: @data_storage } %>

<table class="attributes">
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @data_storage.name %></td>
  </tr>

  <tr>
    <th><strong>Data Storage Provider:</strong></th>
    <td><%= link_to @data_storage.data_storage_provider.name, @data_storage.data_storage_provider %></td>
  </tr>

  <% if @bucketed %>
    <tr>
      <th><strong>Bucket:</strong></th>
      <td><%= @data_storage.bucket %></td>
    </tr>
  <% end %>  
  
  <tr>
    <th><strong>Project identifier:</strong></th>
    <td>
      <% if @data_storage.data_storage_provider.name == "DNAnexus" %>
        <% url = url_to_dnanexus_project(@data_storage.project_identifier) %>
        <%= link_to @data_storage.project_identifier, url %>
      <% else %>
        <%= @data_storage.project_identifier %>
      <% end %>
    </td>
  </tr>
  
  <tr>
    <th><strong>Folder base path:</strong></th>
    <td><%= @data_storage.folder_base_path %></td>
  </tr>

  <% if @data_storage.sequencing_runs.any? %>
    <tr>
      <th><strong>Sequencing runs:</strong></th>
      <td><%= render partial: "application_partials/link_to_has_many", locals: {links: @data_storage.sequencing_runs} %></td>
    </tr>
  <% end %>

  <tr class="notes-row">                                                                               
    <th><strong>Notes</strong></th>                                                                    
    <td><%= simple_format(@data_storage.notes) %></td>                                                     
  </tr> 
</table>

<!-- Hidden form that is used when the user tries to edit the 'notes'. -->                             
<%= render partial: "application_partials/edit_notes", locals: {rec: @data_storage} %>

<%= link_to 'Back', data_storages_path %>
