<%= render partial:  "application_partials/show_form_error_messages", locals: { :model_obj => @data_storage } %>
<header>
  <h1><%= @data_storage.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @data_storage} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @data_storage} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @data_storage } %>

<table class="attributes">
	<tr>
	  <th><strong>Name:</strong></th>
	  <td><%= @data_storage.name %></td>
	</tr>

	<tr>
	  <th><strong>Data Storage Provider:</strong></th>
	  <td><%= link_to @data_storage.data_storage_provider.name, @data_storage.data_storage_provider %></td>
	</tr>

	<% if @bucketed %>
		<tr>
		  <th><strong>Bucket:</strong></th>
		  <td><%= @data_storage.bucket %></td>
		</tr>
	<% end %>	
	
	<tr>
	  <th><strong>Project identifier:</strong></th>
	  <td><%= @data_storage.project_identifier %></td>
	</tr>
	
	<tr>
	  <th><strong>Folder base path:</strong></th>
	  <td><%= @data_storage.folder_base_path %></td>
	</tr>

  <tr class="notes-row">                                                                               
    <th><strong>Notes</strong></th>                                                                    
    <td><%= simple_format(@data_storage.notes) %></td>                                                     
  </tr> 
</table>

<!-- Hidden form that is used when the user tries to edit the 'notes'. -->                             
<%= render partial: "application_partials/edit_notes", locals: {rec: @data_storage} %>

<%= link_to 'Back', data_storages_path %>
