<%= simple_form_for @single_cell_sorting do |f| %>
	<%= f.simple_fields_for :sorting_biosample, @biosample do |ff| %>
		<%= render partial: "biosamples/form", locals: {f: ff} %>
	<% end %>
  <div class="form-actions">
    <%= f.button :submit, "Create Sorting Biosample", class: "btn-primary" %>
  </div></br>
	<% if not @biosample.errors.any? %>
		<!-- Don't show toggle-up button if user is form was already submitted with errors. -->
		<button style="position: absolute; right: 0; bottom: 0;" class="scs-toggle-up-biosample-form" type="button" class="btn btn-link"><%= fa_icon("toggle-up lg") %></button>
	<% end %>
<% end %>
