<%= render partial:  "application_partials/show_form_error_messages", locals: { :model_obj => @treatment } %>
<header>                                                                                               
  <h1><%= @treatment.name %></h1>                                                                       
                                                                                                       
  <ul class="actions">                                                                                 
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @treatment} %>        
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @treatment} %>  
  </ul>                                                                                                
</header>                                                                                              
                                                                                                       
<%= render partial: "application_partials/record_meta", locals: { record: @treatment } %>               
                                                                                                       
<table class="attributes">                                                                             
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @treatment.name %></td>
  </tr>

  <tr>
    <th><strong>Treatment term name:</strong></th>
    <td><%= link_to @treatment.treatment_term_name.name, @treatment.treatment_term_name %></td>
  </tr>
  
  <tr>
    <th><strong>Description:</strong></th>
    <td><%= @treatment.description %></td>
  </tr>
  
  <tr>
    <th><strong>Treatment type:</strong></th>
    <td><%= @treatment.treatment_type %></td>
  </tr>
  
  <tr>
    <th><strong>Concentration:</strong></th>
    <td><%= "#{@treatment.concentration} #{@treatment.concentration_unit.name}" %></td>
  </tr>
  
    </td>
  </tr>
  
  <tr>
    <th><strong>Duration:</strong></th>
    <td><%= @treatment.duration %></td>
  </tr>
  
  <tr>
    <th><strong>Duration units:</strong></th>
    <td><%= @treatment.duration_units %></td>
  </tr>
  
  <tr>
    <th><strong>Temperature Celsius:</strong></th>
    <td><%= @treatment.temperature_celsius %> &#8451;</td>
  </tr>

  <tr>                                                                                                 
    <th><strong>Documents:</strong></th>                                                               
    <td>                                                                                               
      <%= render partial: "application_partials/link_to_has_many", locals: {links: @treatment.documents} %>
    </td>                                                                                              
  </tr>

  <tr class="notes-row">                                                                               
    <th><strong>Notes</strong></th>                                                                    
    <td><%= simple_format(@treatment.notes) %></td>                                                     
  </tr> 
</table>

<!-- Hidden form that is used when the user tries to edit the 'notes'. --> 
<%= render partial: "application_partials/edit_notes", locals: {rec: @treatment} %>

<%= link_to 'Back', treatments_path %>
