<%= simple_form_for(@crispr_construct) do |f| %>
	<%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @crispr_construct } %>

  <%= f.input :name %>
	<%= f.input :addgene_id, label_html: {"data-toggle": "tooltip", "title": "The catalog number (i.e. 50661) of the plasmid in www.addgene.org if deposited there. Note - this could be the same as the 'Vender product identifier' if you procured this from Addene."} %>
  <%= f.association :target, label: "Gene target" %>
	<%= f.input :ensembl_transcript, label_html: {"data-toggle": "tooltip", "title": "Ensembl transcript accession that the crispr construct is designed for, if applicable." } %>
	<%= f.input :refseq_transcript, label_html: {"data-toggle": "tooltip", "title": "RefSeq transcript accession that the crispr construct is designed for, if applicable." } %>
  <%= f.input :guide_sequence %>
  <%= f.association :cloning_vector %>
  <%= f.input :description %>
  <%= f.association :vendor %>
  <%= f.input :vendor_product_identifier %>

  <% if @crispr_construct.construct_tags.persisted.any? %>
    <table class="min-table" id="construct_tags">
			<thead>
	      <tr>
					<th><strong>Construct tags:</strong></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
	      <%= f.simple_fields_for :construct_tags do |ff| %>
  	      <% tag = @crispr_construct.construct_tags[ff.index] %>
   	     <tr>
   	       <td><%= tag.name %></td>
   	       <td><%= ff.input_field :_destroy, as: :boolean %> Remove</td>
   	     </tr>
    	  <% end %>  
			</tbody>
    </table></br>
  <% end %>

  <div id="added_construct_tags"></div>
  <!-- .added_construct_tags will serve as the container for new construct_tag selections added by jQuery. -->
	<!-- Relevant jQuery in construct_tags.js.coffee. -->

  <p> 
    <% exclude_tags = [] %>
    <% if @crispr_construct.construct_tags.persisted.any? %>
      <% exclude_tags = @crispr_construct.construct_tags.persisted.each { |x| x.id } %>
    <% end %>
    <%= link_to "Add construct tag", 
				select_construct_tag_crispr_constructs_path(:exclude_construct_tags => exclude_tags),
				remote: true,
				class: "add_construct_tag reg-btn" %>
  </p>

	</br>
  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
