<header>
  <h1 class="index-page-header">Crispr Constructs</h1>
	<p class="model-definition"><%= CrisprConstruct::DEFINITION %></p>

  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record", locals: {model_class: CrisprConstruct} %>
  </ul> 
</header> 

<table class="attributes index">
  <thead>
    <tr>
      <%= render partial: "application_partials/index_common_table_headers" %>
			<th>Addgene ID</th>
      <th>Target</th>
			<th>Ensembl transcript</th>
			<th>RefSeq transcript</th>
      <th>Guide sequence</th>
      <th>Cloning vector</th>
      <th>Description</th>
      <th>Vendor</th>
      <th>Vendor product identifier</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |rec| %>
      <tr>
        <%= render partial: "application_partials/index_common_table_cells", locals: {record: rec} %>
        <td>
          <% if rec.addgene_id %>
            <%= link_to rec.addgene_id, ENV["ADDGENE_WEBSITE"] + rec.addgene_id %>
          <% end %>
        </td>
        <td><%= link_to rec.target.name, rec.target %></td>
				<td><%= rec.ensembl_transcript %></td>
				<td><%= rec.refseq_transcript %></td>
        <td><%= rec.guide_sequence %></td>
        <td><%= link_to rec.cloning_vector.name, rec.cloning_vector %></td>
        <td><%= rec.description %></td>
        <td><%= link_to rec.vendor.name, rec.vendor %></td>
        <td><%= rec.vendor_product_identifier %></td>
        <td>
					<%= link_to fa_icon("pencil"), edit_crispr_construct_path(rec) %>
        	<%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @records %>
