<header>
  <h1>Crispr Constructs</h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record", locals: {model_class: CrisprConstruct} %>
  </ul> 
</header> 

<table class="attributes">
  <thead>
    <tr>
      <th>Name</th>
      <th>Target</th>
      <th>Guide sequence</th>
      <th>Cloning vector</th>
      <th>Description</th>
      <th>Vendor</th>
      <th>Vendor product identifier</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @crispr_constructs.each do |cc| %>
      <tr>
        <td><%= link_to cc.name, cc %></td>
        <td><%= link_to cc.target.name, cc.target %></td>
        <td><%= cc.guide_sequence %></td>
        <td><%= link_to cc.cloning_vector.name, cc.cloning_vector %></td>
        <td><%= cc.description %></td>
        <td><%= link_to cc.vendor.name, cc.vendor %></td>
        <td><%= cc.vendor_product_identifier %></td>
        <td>
					<%= link_to fa_icon("pencil"), edit_crispr_construct_path(cc) %>
        	<%= link_to fa_icon("trash"), cc, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
