<%= simple_form_for(@construct_tag) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :description %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
