<%= simple_form_for(@construct_tag) do |f| %>
	<%= render partial:  "application_partials/show_form_error_messages", locals: { :f => f, :model_obj => @construct_tag } %>

  <%= f.input :name %>
  <%= f.input :description %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
