<header>
  <h1 class="index-page-header">Construct Tags</h1>
  
  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record", locals: {model_class: ConstructTag} %>
  </ul> 
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>Name</th>
			<th>Creator</th>
			<th>Date created</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @construct_tags.each do |rec| %>
      <tr>
        <td><%= link_to rec.name, rec %></td>
				<td><%= rec.user.display() %></td>
				<td><%= time_ago_in_words(rec.created_at) %> ago </td>
        <td><%= rec.description %></td>
        <td>
					<%= link_to fa_icon("pencil"), edit_construct_tag_path(rec) %>
        	<%= link_to fa_icon("trash"), rec %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
