<%= render partial:  "application_partials/header", locals: {rec: @construct_tag } %>

<table class="attributes">
  <tbody>
    <tr>
      <th><strong>Name:</strong></th>
      <td><%= @construct_tag.name %></td>
    </tr>
  
    <tr>
      <th><strong>Description:</strong></th>
      <td><%= @construct_tag.description %></td>
    </tr>

  <tr class="notes-row">                                                                               
    <th><strong>Notes</strong></th>                                                                    
    <td><%= simple_format(@construct_tag.notes) %></td>                                                     
  </tr> 

  </tbody>
</table>

<!-- Hidden form that is used when the user tries to edit the 'notes'. -->                             
<%= render partial: "application_partials/edit_notes", locals: {rec: @construct_tag} %>

<%= link_to 'Back', construct_tags_path %>
