<%= simple_form_for(@immunoblot) do |f| %>
  <%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @immunoblot } %>

  <%= f.input :date_performed %>
  <%= f.association :analyst, label_html: {"data-toggle": "tooltip", "title": "The user that performed the analysis."} %>
  <%= f.association :primary_antibody, label_html: {class: "refresh", "data-toggle": "tooltip", "title": "The antibody that is specific to the protein of interest."} %>

  <div style="display: flex;" %>
    <%= f.input :primary_antibody_concentration, wrapper_html: {style: "margin-right: 0.5em;"} %>
    <%= f.association :primary_antibody_concentration_units, collection: Unit.where(unit_type: "concentration"), label: "Units", label_html: {class: "refresh"} %>
  </div>

  <%= f.association :secondary_antibody, label_html: {class: "refresh", "data-toggle": "tooltip", "title": "The antibody used to target the primary antibody."} %>
  <div style="display: flex">
    <%= f.input :secondary_antibody_concentration, wrapper_html: {style: "margin-right: 0.5em;"} %>
    <%= f.association :secondary_antibody_concentration_units, collection: Unit.where(unit_type: "concentration"), label: "Units", label_html: {"class": "refresh"} %>
  </div>

  <fieldset>
    <legend>Documents</legend>
    <strong>Linked documents:</strong>
    <%= render partial: "application_partials/simple_fields_for", locals: {f: f, record: @immunoblot, attribute: :documents} %>
    <%= f.association :documents, label: "Add documents", selected: nil, collection: sorted_document_name_id(),
        include_blank: true,
        input_html: {class: "immunoblot_documents_selector"},
        label_html: {class: "refresh", "data-toggle": "tooltip","title": "Documents that provide additional information (not data file)."} %>
  </fieldset>

  <%= f.input :submitter_comments %>
  <%= f.input :notes %>

  <!-- Add section for building a new gel association -->

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
</br>
