<%= simple_form_for(@immunoblot) do |f| %>
  <%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @immunoblot } %>
  <% defaults = INPUT_DEFAULTS[@immunoblot.class.name] %>

  <%= f.input :name %>
  <%= f.input :date_performed %>
  <%= f.association :analyst, label_html: {"data-toggle": "tooltip", "title": "The user that performed the analysis."} %>
  <div class="my-flex">
    <%= f.association :primary_antibody, selected: @immunoblot.primary_antibody_id || defaults["primary_antibody_id"], include_blank: true, label_html: {class: "refresh", "data-toggle": "tooltip", "title": "The antibody that is specific to the protein of interest."}, order: "LOWER(name)" %>
    <%= f.input :primary_antibody_dilution, input_html: {value: @immunoblot.primary_antibody_dilution || defaults["primary_antibody_dilution"]}, 
        label: "Dilution", label_html: {"data-toggle": "tooltip", "title": "The dilution ratio, i.e. 1:10000, of the antibody's stock concentration."} %>
  </div>

  <div class="my-flex">
    <% sec_abs = @immunoblot.secondary_antibody_ids %>
    <%= f.association :secondary_antibodies, 
        selected: sec_abs.present? ? sec_abs : defaults["secondary_antibody_ids"], 
        collection: sorted_antibody_name_id(),
        include_blank: true, 
        label_html: {class: "refresh", "data-toggle": "tooltip", "title": "The antibody used to target the primary antibody."} %>

    <%= f.input :secondary_antibody_dilution, input_html: {value: @immunoblot.secondary_antibody_dilution || defaults["secondary_antibody_dilution"]},
        label: "Dilution", label_html: {"data-toggle": "tooltip", "title": "The dilution ratio, i.e. 1:10000, of the antibody's stock concentration."} %>
  </div>

  <fieldset>
    <legend>Documents</legend>
    <strong>Linked documents:</strong>
    <%= render partial: "application_partials/simple_fields_for", locals: {f: f, record: @immunoblot, attribute: :documents} %>
    <%= f.association :documents, label: "Add documents", selected: nil, collection: sorted_document_name_id(),
        include_blank: true,
        input_html: {class: "immunoblot_documents_selector"},
        label_html: {class: "refresh", "data-toggle": "tooltip","title": "Documents that provide additional information (not data file)."} %>
  </fieldset>

  <%= f.input :submitter_comments %>
  <%= f.input :notes %>

  <!-- Add section for building a new gel association -->

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
</br>
