<%= simple_form_for(@immunoblot) do |f| %>

  <%= f.input :date_performed %>
  <%= f.association :analyst, label_html: {"data-toggle": "tooltip", "title": "The user that performed the analysis."} %>
  <%= f.association :primary_antibody, label_html: {"data-toggle": "tooltip", "title": "The antibody that is specific to the protein of interest."} %>

  <div style="display: flex;" %>
    <%= f.input :primary_antibody_concentration, wrapper_html: {style: "margin-right: 0.5em;"} %>
    <%= f.association :primary_antibody_concentration_units, collection: Unit.where(unit_type: "concentration"), label: "Units" %>
  </div>

  <%= f.association :secondary_antibody, label_html: {"data-toggle": "tooltip", "title": "The antibody used to target the primary antibody."} %>
  <div style="display: flex">
    <%= f.input :secondary_antibody_concentration, wrapper_html: {style: "margin-right: 0.5em;"} %>
    <%= f.association :secondary_antibody_concentration_units, collection: Unit.where(unit_type: "concentration"), label: "Units" %>
  </div>

  <%= f.association :agarose_gel, label_method: :display %>
  <%= f.input :submitter_comments %>
  <%= f.input :notes %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
</br>
