<header>
  <h1 class="index-page-header">
    <%= @title || "Immunoblots" %>
  </h1>
  <p class="model-definition"><%= Immunoblot::DEFINITION %></p>

  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record" %>
  </ul>
</header>

<table class="attributes index">
  <thead>
    <tr>
      <%= render partial: "application_partials/index_common_table_headers" %>
      <th>Date performed</th>
      <th>Analyst</th>
      <th>Primary antibody</th>
      <th>Secondary antibody</th>
      <th>Gel</th>
      <th>Submitter comments</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |rec| %>
      <tr>
        <%= render partial: "application_partials/index_common_table_cells", locals: {record: rec} %>
        <td><%= rec.date_performed %></td>
        <td>
          <% if rec.analyst.present? %>
            <%= rec.analyst.display() %>
          <% end %>
        </td>
        <td>
          <% if rec.primary_antibody.present? %>
            <%= rec.primary_antibody.name %>
          <% end %>
        </td>
        <td>
          <% if rec.secondary_antibody.present? %>
            <%= rec.secondary_antibody.name %>
          <% end %>
        </td>
        <td>
          <% if rec.gel.present? %>
            <div style="display: flex">
              <%= link_to rec.gel.display(), rec.gel %>
              <% if rec.gel.gel_image.present? %>
                <%= image_tag rec.gel.gel_image, alt: "gel", data: {"caption": rec.gel.caption}, class: "modal-for-image", style: "margin-left: 0.3em; max-width: 50px; max-height: 50px; object-fit: contain;" %>
              <% end %>
            </div>
          <% end %>
        </td>
        <td><%= rec.submitter_comments %></td>
        <td><%= rec.notes %></td>
        <td>
          <%= link_to fa_icon("pencil"), edit_immunoblot_path(rec) %>
          <%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
