<%= render partial:  "application_partials/header", locals: {rec: @immunoblot } %>

<span id="record_id" style="display: none;"><%= @immunoblot.id %></span>

<table class="attributes">
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @immunoblot.name %></td>
  </tr>

  <tr>
    <th><strong>Date performed:</strong></th>
    <td><%= @immunoblot.date_performed %></td>
  </tr>

  <tr>
    <th><strong>Analyst:</strong></th>
    <td>
      <% if @immunoblot.analyst.present? %>
        <%= link_to @immunoblot.analyst.display(), @immunoblot.analyst %>
      <% end %>
    </td>
  </tr>

  <tr>
    <th><strong>Primary antibody:</strong></th>
    <td>
      <% if @immunoblot.primary_antibody.present? %>
        <%= link_to @immunoblot.primary_antibody.name, @immunoblot.primary_antibody %>
      <% end %>
    </td>
  </tr>

  <tr>
    <th><strong>Primary antibody dilution:</strong></th>
    <td>
      <% if @immunoblot.primary_antibody_dilution.present? %>
        <%= @immunoblot.primary_antibody_dilution  %>
      <% end %>
    </td>
  </tr>

  <tr>
    <th><strong>Secondary antibodies:</strong></th>
    <td>
      <% if @immunoblot.secondary_antibodies.any? %>
        <%= render partial: "application_partials/link_to_has_many", locals: {links:  @immunoblot.secondary_antibodies} %>
      <% end %>
    </td>
  </tr>

  <tr>
    <th><strong>Secondary antibody dilution:</strong></th>
    <td>
      <% if @immunoblot.secondary_antibody_dilution.present? %>
        <%= @immunoblot.secondary_antibody_dilution  %>
      <% end %>
    </td>
  </tr>

  <tr>
    <th><strong>Protocol documents:</strong></th>
    <td>
      <%= render partial: "application_partials/link_to_has_many", locals: {links: @immunoblot.documents} %>
    </td>
  </tr>

  <tr>
    <th><strong>Gel:</strong></th>
    <td><%= link_to @immunoblot.gel.display(), @immunoblot.gel %></td>
  </tr>

  <tr>
    <th><strong>Submitter comments:</strong></th>
    <td><%= @immunoblot.submitter_comments %></td>
  </tr>

  <tr>
    <th><strong>Notes:</strong></th>
    <td><%= @immunoblot.notes %></td>
  </tr>
</table>

<!-- Add section for building a new gel association -->
<% if @immunoblot.gel.blank? %>
  <h3 class="section">Gel</h3>
  <%= link_to "Add", add_gel_immunoblot_path(@immunoblot), id: "immunoblot-add-gel-btn", class: "reg-btn", method: :post %>
<% end %>

</br></br>
<%= link_to 'Back', immunoblots_path %>
