<%= render partial:  "application_partials/header", locals: {rec: @immunoblot } %>

<span id="record_id" style="display: none;"><%= @immunoblot.id %></span>

<table class="attributes">
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @immunoblot.name %></td>
  </tr>

  <tr>
    <th><strong>Date performed:</strong></th>
    <td><%= @immunoblot.date_performed %></td>
  </tr>

  <tr>
    <th><strong>Analyst:</strong></th>
    <td>
      <% if @immunoblot.analyst.present? %>
        <%= link_to @immunoblot.analyst.display(), @immunoblot.analyst %>
      <% end %>
    </td>
  </tr>

  <tr>
    <th><strong>Primary antibody:</strong></th>
    <td>
      <% if @immunoblot.primary_antibody.present? %>
        <%= link_to @immunoblot.primary_antibody.name, @immunoblot.primary_antibody %>
      <% end %>
    </td>
  </tr>

  <tr>
    <th><strong>Primary antibody dilution:</strong></th>
    <td>
      <% if @immunoblot.primary_antibody_dilution.present? %>
        <%= @immunoblot.primary_antibody_dilution  %>
      <% end %>
    </td>
  </tr>

  <tr>
    <th><strong>Secondary antibodies:</strong></th>
    <td>
      <% if @immunoblot.secondary_antibodies.any? %>
        <%= render partial: "application_partials/link_to_has_many", locals: {links:  @immunoblot.secondary_antibodies} %>
      <% end %>
    </td>
  </tr>

  <tr>
    <th><strong>Secondary antibody dilution:</strong></th>
    <td>
      <% if @immunoblot.secondary_antibody_dilution.present? %>
        <%= @immunoblot.secondary_antibody_dilution  %>
      <% end %>
    </td>
  </tr>

  <tr>
    <th><strong>Protocol documents:</strong></th>
    <td>
      <%= render partial: "application_partials/link_to_has_many", locals: {links: @immunoblot.documents} %>
    </td>
  </tr>

  <tr>
    <th><strong>Submitter comments:</strong></th>
    <td><%= @immunoblot.submitter_comments %></td>
  </tr>

  <tr>
    <th><strong>Notes:</strong></th>
    <td><%= @immunoblot.notes %></td>
  </tr>
</table>

<!-- Add section for associated Gels and adding additional Gels. -->

<h3 class="section">Gels</h3>
<% @immunoblot.gels.each do |gel| %>
  <div class="my-flex">
    <%= link_to_record gel %>
    <% if gel.gel_image.present? %> 
      <%= image_tag gel.gel_image, alt: "gel", data: {"caption": gel.caption}, class: "modal-for-image", style: "margin-left: 0.3em; max-width: 50px; max-height: 50px; object-fit: contain;" %>
    <% end %>
  </div>
<% end %>

<hr />
<div class="xfade-in">
  <div class="my-flex">
    <%= link_to "Add", add_gel_immunoblot_path(@immunoblot), id: "immunoblot-add-gel-btn", class: "reg-btn" %>
    <span>or</span>
    <%= link_to "Select existing", select_gel_immunoblot_path(@immunoblot), class: "reg-btn", id: "immunoblot-select-gel", remote: true %>
  </div>
</div>
</br></br>
<%= link_to 'Back', immunoblots_path %>
