<%= render partial:  "application_partials/show_form_error_messages", locals: { :model_obj => @immunoblot } %>
<header>                                                                                               
  <h1><%= @immunoblot.display() %></h1>                                                               
                                                                                                       
  <ul class="actions">                                                                                 
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @immunoblot} %>  
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @immunoblot} %>
  </ul>                                                                                                
</header>                                                                                              
                                                                                                       
<span id="record_id" style="display: none;"><%= @immunoblot.id %></span>                              
                                                                                                       
<%= render partial: "application_partials/record_meta", locals: { record: @immunoblot} %>            
<table class="attributes">  
  <tr>
    <th><strong>Date performed:</strong></th>
    <td><%= @immunoblot.date_performed %></td>
  </tr>

  <tr>
    <th><strong>Analyst:</strong></th>
    <td>
      <% if @immunoblot.analyst.present? %>
        <%= link_to @immunoblot.analyst.display(), @immunoblot.analyst %></td>
      <% end %>
    </td>
  </tr>

  <tr>
    <th><strong>Primary antibody:</strong></th>
    <td><%= link_to @immunoblot.primary_antibody.name, @immunoblot.primary_antibody %></td>
  </tr>

  <tr>
    <th><strong>Primary antibody conc.:</strong></th>
    <td>
      <% if @immunoblot.primary_antibody_concentration.present? %>
        <%= "#{@immunoblot.primary_antibody_concentration} #{@immunoblot.primary_antibody_concentration_units.name}" %>
      <% end %>
    </td>
  </tr>

  <tr>
    <th><strong>Secondary antibody:</strong></th>
    <td><%= link_to @immunoblot.secondary_antibody.name, @immunoblot.secondary_antibody %></td>
  </tr>

  <tr>
    <th><strong>Secondary antibody conc.:</strong></th>
    <td>
      <% if @immunoblot.secondary_antibody_concentration.present? %>
        <%= "#{@immunoblot.secondary_antibody_concentration} #{@immunoblot.secondary_antibody_concentration_units.name}" %>
      <% end %>
    </td>
  </tr>

  <tr>
    <th><strong>Agarose gel:</strong></th>
    <td><%= link_to @immunoblot.agarose_gel.display(), @immunoblot.agarose_gel %></td>
  </tr>
  
  <tr>
    <th><strong>Submitter comments:</strong></th>
    <td><%= @immunoblot.submitter_comments %></td>
  </tr>
  
  <tr>
    <th><strong>Notes:</strong></th>
    <td><%= @immunoblot.notes %></td>
  </tr>
</table>
  
<%= link_to 'Back', immunoblots_path %>
