<header>
  <h1 class="index-page-header">File References</h1>
  
  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record", locals: {model_class: FileReference} %>
  </ul> 
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>File path</th>
			<th>Creator</th>
      <th>Data storage</th>
			<th>Data file type</th>
      <th>Fileid</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @file_references.each do |rec| %>
      <tr>
        <td><%= link_to rec.file_path, rec %></td>
				<td><%= rec.user.display() %></td>
        <td><%= link_to rec.data_storage.name, rec.data_storage %></td>
				<td><%= link_to rec.data_file_type.name, rec.data_file_type %></td>
        <td><%= rec.fileid %></td>
        <td>
						<%= link_to fa_icon("pencil"), edit_file_reference_path(rec) %>
        		<%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
