<h1>New File Reference</h1>
<%= simple_form_for(@file_reference) do |f| %>
	<%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @file_reference } %>
	<%= render partial: 'form', locals: {f: f} %>
	<%= render partial: "application_partials/submit", locals: {f: f} %>
<% end %>

<%= link_to 'Back', file_references_path %>
