<%= render partial:  "application_partials/show_form_error_messages", locals: { :model_obj => @pcr_validation } %>
<header>
  <h1><%= @pcr_validation.id %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @pcr_validation} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @pcr_validation} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @pcr_validation } %>

<table class="attributes">
	<tr>
	  <th><strong>Description:</strong></th>
	  <td><%= @pcr_validation.description %></td>
	</tr>
	
	<tr>
	  <th><strong>Pcr master mix:</strong></th>
	  <td><%= link_to @pcr_validation.pcr_master_mix.name, @pcr_validation.pcr_master_mix %></td>
	</tr>
	
	<tr>
	  <th><strong>Forward primer:</strong></th>
	  <td><%= @pcr_validation.forward_primer %></td>
	</tr>
	
	<tr>
	  <th><strong>Reverse primer:</strong></th>
	  <td><%= @pcr_validation.reverse_primer %></td>
	</tr>
	
	<tr>
	  <th><strong>Amplicon size:</strong></th>
	  <td><%= @pcr_validation.amplicon_size %></td>
	</tr>
	
	<tr>
	  <th><strong>Annealing temperature:</strong></th>
	  <td><%= @pcr_validation.annealing_temperature %></td>
	</tr>
	
	<tr>
	  <th><strong>Extension time:</strong></th>
	  <td><%= @pcr_validation.extension_time %></td>
	</tr>
	
	<tr>
	  <th><strong>Num cycles:</strong></th>
	  <td><%= @pcr_validation.num_cycles %></td>
	</tr>
	
	<tr>
	  <th><strong>Crispr modification:</strong></th>
	  <td><%= link_to @pcr_validation.crispr_modification.name, @pcr_validation.crispr_modification %></td>
	</tr>
	
	<tr>
	  <th><strong>Success:</strong></th>
	  <td><%= @pcr_validation.success %></td>
	</tr>
</table>
<%= link_to 'Back', pcr_validations_path %>
