<header class="index-view-header">
  <h1 class="index-page-header">                                                                       
    <%= @title || "Sequencing Library Prep Kit" %>                                                                      
  </h1>
  <p class="model-definition"><%= SequencingLibraryPrepKit::DEFINITION %></p>
  
  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record" %>
  </ul> 
  <%= render partial: "application_partials/total", locals: {records: @records} %>
</header>

<table class="attributes index">

  <thead>
    <tr>
      <%= render partial: "application_partials/index_common_table_headers" %>
      <th>Vendor</th>
      <th>Vendor product ID</th>
      <th>Supports dual-indexed sequencing?</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do | rec | %>
      <tr>
        <%= render partial: "application_partials/index_common_table_cells", locals: {record: rec} %>
        <td><%= link_to rec.vendor.name, rec.vendor %></td>
        <td><%= rec.vendor_product_identifier %></td>
        <td><%= rec.supports_dual_indexing? %></td>
        <td><%= rec.description %></td>
        <td>
          <%= link_to fa_icon("pencil"), edit_sequencing_library_prep_kit_path(rec) %>
          <%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "application_partials/index_paging" %>
