<header>
  <h1 class="index-page-header">Sequencing Library Prep Kit</h1>
	<p class="model-definition"><%= SequencingLibraryPrepKit::DEFINITION %></p>
  
  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record", locals: {model_class: SequencingLibraryPrepKit} %>
  </ul> 
</header>

<table class="attributes index">

  <thead>
    <tr>
      <%= render partial: "application_partials/index_common_table_headers" %>
      <th>Vendor</th>
			<th>Vendor product ID</th>
			<th>Supports paired end</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sequencing_library_prep_kits.each do | rec | %>
      <tr>
        <%= render partial: "application_partials/index_common_table_cells", locals: {record: rec} %>
        <td><%= link_to rec.vendor.name, rec.vendor %></td>
        <td><%= rec.vendor_product_identifier %></td>
				<td><%= rec.supports_paired_end %></td>
        <td><%= rec.description %></td>
        <td>
					<%= link_to fa_icon("pencil"), edit_sequencing_library_prep_kit_path(rec) %>
        	<%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
