<header>
  <h1><%= @sequencing_library_prep_kit.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @sequencing_library_prep_kit} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @sequencing_library_prep_kit} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @sequencing_library_prep_kit } %>

<table class="attributes">
  <tr>
		<th><strong>Name:</strong></th>
  	<td><%= @sequencing_library_prep_kit.name %></td>
	</tr>

  <tr>
    <th><strong>Documents:</strong></th>
    <td>
      <%= render partial: "documents/link_to_document", locals: {documents: @sequencing_library_prep_kit.documents} %>
    </td>
  </tr>

  <tr>
		<th><strong>Vendor:</strong></th>
  	<td><%= link_to @sequencing_library_prep_kit.vendor.name, @sequencing_library_prep_kit.vendor %></td>
	</tr>

	<tr>
  	<th><strong>Description:</strong></th>
  	<td><%= @sequencing_library_prep_kit.description %></td>
	</tr>
</table>

<div class="barcodes bg-info">
  <h4> Barcodes</h4>
  <table class="attributes">
    <thead>
      <tr>
        <th>Name</th>
				<th>Sequence</th>
        <th class="actions">Actions</th>
      </tr>
    </thead>
    <% @sequencing_library_prep_kit.barcodes.each do |bc| %>
      <tr>
        <td><%= link_to bc.name, bc %></td>
        <td><%= bc.sequence %></td>
        <td>
          <%= link_to fa_icon("pencil"), [:edit,bc] %>
          <%= link_to fa_icon("trash"), bc, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
	</table>
</div>

<div>
<%= link_to "Add barcode", new_barcode_path, class: "reg-btn" %>
</div>


<%= link_to 'Back', sequencing_library_prep_kits_path %>
