<%= simple_form_for(@target) do |f| %>
	<%= render partial:  "application_partials/show_form_error_messages", locals: { :f => f, :model_obj => @target } %>

  <%= f.input :name, label_html: {"data-toggle" => "Unique target (i.e. gene) name"} %>

  <%= f.input :encode_identifier %>


  <div class="actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
