<header>
	<h1>Targets</h1>

  <ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {model_class: Target} %>
  </ul> 
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>Encode identifier</th>
      <th>Name</th>
			<th>Ensembl accession</th>
			<th>RefSeq accession</th>
			<th>Creator</th>
			<th>Date created</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @targets.each do |rec| %>
      <tr>
        <td><%= rec.encode_identifier %></td>
        <td><%= link_to rec.name, rec %></td>
        <td><%= rec.ensembl %></td>
        <td><%= rec.refseq %></td>
				<td><%= rec.user.display() %></td>
				<td><%= time_ago_in_words(rec.created_at) %> ago </td>
        <td>
					<%= link_to fa_icon("pencil"), edit_target_path(rec) %>
        	<%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
