<%= render partial:  "application_partials/header", locals: {rec: @target } %>

<table class="attributes">
	<tr>
		<th><strong>Name:</strong></th>
		<td><%= @target.name %></td>
	</tr>

	<tr>
		<th><strong>Ensembl accession:</strong></th>
		<td><%= @target.ensembl %></td>
	</tr>

	<tr>
		<th><strong>RefSeq accession:</strong></th>
		<td><%= @target.refseq %></td>
	</tr>

	<tr>
		<th><strong>UniProtKB accession:</strong></th>
		<td><%= @target.uniprotkb %></td>
	</tr>

  <tr class="notes-row">                                                                               
    <th><strong>Notes</strong></th>                                                                    
    <td><%= simple_format(@target.notes) %></td>                                                     
  </tr> 
</table>

<!-- Hidden form that is used when the user tries to edit the 'notes'. --> 
<%= render partial: "application_partials/edit_notes", locals: {rec: @target} %>

<%= link_to 'Back', targets_path %>
