<header>
  <h1><%= @target.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @target} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @target} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @target } %>

<table class="attributes">
	<tr>
		<th><strong>Encode identifier:</strong></th>
		<td><%= @target.encode_identifier %></td>
	</tr>

	<tr>
		<th><strong>Name:</strong></th>
		<td><%= @target.name %></td>
	</tr>
</table>

<%= link_to 'Back', targets_path %>
