<%= render partial:  "application_partials/show_form_error_messages", locals: { :model_obj => @target } %>
<header>
  <h1><%= @target.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @target} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @target} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @target } %>

<table class="attributes">
	<tr>
		<th><strong>Name:</strong></th>
		<td><%= @target.name %></td>
	</tr>

	<tr>
		<th><strong>Ensembl accession:</strong></th>
		<td><%= @target.ensembl %></td>
	</tr>

	<tr>
		<th><strong>RefSeq accession:</strong></th>
		<td><%= @target.refseq %></td>
	</tr>

	<tr>
		<th><strong>UniProtKB accession:</strong></th>
		<td><%= @target.uniprotkb %></td>
	</tr>

</table>

<%= link_to 'Back', targets_path %>
