<%= simple_form_for(@sequencing_center) do |f| %>
	<%= render partial:  "application_partials/show_form_error_messages", locals: { :f => f, :model_obj => @sequencing_center } %>

  <%= f.input :name, label_html: {"data-toggle" => "tooltip", "title" => "Unique sequencing center name"} %> (Max. 20 characters)

  <%= f.input :address, label_html: {"data-toggle" => "tooltip", "title" => "Address of the sequencing center"} %>

  <%= f.input :url, label_html: {"data-toggle" => "tooltip", "title" => "Web URL of the sequencing center"} %>

  <div class="actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
