<header>
	<h1>Sequencing Centers</h1>
  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record", locals: {model_class: SequencingCenter} %>
  </ul> 
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
			<th>Web URL</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sequencing_centers.each do |sc| %>
      <tr>
        <td><%= link_to sc.name, sc %></td>
        <td><%= sc.address %></td>
				<td><%= link_to sc.url,sc.url %></td>
        <td>
					<%= link_to fa_icon("pencil"), edit_sequencing_center_path(sc) %>
        	<%= link_to fa_icon("trash"), sc, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
