<!-- Add hidden element to serve as a status check for jQuery to know whether this record exists or not. -->
<% if @gel_lane.id.present? %>
  <span style="display: none" id="gel-lane-persisted"></span>
<% end %>
<%= f.association :agarose_gel, as: :hidden %>

<%= f.input :lane_number, label: false %>
<%= f.input :sample_volume, label: false, placeholder: "µL", label_html: {"data-toggle": "tooltip", title: "The volume in µL of sample loaded into this lane of the gel."} %>
  
<%= f.input :sample_concentration, label: false %>
<%= f.input :sample_concentration_units_id, label: false, collection: ConcentrationUnit.all %>
<%= f.input :expected_product_size, label: false, placeholder: "kDa" %>
<%= f.input :actual_product_size, label: false, placeholder: "kDa" %>
<%= f.input :pass, as: :select, default: true, label: false %>
<%= f.input :submitter_comments, label: false %>
<%= f.input :notes, label: false %>
