<%= simple_form_for(@gel_lane) do |f| %>

  <%= f.input :lane_number %>
  <%= f.input :sample_volume, placeholder: "µL", label_html: {"data-toggle": "tooltip", title: "The volume in µL of sample loaded into this lane of the gel."} %>

  <label for="gel_lane_sample_concentration" data-toggle="tooltip" title="The concentration of biosample loaded into the well."><span>Sample concentration</span></label>
  <%= f.input_field :sample_concentration %>
  <label for="gel_lane_sample_concentration_units" data-toggle="tooltip" title="The concentration units for the sample concentration field."><span>Units</span></label>
  <%= f.input_field :sample_concentration_units_id, collection: ConcentrationUnit.all %>
  </br></br>

  <%= f.input :expected_product_size, placeholder: "kDa" %>
  <%= f.input :actual_product_size, placeholder: "kDa" %>
  <%= f.input :pass %>
  <%= f.input :submitter_comments %>
  <%= f.input :notes %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
</br>
