<header>
  <h1 class="index-page-header">
    <%= @title || "Gel Lanes" %>
  </h1>
  <p class="model-definition"><%= GelLane::DEFINITION %></p>

  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record" %>
  </ul>
</header>

<table class="attributes index">
  <thead>
    <tr>
      <%= render partial: "application_partials/index_common_table_headers" %> 
      <th>Lane number</th>
      <th>Sample volume</th>
      <th>Sample concentration</th>
      <th>Expected product size</th>
      <th>Actual product size</th>
      <th>Pass</th>
      <th>Submitter comments</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |rec| %>
      <tr>
        <%= render partial: "application_partials/index_common_table_cells", locals: {record: rec} %>
        <td><%= rec.lane_number %></td>
        <td><%= "#{rec.sample_volume} µL" %></td>
        <td><%= "#{rec.sample_concentration} #{rec.sample_concentration_units.name}" %></td>
        <td><%= rec.expected_product_size %></td>
        <td><%= rec.actual_product_size %></td>
        <td><%= rec.pass %></td>
        <td><%= rec.submitter_comments %></td>
        <td><%= rec.notes %></td>
        <td>
          <%= link_to fa_icon("pencil"), edit_gel_lane_path(rec) %>
          <%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if defined?(@page) %>
  <%= paginate @records %>
  <%= link_to "All", gel_lanes_path(all: true) %>
<% end %>
