<header>
  <h1>New Gel Lane</h1>
</header>

<%= simple_form_for @gel_lane do |f| %>
  <%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @gel_lane } %>
  <%= render partial: 'form', locals: {f: f} %>
  <%= render partial: "application_partials/submit", locals: {f: f} %>
<% end %>

<%= link_to 'Back', gel_lanes_path %>
