<%= render partial:  "application_partials/header", locals: {rec: @gel_lane } %>

<table class="attributes" %>
  <tr>
    <th><strong>Lane number:</strong></th>
    <td><%= @gel_lane.lane_number %></td>
  </tr>

  <tr>
    <th><strong>Biosample:</strong></th>
    <td><%= link_to @gel_lane.biosample.name, @gel_lane.biosample %></td>
  </tr>

  <tr>
    <th><strong>Sample volume:</strong></th>
    <td><%= "#{@gel_lane.sample_volume} µL" %></td>
  </tr>

  <tr>
    <th><strong>Sample concentration:</strong></th>
    <td>
      <% if @gel_lane.sample_concentration.present? %>
        <%= "#{@gel_lane.sample_concentration} #{@gel_lane.sample_concentration_units.name}" %>
      <% end %>
    </td>
  </tr>
  
  <tr>
    <th><strong>Expected product size:</strong></th>
    <td><%= "#{@gel_lane.expected_product_size} kDa" %>
  </tr>
  
  <tr>
    <th><strong>Actual product size:</strong></th>
    <td><%= "#{@gel_lane.actual_product_size} kDa" %></td>
  </tr>

  <tr>
    <th><strong>Low target band intensity:</strong></th>
    <td><%= @gel_lane.low_target_band_intensity? %></td>
  </tr>

  <tr>
    <th><strong>Needs mass spec.:</strong></th>
    <td><%= @gel_lane.needs_mass_spec? %></td>
  </tr>
  
  <tr>
    <th><strong>Pass:</strong></th>
    <td><%= @gel_lane.pass %></td>
  </tr>
  
  <tr>
    <th><strong>Submitter comments:</strong></th>
    <td><%= @gel_lane.submitter_comments %>
  </tr>
  
  <tr class="notes-row">
    <th><strong>Notes:</strong></th>
    <td><%= simple_format(@gel_lane.notes) %></td>
  </tr>
</table>

<%= link_to 'Back', gel_lanes_path %>
