<header>
  <h1 class="index-page-header">Data File Types</h1>
	<p class="model-definition"><%= DataFileType::DEFINITION %></p>
  
  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record", locals: {model_class: DataFileType} %>
  </ul> 
</header>

<table class="attributes">
  <thead>
    <tr>
      <%= render partial: "application_partials/index_common_table_headers" %>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_file_types.each do |rec| %>
      <tr>
        <%= render partial: "application_partials/index_common_table_cells", locals: {record: rec} %>
        <td><%= rec.description %></td>
        <td><%= link_to fa_icon("fa-pencil"), edit_data_file_type_path(rec) %></td>
        <td><%= link_to fa_icon("fa-trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
