<%= render partial:  "application_partials/show_form_error_messages", locals: { :model_obj => @data_file_type } %>
<header>
  <h1><%= @data_file_type.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @data_file_type} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @data_file_type} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @data_file_type.user } %>

<table class="attributes">
	<tr>
	  <th><strong>Name:</strong></th>
	  <td><%= @data_file_type.name %></td>
	</tr>
	
	<tr>
	  <th><strong>Description:</strong></th>
	  <td><%= @data_file_type.description %></td>
	</tr>
</table>

<%= link_to 'Back', data_file_types_path %>
