<%= simple_form_for(@donor) do |f| %>
	<%= f.error_notification %>

	<%= f.input :encode_identifier %>

  <%= f.input :encode_alias %>

  <div class="actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
