<%= simple_form_for(@donor) do |f| %>
  <%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @donor } %>

  <%= f.input :upstream_identifier, label_html: {"data-toggle": "tooltip", "title": "The alias or accession of an existing donor on the ENCODE Portal. For a list of available human donors, see https://www.encodeproject.org/human-donors."}  %>

  <%= f.input :name, label_html: {"data-toggle": "tooltip", "title": "A user-friendly name that you prefer to call this as."} %>

  <%= f.input :age, label_html: {"data-toggle": "tooltip", "title": "The donor's age. You should include the units, i.e. days, weeks, months, years"} %>

  <%= f.input :gender, collection: Enums::GENDERS %>

  <div class="actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
