<header>
	<h1>Donors</h1>
	
  <ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {model_class: Donor} %>
  </ul> 
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>Encode</th>
      <th>Encode alias</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @donors.each do |donor| %>
      <tr>
        <td><%= link_to donor.encode_identifier, donor %></td>
        <td><%= donor.encode_alias %></td>
        <td><%= link_to fa_icon("pencil"), edit_donor_path(donor) %></td>
        <td><%= link_to fa_icon("trash"), donor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
