<header>
	<h1 class="index-page-header">Donors</h1>
	
  <ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {model_class: Donor} %>
  </ul> 
</header>

<table class="attributes">
  <thead>
    <tr>
			<th>Creator</th>
			<th>Date created</th>
      <th>Encode</th>
      <th>Encode alias</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @donors.each do |rec| %>
      <tr>
				<td><%= rec.user.display() %></td>
				<td><%= time_ago_in_words(rec.created_at) %> ago </td>
        <td><%= link_to rec.encode_identifier, rec %></td>
        <td><%= rec.name %></td>
        <td>
					<%= link_to fa_icon("pencil"), edit_donor_path(rec) %>
        	<%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
