<header>
	<h1>Donors</h1>
	
  <ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {policy_class: Donor} %>
  </ul> 
</header>

<table id="attributes">
  <thead>
    <tr>
      <th>Encode</th>
      <th>Encode alias</th>
      <th>String</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @donors.each do |donor| %>
      <tr>
        <td><%= link_to donor.encode_identifier, donor %></td>
        <td><%= donor.encode_alias %></td>
        <td><%= link_to 'Edit', edit_donor_path(donor) %></td>
        <td><%= link_to 'Destroy', donor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
