<%= render partial:  "application_partials/header", locals: {rec: @donor } %>

<table class="attributes">
	<tr>
		<th><strong>Name:</strong></th>
		<td><%= @donor.name %></td>
	</tr>

  <tr>
    <th><strong>Age:</strong></th>
    <td><%= @donor.age %></td>
  </tr>

  <tr>
    <th><strong>Gender:</strong></th>
    <td><%= @donor.gender %></td>
  </tr>

  <tr>
    <th><strong>Associated biosamples:</strong></th>
    <td>
      <% if @donor.biosamples.non_plated.any? %>
        <%= render partial: "application_partials/link_to_has_many", locals: {links: @donor.biosamples.non_plated} %>
      <% else %>
        None
      <% end %>
    </td>
  </tr>

  <tr class="notes-row">                                                                               
    <th><strong>Notes</strong></th>                                                                    
    <td><%= simple_format(@donor.notes) %></td>                                                     
  </tr> 

</table>

<!-- Hidden form that is used when the user tries to edit the 'notes'. -->                             
<%= render partial: "application_partials/edit_notes", locals: {rec: @donor} %>

<%= link_to 'Back', donors_path %>
