<% title(@donor.encode_alias, "Donors") %>
<header>
  <h1><%= @donor.encode_alias %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @donor} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @donor} %>
  </ul>
</header>

<p>
  <strong>Encode:</strong>
  <%= link_to @donor.encode_identifier %>
</p>

<p>
  <strong>Encode alias:</strong>
  <%= link_to @donor.encode_alias %>
</p>


<%= link_to 'Back', donors_path %>
