<% title(@donor.name, "Donors") %>
<%= render partial:  "application_partials/show_form_error_messages", locals: { :model_obj => @donor } %>
<header>
  <h1><%= @donor.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @donor} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @donor} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @donor } %>

<table class="attributes">
	<tr>
		<th><strong>Name:</strong></th>
		<td><%= @donor.name %></td>
	</tr>

  <tr>
    <th><strong>Age:</strong></th>
    <td><%= @donor.age %></td>
  </tr>

  <tr>
    <th><strong>Gender:</strong></th>
    <td><%= @donor.gender %></td>
  </tr>

  <tr>
    <th><strong>Associated biosamples:</strong></th>
    <td>
      <% if @donor.biosamples.any? %>
        <%= render partial: "biosamples/link_to_biosamples", locals: {biosamples: @donor.biosamples.non_plated} %>
      <% else %>
        None
      <% end %>
    </td>
  </tr>

</table>


<%= link_to 'Back', donors_path %>
