<%= simple_form_for([@plate, @well]) do |f| %>
	<%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @well } %>

  <%= f.input :name %>
  <%= f.association :plate %>
  <%= f.input :row %>
  <%= f.input :col %>
	<% if @plate.paired_end? %>
  	<%= f.association :paired_barcode %>
	<% else %>
	  <%= f.association :barcode %>
	<% end %>
  <%= f.input :fail %>
  <%= f.input :comment %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
