<%= render partial:  "application_partials/header", locals: {no_destroy_btn: true, no_new_btn: true, rec: @well, nested: @plate } %>
<!--
  #leave out the destroy button since users shouldn't be able to destroy well directly as it doens't make sense to. 
  #It makes more sense for the user to instead destroy the plate and in turn the wells as a side effect.
-->

<table class="attributes">
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @well.name %></td>
  </tr>
  
  <tr>
    <th><strong>Plate:</strong></th>
    <td><%= link_to @well.plate.name, @plate %></td>
  </tr>
  
  <tr>
    <th><strong>Row:</strong></th>
    <td><%= @well.row %></td>
  </tr>
  
  <tr>
    <th><strong>Column:</strong></th>
    <td><%= @well.col %></td>
  </tr>

  <tr>
    <th><strong>Biosample</strong></th>
    <td><%= link_to @well.biosample.name, @well.biosample %></td>
  </tr>

  <tr>
    <th><strong>Fail:</strong></th>
    <td><%= @well.fail %></td>
  </tr>
  
  <tr>
    <th><strong>Comment:</strong></th>
    <td><%= @well.comment %></td>
  </tr>
</table>

<%= link_to 'Back', @plate %>
