<header>
	<h1>Organisms</h1>

  <ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {policy_class: Organism} %>
  </ul> 
</header>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @organisms.each do |organism| %>
      <tr>
        <td><%= organism.name %></td>
        <td><%= link_to 'Show', organism %></td>
        <td><%= link_to 'Edit', edit_organism_path(organism) %></td>
        <td><%= link_to 'Destroy', organism, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
