<header>
  <h1><%= @organism.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @organism} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @organism} %>
  </ul>
</header>

<p>
  <strong>Name:</strong>
  <%= @organism.name %>
</p>

<%= link_to 'Back', organisms_path %>
