<%= render partial:  "application_partials/show_form_error_messages", locals: { :model_obj => @organism } %>
<header>
  <h1><%= @organism.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @organism} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @organism} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @organism } %>

<table class="attributes">
	<tr>
		<th><strong>Name:</strong></th>
		<td><%= @organism.name %></td>
	</tr>

	<tr>
		<th><strong>Scientific name:</strong></th>
		<td><%= @organism.scientific_name %></td>
	</tr>

	<tr>
		<th><strong>NCBI Taxon:</strong></th>
		<td><%= @organism.ncbi_taxon %></td>
	</tr>
</table>

<%= link_to 'Back', organisms_path %>
