<%= simple_form_for(@antibody) do |f| %>
	<%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @antibody } %>

  <%= f.input :name, label_html: {"data-toggle" => "tooltip", "title" => "Unique antibody name"} %>

  <%= f.association :organism, collection: Organism.order(:name), label_method: :name, prompt: "Select the Organism",
			label_html: {"data-toggle" => "tooltip", "title" => "The organism the antibody was grown in."} %>

	<% if @antibody.antibody_purifications.present? %>
		<table class="min-table">
			<thead>
				<tr>
					<th><strong>Antibody Purifications</strong></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%= f.simple_fields_for(:antibody_purifications) do |ff| %>
					<% antibody_purification = @antibody.antibody_purifications[ff.index] %>
					<tr>
						<td><%= antibody_purification.name %></td>
						<td><%= ff.input_field :_destroy, as: :boolean %> Remove</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
	

  <!-- Show select for AntibodyPurifications. Mutliple can be selected.
       If the form was rejected due to a validation error, then the
       user will have been presented with this form again to correct it, 
       and I set the default selectioned to what the user had originally, 
       if any. -->
	<%= f.association :antibody_purifications, 
      label: "Add antibody purifications", 
      include_blank: true,
      collection: sorted_antibody_purification_name_id(), 
			label_html: {class: "refresh", "data-toggle": "tooltip", "title": "Purification protocol(s) used to isolate the antibody."} %>

  <%= f.association :vendor, collection: Vendor.order(:name),
      label_method: :name, 
			label_html: {class: "refresh", "data-toggle": "tooltip", "title": "The originating lab or vendor."} %>

  <%= f.input :vendor_product_identifier,
			label_html: {"data-toggle" => "tooltip", "title" => "The product identifier provided by the originating lab or vendor."} %>

  <%= f.input :vendor_product_url,
			label_html: {"data-toggle" => "tooltip", "title" => "An external resource with additional information about the antibody."} %>

  <%= f.association :isotype, collection: Isotype.order(:name),
      label_method: :name,
			label_html: {class: "refresh", "data-toggle": "tooltip", "title": "The class of antibody ( e.g. IgA, IgD, IgE, IgG or IgM)"} %>

  <%= f.association :target, collection: Target.order(:name), 
      label_method: :name,
			label_html: {class: "refresh", "data-toggle": "tooltip", "title": "The name of the gene whose expression or product is the intended goal of the antibody."} %>

  <%= f.input :lot_identifier,
			label_html: {"data-toggle" => "tooltip", "title" => "The lot identifier provided by the originating lab or vendor."} %>

  <%= f.input :clonality, collection: Antibody::CLONALITY_TYPES, prompt:  "Select the Clonality",
			label_html: {"data-toggle" => "tooltip", "title" => "The diversification of the immune cell lineage to make the antibody."} %>

  <%= f.input :antigen_description,
			label_html: {"data-toggle" => "tooltip", "title" => "The plain text description of the antigen used in raising the antibody (e.g. amino acid residue locations of the antigen)."} %>

  <%= f.input :antigen_sequence,
			label_html: {"data-toggle" => "tooltip", "title" => "The amino acid sequence of the antigen."} %>

  <div class="actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
