<%= simple_form_for(@antibody) do |f| %>
	<%= f.error_notification %>
  <% if @antibody.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@antibody.errors.count, "error") %> prohibited this antibody from being saved:</h2>

      <ul>
      <% @antibody.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %> (Max. 20 characters)

  <%= f.input :organism_id, collection: sorted_organism_name_id(), prompt: "Select the Organism" %>

	<table>
	<tr><th>Associated Antibody Purifications</th></tr>
	<%= f.simple_fields_for(:antibody_purifications) do |ff| %>
		<tr>
		<% antibody_purification = @antibody.antibody_purifications[ff.index] %>
		<td><%= antibody_purification.name %></td>
		<td><%= ff.input_field :_destroy, as: :boolean, label: "Remove" %></td>
		</tr>
	<% end %>
</table></br>

  <!-- Show select for AntibodyPurifications. Mutliple can be selected.
       If the form was rejected due to a validation error, then the
       user will have been presented with this form again to correct it, 
       and I set the default selectioned to what the user had originally, 
       if any. -->
  <% selected = nil %>
  <% if @antibody.antibody_purifications and @antibody.new_record? %>
    <% selected = @antibody.antibody_purifications.map{|x| x.id} %>
  <% end %>
  <%= render(partial: "antibody_purifications/select_antibody_purifications", locals: {f: f,selected: selected}) %>

  <%= f.input :vendor_id, collection: sorted_vendor_name_id(), prompt: "Select the Vendor" %>

  <%= f.input :isotype_id, collection: sorted_isotype_name_id(), prompt: "Select the Isotype" %>

  <%= f.input :human_target_id, collection: sorted_target_name_id(), prompt: "Select the Human Target" %>

  <%= f.input :vendor_product_identifier %>

  <%= f.input :vendor_product_url %>
    
  <%= f.input :lot_identifier %>

  <%= f.input :clonality, collection: Antibody::CLONALITY_TYPES, prompt:  "Select the Clonality" %>

  <%= f.input :antigen_description %>

  <%= f.input :antigen_sequence %>

  <div class="actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
