<header>
	<h1>Antibodies</h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record", locals: {record: Antibody.first} %>
  </ul> 
</header>

<table id="attributes">
  <thead>
    <tr>
			<th>Name</th>
      <th>Organism</th>
      <th>Target</th>
      <th>Clonality</th>
      <th>Isotype</th>
      <th>Vendor</th>
      <th>Vendor Product Identifier</th>
      <th>Vendor Product Url</th>
      <th>Lot Identifier</th>
      <th>Antigen Description</th>
      <th>Antigen Sequence</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @antibodies.each do |antibody| %>
      <tr>
				<td><%= link_to antibody.name, antibody %></td>
        <td><%= link_to antibody.organism.name, antibody.organism %></td>
        <td><%= link_to antibody.target.name, antibody.target %></td>
        <td><%= antibody.clonality %></td>
				<% if antibody.isotype.present? %>
	        <td><%= link_to antibody.isotype.name, antibody.isotype %></td>
				<% else %>
					<td></td>
				<% end %>
        <td><%= link_to antibody.vendor.name, antibody.vendor %></td>
        <td><%= antibody.vendor_product_identifier %></td>
        <td><%= link_to antibody.vendor_product_url %></td>
        <td><%= antibody.lot_identifier %></td>
        <td><%= antibody.antigen_description %></td>
        <td><%= antibody.antigen_sequence %></td>
        <td><%= link_to fa_icon("pencil"), edit_antibody_path(antibody) %></td>
        <td><%= link_to fa_icon("trash"), antibody, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
