<h1>Listing antibodies</h1>

<table>
  <thead>
    <tr>
			<th>Name</th>
      <th>Organism</th>
      <th>Gene</th>
      <th>Clonality</th>
      <th>Isotype</th>
      <th>Vendor</th>
      <th>Vendor Product Identifier</th>
      <th>Vendor Product Url</th>
      <th>Lot Identifier</th>
      <th>Antigen Description</th>
      <th>Antigen Sequence</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @antibodies.each do |antibody| %>
      <tr>
				<td><%= link_to(antibody.name,antibody) %></td>
        <td><%= antibody.organism.name %></td>
        <td><%= antibody.human_gene.name %></td>
        <td><%= antibody.clonality %></td>
        <td><%= antibody.isotype.name %></td>
        <td><%= antibody.vendor.name %></td>
        <td><%= antibody.vendor_product_identifier %></td>
        <td><%= antibody.vendor_product_url %></td>
        <td><%= antibody.lot_identifier %></td>
        <td><%= antibody.antigen_description %></td>
        <td><%= antibody.antigen_sequence %></td>
        <td><%= link_to 'Show', antibody %></td>
        <td><%= link_to 'Edit', edit_antibody_path(antibody) %></td>
        <td><%= link_to 'Destroy', antibody, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Antibody', new_antibody_path %>
