<% title(@antibody.name, "Antibodies") %>
<header>
  <h1><%= @antibody.name %></h1>

  <ul class="actions">
		<%= render partial: "application_partials/auth_edit_record", locals: {record: @antibody} %>
		<%= render partial: "application_partials/auth_destroy_record", locals: {record: @antibody} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @antibody} %>

<table class="attributes">
	<tr>
		<th>Name</th>
		<td><%= @antibody.name %></td>
	</tr>
		
	<tr>
		<th>Organism</th>
		<td><%= @antibody.organism.name %></td>
	</tr>

	<tr>
		<th>Antibody Purifications</th>
		<td>
			<table>
				<%= render(@antibody.antibody_purifications) %>
		  </table>
		</td>
	</tr>

	<tr>
		<th>Vendor</th>
		<td><%= @antibody.vendor.name %></td>
	</tr>

	<tr>
		<th>Isotpye</th>
		<td>
			<% if @antibody.isotype.present? %>
			  <%= link_to @antibody.isotype.name, @antibody.isotype %>
			<% end %>
		</td>
	</tr>

	<tr>
		<th>Target</th>
		<td><%= link_to @antibody.target.name, @antibody.target %></td>
	</tr>

	<tr>
		<th>Vendor Product Identifier</th>
		<td><%= @antibody.vendor_product_identifier %></td>
	</tr>

	<tr>
		<th>Vendor Product URL</th>
		<td><%= link_to @antibody.vendor_product_url %></td>
	</tr>

	<tr>
		<th>Lot Identifier</th>
		<td><%= @antibody.lot_identifier %></td>
	</tr>

	<tr>
		<th>Clonality</th>
		<td><%= @antibody.clonality %></td>
	</tr>

	<tr>
		<th>Antigen Description</th>
		<td><%= @antibody.antigen_description %></td>
	</tr>

	<tr>
		<th>Antigen Sequence</th>
		<td><%= @antibody.antigen_sequence %></td>
	</tr>

</table>

<%= link_to 'Back', antibodies_path %>
