<% title(@antibody.name, "Antibodies") %>
<header>
  <h1><%= @antibody.name %></h1>

  <ul class="actions">
		<%= render partial: "application_partials/auth_edit_record", locals: {record: @antibody} %>
		<%= render partial: "application_partials/auth_destroy_record", locals: {record: @antibody} %>
  </ul>
</header>

<p>
  <strong>AntibodyName</strong></br>
  <%= @antibody.name %>
</p>

<p>
  <strong>Organism:</strong>
  <%= @antibody.organism.name %>
</p>

<p>
  <table>
    <tr><th style="text-align:left">Antibody Purifications:</th></tr>
    <%= render(@antibody.antibody_purifications) %>
  </table>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @antibody.vendor.name %>
</p>

<p>
  <strong>Isotype:</strong>
  <%= link_to @antibody.isotype.name, @antibody.isotype %>
</p>

<p>
  <strong>Human gene:</strong>
  <%= link_to @antibody.human_gene.name, @antibody.human_gene %>
</p>

<p>
  <strong>Vendor product identifier:</strong>
  <%= @antibody.vendor_product_identifier %>
</p>

<p>
  <strong>Vendor product url:</strong>
  <%= link_to @antibody.vendor_product_url %>
</p>

<p>
  <strong>Lot identifier:</strong>
  <%= @antibody.lot_identifier %>
</p>

<p>
  <strong>Clonality:</strong>
  <%= @antibody.clonality %>
</p>

<p>
  <strong>Antigen description:</strong>
  <%= @antibody.antigen_description %>
</p>

<p>
  <strong>Antigen sequence:</strong>
  <%= @antibody.antigen_sequence %>
</p>

<%= link_to 'Back', antibodies_path %>
