<p id="notice"><%= notice %></p>

<h1>Listing Crispr Genetic Modifications</h1>

<table class="attributes">
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Vendor</th>
      <th>Vendor product identifier</th>
      <th>Guide rna sequences</th>
      <th>Insert sequence</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crispr_genetic_modifications.each do |crispr_genetic_modification| %>
      <tr>
        <td><%= crispr_genetic_modification.name %></td>
        <td><%= crispr_genetic_modification.user %></td>
        <td><%= crispr_genetic_modification.vendor %></td>
        <td><%= crispr_genetic_modification.vendor_product_identifier %></td>
        <td><%= crispr_genetic_modification.guide_rna_sequences %></td>
        <td><%= crispr_genetic_modification.insert_sequence %></td>
        <td><%= link_to 'Show', crispr_genetic_modification %></td>
        <td><%= link_to 'Edit', edit_crispr_genetic_modification_path(crispr_genetic_modification) %></td>
        <td><%= link_to 'Destroy', crispr_genetic_modification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crispr genetic modification', new_crispr_genetic_modification_path %>
