<header>
  <h1>CRISPR Genetic Modifications</h1>
  
  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record", locals: {model_class: CrisprGeneticModification} %>
  </ul> 
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>Name</th>
      <th>Vendor</th>
      <th>Vendor product identifier</th>
      <th>Guide rna sequences</th>
      <th>Insert sequence</th>
			<th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @crispr_genetic_modifications.each do |cgm| %>
      <tr>
        <td><%= link_to cgm.name, cgm %></td>
        <td><%= link_to cgm.vendor.name, cgm.vendor %></td>
        <td><%= cgm.vendor_product_identifier %></td>
        <td><%= cgm.guide_rna_sequences %></td>
        <td><%= cgm.insert_sequence %></td>
        <td><%= link_to fa_icon("pencil"), edit_crispr_genetic_modification_path(cgm) %></td>
        <td><%= link_to fa_icon("trash"), cgm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
