<header>
  <h1><%= @crispr_genetic_modification.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @crispr_genetic_modification} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @crispr_genetic_modification} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @crispr_genetic_modification} %>

<table class="attributes">
	<tr>
	  <th><strong>Name:</strong></th>
  	<td><%= @crispr_genetic_modification.name %></td>
	</tr>

	<tr>
		<th><strong>Vendor:</strong></th>
  	<td><%= link_to @crispr_genetic_modification.vendor.name, @crispr_genetic_modification.vendor %></td>
	</tr>

	<tr>
  	<th><strong>Vendor product identifier:</strong></th>
  	<td><%= @crispr_genetic_modification.vendor_product_identifier %></td>
	</tr>

	<tr>
  	<th><strong>Guide rna sequences:</strong></th>
  	<td><%= @crispr_genetic_modification.guide_rna_sequences %></td>
	</tr>

	<tr>
  	<th><strong>Insert sequence:</strong></th>
  	<td><%= @crispr_genetic_modification.insert_sequence %></td>
	</tr>
</table>

<%= link_to 'Back', crispr_genetic_modifications_path %>
