<p id="notice"><%= notice %>	</tr>

<table class="attributes">
	<tr>
	  <th><strong>Name:</strong></th>
  	<td><%= @crispr_genetic_modification.name %></td>
	</tr>

	<tr>
	  <th><strong>User:</strong></th>
	 	<td><%= @crispr_genetic_modification.user %></td>
	</tr>

	<tr>
		<th><strong>Vendor:</strong></th>
  	<td><%= @crispr_genetic_modification.vendor %></td>
	</tr>

	<tr>
  	<th><strong>Vendor product identifier:</strong></th>
  	<td><%= @crispr_genetic_modification.vendor_product_identifier %></td>
	</tr>

	<tr>
  	<th><strong>Guide rna sequences:</strong></th>
  	<td><%= @crispr_genetic_modification.guide_rna_sequences %></td>
	</tr>

	<tr>
  	<th><strong>Insert sequence:</strong></th>
  	<td><%= @crispr_genetic_modification.insert_sequence %></td>
	</tr>
</table>

<%= link_to 'Edit', edit_crispr_genetic_modification_path(@crispr_genetic_modification) %> |
<%= link_to 'Back', crispr_genetic_modifications_path %>
