<%= simple_form_for(@sequencing_platform) do |f| %>
  <% if @sequencing_platform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sequencing_platform.errors.count, "error") %> prohibited this sequencing_platform from being saved:</h2>

      <ul>
      <% @sequencing_platform.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>

  <div class="actions">
    <%= f.button :submit, class: "btn-primary"%>
  </div></br>
<% end %>
