<h1>Listing sequencing_platforms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sequencing_platforms.each do |sequencing_platform| %>
      <tr>
        <td><%= sequencing_platform.name %></td>
        <td><%= link_to 'Show', sequencing_platform %></td>
        <td><%= link_to 'Edit', edit_sequencing_platform_path(sequencing_platform) %></td>
        <td><%= link_to 'Destroy', sequencing_platform, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sequencing platform', new_sequencing_platform_path %>
