<%= render partial:  "application_partials/header", locals: {rec: @sequencing_platform } %>

<table class="attributes">
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @sequencing_platform.name %></td>
  </tr>

  <tr class="notes-row">                                                                               
    <th><strong>Notes</strong></th>                                                                    
    <td><%= simple_format(@sequencing_platform.notes) %></td>                                                     
  </tr> 
</table>

<!-- Hidden form that is used when the user tries to edit the 'notes'. --> 
<%= render partial: "application_partials/edit_notes", locals: {rec: @sequencing_platform} %>

<%= link_to 'Back', sequencing_platforms_path %>
