<header>
	<h1>Isotypes</h1>

  <ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {policy_class: Isotype} %>
  </ul> 
</header>

<table id="attributes">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @isotypes.each do |isotype| %>
      <tr>
        <td><%= isotype.name %></td>
        <td><%= link_to 'Show', isotype %></td>
        <td><%= link_to 'Edit', edit_isotype_path(isotype) %></td>
        <td><%= link_to 'Destroy', isotype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
