<header>
	<h1>Listing Isotypes</h1>

  <ul class="actions">
    <li><%= link_to "New Isotype", new_isotype_path, class: "new" %></li>
  </ul> 
</header>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @isotypes.each do |isotype| %>
      <tr>
        <td><%= isotype.name %></td>
        <td><%= link_to 'Show', isotype %></td>
        <td><%= link_to 'Edit', edit_isotype_path(isotype) %></td>
        <td><%= link_to 'Destroy', isotype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
