<%= render partial:  "application_partials/show_form_error_messages", locals: { :model_obj => @isotype } %>
<header>
  <h1><%= @isotype.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @isotype} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @isotype} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @isotype } %>

<table class="attributes">
	<tr>
		<th><strong>Name:</strong></th>
		<td><%= @isotype.name %></td>
	</tr>

  <tr class="notes-row">                                                                               
    <th><strong>Notes</strong></th>                                                                    
    <td><%= simple_format(@isotype.notes) %></td>                                                     
  </tr> 
</table>

<!-- Hidden form that is used when the user tries to edit the 'notes'. --> 
<%= render partial: "application_partials/edit_notes", locals: {rec: @isotype} %>

<%= link_to 'Back', isotypes_path %>
