<header>
  <h1><%= @isotype.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @isotyp} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @isotype} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @isotype } %>

<p>
  <strong>Name:</strong>
  <%= @isotype.name %>
</p>

<%= link_to 'Back', isotypes_path %>
