<%= simple_form_for([@sequencing_request,@sequencing_run]) do |f| %>
	<%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @sequencing_run} %>

  <%= f.input :name, label_html: {"data-toggle" => "tooltip", "title" => "Sequencing run name. If unknown, can also be something like 'Run1', or 'Run2', ..."} %>
  <%= f.input :comment, label_html: {"data-toggle" => "tooltip", "title" => "Any particular remarks you may want to add."} %>

  <%= f.input :lane, label_html: {"data-toggle" => "tooltip", "title" => "The lane number on the flowcell."} %>
  <%= render partial: "application_partials/notes", locals: {f: f} %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
