<%= simple_form_for([@sequencing_request,@sequencing_run]) do |f| %>
  <%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @sequencing_run} %>

  <%= f.input :status, collection: Enums::SEQUENCING_STATUS, label_html: {"data-toggle" => "tooltip", "title" => "The status of the sequencing run. Note that the Data storage location must be specified once the status is set to 'finished'."} %>

  <%= f.input :name, label_html: {"data-toggle" => "tooltip", "title" => "Sequencing run name. If unknown, can also be something like 'Run1', or 'Run2', ... For Illumina runs, if you only have the FASTQ file and don't know the run name assigned by the Illumina sequencer, you can peek into the FASTQ file and take the first three fields of the header line of a FASTQ record, i.e. J00118:308:HLKM5BBXX, where the first ':' delimited field is the sequencing instrument name, the second is the run ID, and the third is the flowcell ID."} %>

  <%= f.input :date_submitted, include_blank: true, label_html: {"data-toggle" => "tooltip", "title" => "The day the request for sequencing was formally submitted to the sequencing center."} %>
  <%= f.association :submitted_by, collection: User.order([:last_name, :first_name]), label_html: {class: "refresh", "data-toggle" => "tooltip", "title" => "Who submitted the request for sequencing to the sequencing center."} %>
  <%= f.input :comment, label_html: {"data-toggle" => "tooltip", "title" => "Any particular remarks you may want to add."} %>

  <%= f.input :lane, label_html: {"data-toggle" => "tooltip", "title" => "The lane number on the flowcell."} %>

  <!-- Add/update associated data_storage. If this is a new @sequencing_run, then the user can pick
       from two buttons: 1) Select, 2) Create new. After selecting one of the buttons, they will be
       hidden, and depending on the choice, a select box will appear if button 1 is clicked, or additional
       form fields if 2 is clicked.  -->
  <% if not @sequencing_run.data_storage.present? %>
    <fieldset style="min-width: 70%;">
      <legend>Data storage</legend>
      <div id="sres-data-storage-btns">
        <%= link_to "Select", add_data_storage_sequencing_request_sequencing_runs_path(@sequencing_request, {select: 1}), remote: true, class: "reg-btn", id: "sres-data-storage-select", style: "margin-right: 2em;" %>
        <%= link_to "Create new", add_data_storage_sequencing_request_sequencing_runs_path(@sequencing_request, {build: 1}), class: "reg-btn", id: "sres-data-storage-new", remote: true %>
      </div>
    </fieldset>
  <% elsif @sequencing_run.persisted? %>
    <%= f.association :data_storage %>
  <% else %>
    <!-- Then user has a partially entered form and there was a re-render. -->
    <fieldset style="min-width: 70%;">
      <legend>Data storage</legend>
        <%= f.simple_fields_for :data_storage, @sequencing_run.data_storage do |ff| %>
          <%= render partial: "data_storages/form", locals: {f: ff} %>
        <% end %>
    </fieldset>
  <% end %>

  <%= render partial: "application_partials/notes", locals: {f: f} %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
