<header class="index-view-header">
  <h1 class="index-page-header">                                                                       
    <%= @title || "Sequencing Runs" %>                                                                      
  </h1>
  <p class="model-definition"><%= SequencingRun::DEFINITION %></p>

  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record", locals: {nested: [@sequencing_request]} %>
  </ul>   
  <%= render partial: "application_partials/total", locals: {records: @records} %>
</header>

<table class="attributes index">
  <thead>
    <tr>
      <%= render partial: "application_partials/index_common_table_headers" %>
      <th>Status</th>
      <th>Date submitted</th>
      <th>Submitted by</th>
      <th>Comment</th>
      <th>Sequencing request</th>
      <th>Lane</th>
      <th>Read length</th>
      <th>Data storage</th>
      <th>Comment</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |rec| %>
      <tr>
        <%= render partial: "application_partials/index_common_table_cells", locals: {record: rec} %>
        <td><%= rec.status %></td>
        <td>
          <% if rec.date_submitted.present? %>
            <%= rec.date_submitted %>
          <% end %>
        </td>
        <td>
          <% if rec.submitted_by.present? %>
            <%= rec.submitted_by %>
          <% end %>
        </td>
        <td><%= rec.comment %></td>
        <td><%= link_to rec.sequencing_request.name, rec.sequencing_request %></td>
        <td><%= rec.lane %></td>
        <td>
          <% if rec.forward_read_len.present? %>
            <%= rec.forward_read_len %>
          <% end %>
          <% if rec.reverse_read_len.present? %>
            x <%= rec.reverse_read_len %> 
          <% end %>
        </td>
        <td>
          <% if rec.data_storage.present? %>
            <%= link_to_record rec.data_storage %></td>
          <% end %>
        </td>
        <td><%= rec.comment %></td>
				<td>
          <%= link_to fa_icon("pencil"), [:edit, rec.sequencing_request, rec] %>
        	<%= link_to fa_icon("trash"),  [rec.sequencing_request,rec], method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if defined?(@page) %>                                                                               
  <%= paginate @records %>                                                                             
  <%= link_to "All", sequencing_runs_path(all: true) %>                                                        
<% end %>
