<header>
  <h1>Sequencing Results</h1>
  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record", locals: {model_class: SequencingRun} %>
  </ul>   
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>Name</th>
			<th>Creator</th>
			<th>Date created</th>
      <th>Comment</th>
      <th>User</th>
      <th>Sequencing request</th>
      <th>Run name</th>
      <th>Lane</th>
      <th>Comment</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sequencing_runs.each do |rec| %>
      <tr>
				<td><%= link_to rec.name, rec %></td>
				<td><%= rec.user.display() %></td>
				<td><%= time_ago_in_words(rec.created_at) %> ago </td>
        <td><%= rec.comment %></td>
        <td><%= link_to rec.sequencing_request.name, rec.sequencing_request %></td>
        <td><%= rec.run_name %></td>
        <td><%= rec.lane %></td>
				<td>
					<%= link_to fa_icon("pencil"), edit_sequencing_run(library) %>
        	<%= link_to 'Destroy', rec, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
