<header class="index-view-header">
  <h1 class="index-page-header">                                                                       
    <%= @title || "Sequencing Results" %>                                                                      
  </h1>
  <p class="model-definition"><%= SequencingRun::DEFINITION %></p>

  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record", locals: {model_class: SequencingRun, nested: [@sequencing_request]} %>
  </ul>   
  <%= render partial: "application_partials/total", locals: {total: @total} %>
</header>

<table class="attributes index">
  <thead>
    <tr>
      <%= render partial: "application_partials/index_common_table_headers" %>
      <th>Comment</th>
      <th>Sequencing request</th>
      <th>Lane</th>
      <th>Storage Location</th>
      <th>Comment</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |rec| %>
      <tr>
        <%= render partial: "application_partials/index_common_table_cells", locals: {record: rec} %>
        <td><%= rec.comment %></td>
        <td><%= link_to rec.sequencing_request.name, rec.sequencing_request %></td>
        <td><%= rec.lane %></td>
        <td>
          <% if rec.storage_location.present? %>
            <%= link_to rec.storage_location.display, rec.storage_location %>
          <% end %>
        </td>
        <td><%= rec.comment %></td>
				<td>
          <%= link_to fa_icon("pencil"), [:edit, rec.sequencing_request, rec] %>
        	<%= link_to fa_icon("trash"),  [rec.sequencing_request,rec], method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if defined?(@page) %>                                                                               
  <%= paginate @records %>                                                                             
  <%= link_to "All", sequencing_runs_path(all: true) %>                                                        
<% end %>
