<%= render partial:  "application_partials/show_form_error_messages", locals: { :model_obj => @sequencing_run} %>
<div>
<header>
  <h1><%= @sequencing_run.name %></h1>  
  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @sequencing_run, nested: @sequencing_request} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @sequencing_run, nested: @sequencing_request} %>
		<!-- Note that I use the SequencingRequest policy class above. The authorization will be the same level
        for both classes. I avoided using the SequencingResult class directly here since it's a nested resource
				and the partial doesn't know how to calculate the full path to the policy class in this case.
		-->
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @sequencing_run} %>

<table class="attributes">
	<tr>
		<th><strong>Name:</strong></th>
  	<td><%= @sequencing_run.name %></td>
	</tr>

	<tr>
		<th><strong>Comment:</strong></th>
	  <td><%= @sequencing_run.comment %></td>
	</tr>

	<tr>
		<th><strong>Sequencing request:</strong></th>
  	<td><%= link_to @sequencing_request.name, @sequencing_request %></td>
	</tr>

	<tr>
		<th><strong>Lane:</strong></th>
  	<td><%= @sequencing_run.lane %></td>
	</tr>

	<tr>
		<th><strong>Storage location:</strong></th>
    <td>
      <% if @sequencing_run.storage_location.present? %>
	  	  <%= link_to @sequencing_run.storage_location.display, @sequencing_run.storage_location %>
	  <% end %>
    </td>
	</tr>

  <tr class="notes-row">                                                                               
    <th><strong>Notes</strong></th>                                                                    
    <td><%= simple_format(@sequencing_run.notes) %></td>                                                     
  </tr> 
</table>

<% if not @sequencing_run.storage_location.present? %>
	<div style="padding-left: 5px;" class="jumbotron bg-info"%>
		<p class="lead">Sequencing results storage location</p>
		<%= link_to "Add",[:add_storage_location, @sequencing_request,@sequencing_run], class: 	"reg-btn" %>
	</div>
<% end %>

<% if @sequencing_run.sequencing_results.persisted.any? %>
	<h4>Library Sequencing Results</h4>
	<table id="sequencing_results" class="table-bordered table-data" >
		<thead>
			<tr>
        <th>Record ID</th>
				<th>Library</th>
				<% if @sequencing_request.paired_end? %>
					<th>Paired Barcode</th>
				<% else %>
					<th>Barcode</th>
				<% end %>
				<th>Read1 Count</th>
				<th>Read1 URI</th>
				<% if @sequencing_request.paired_end? %>
					<th>Read2 Count </th>
					<th>Read2 URI</th>
				<% end %>
				<th>Comment</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
				<%= render partial: "sequencing_runs/row_sequencing_result", locals: {sequencing_results: @sequencing_run.sequencing_results.persisted} %>
		</tbody>
	</table>
<% end %>

<div id="sequencing_result_form"></div>
<!-- The div above with id="sequencing_result_form" will serve as the container for the sequencing_results form that jQuery will add
		 when the user clicks on the button below with id="new_sequencing_result". 
-->
<% if not @sequencing_run.get_libraries_without_sequencing_results.any? %>
	<!-- Create hidden element for jQuery to look for. If jQuery finds it, then it will disable the link below with id="new_sequencing_result" -->
	<span id="hide_new_sequencing_result" hidden></span>
<% end %>

<% if @sequencing_run.sequencing_results.present? and not @sequencing_run.sequencing_results.last.persisted? %>
	<!-- Then the user was trying to add one and there was a validation error upon submission. Display form again. -->
	<% @sequencing_result = @sequencing_run.sequencing_results.last %>
	<%= render partial: "add_sequencing_result", layout: "layouts/fieldset_sequencing_result" %>
<% else %>
	<% if @sequencing_run.storage_location.present? and @sequencing_run.storage_location.persisted? %>
		<table class="seqresult-table-btns">
			<td><%= link_to "Add Sequencing Result", [:new_sequencing_result,@sequencing_request,@sequencing_run], class: "reg-btn", remote: true, id: "new_sequencing_result" %></td>
			<td style="padding-left: 1em; padding-right: 1em;">or</td>
			<td><%= link_to "Automated Fetch","#", class: "reg-btn" %></td>
		</table>
	<% end %>
<% end %>
</br></br>

<!-- Hidden form that is used when the user tries to edit the 'notes'. --> 
<%= render partial: "application_partials/edit_notes", locals: {rec: @sequencing_run} %>

<%# render partial: "back" %>
