<div class="jumbotron bg-info jumbotron-select-crispr" style="position: relative">
  <h3>Create CRISPR Modification</h3>
  <%= simple_form_for @biosample do |f| %>
    <% @crispr = @biosample.crispr_modification %>
    <!-- Need to explicitely set @crispr since the Crispr form expects this variable. -->
    <%= f.simple_fields_for :crispr_modification, @crispr do |ff| %>
      <%= render partial: "crispr_modifications/form", locals: {f: ff} %>
    <% end %>
    <div class="form-actions">
      <%= f.button :submit, "Add", class: "btn-primary" %>
    </div></br>
  <% end %>
  <% if not @biosample.errors.any? %>
    <!-- Don't show toggle-up button if user is form was already submitted with errors. -->
    <button style="position: absolute; right: 0; bottom: 0;" class="biosample-toggle-up_add_crispr_form" type="button" class="btn btn-link"><%= fa_icon("toggle-up lg") %></button>
  <% end %>
</div>
