	<%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @biosample } %>

	<!-- Add hidden fields here. :prototype is hidden b/c that is only set on a single_cell_sorting experiment and done so behind the
	     scenes when adding the biosample prototype for sorting.
	-->
	<%= f.input :prototype, as: :hidden %>
	<%= f.association :user, as: :hidden %>

	<%= f.input :name, label_html: {"data-toggle" => "tooltip", "title" => "Unique biosample name"} %> 

	<%= f.association :parent_biosample, as: :hidden, label_html: {"data-toggle" => "tooltip", "title" => "If this is a part of another biosample, specify which one."} %>

	<%= f.input :control, label_html: {"data-toggle" => "tooltip", "title" => "Select if this biosample will be used as a control in an experiment."} %>

	<% if @biosample.documents.persisted.any? %>
		<table class="min-table">
			<thead>
				<tr>
					<th><strong>Protocol Documents:</strong></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%= f.simple_fields_for :documents do |ff| %>
					<% doc = @biosample.documents[ff.index] %>
					<tr>
	 			   	<td><%= doc.name %></td>
	 		 	  	<td><%= ff.input_field :_destroy, as: :boolean %> Remove</td>
		 	  	</tr>
	 	  	<% end %>  
			</tbody>
	  </table></br>
	<% end %>

	<!-- Show select for Documents. Mutliple documents can be selected.
				 If the form was rejected due to a validation error, then the
				 user will have been presented with this form again to correct it, 
				 and I set the default selectioned to what the user had originally, 
				 if any. -->

	<%= f.association :documents, label: "Add documents", collection: sorted_document_name_id(), prompt: "Select documents",
			label_html: {"data-toggle" => "tooltip","title" => "Documents that provide additional information (not data file)."} %>

	<%= f.association :biosample_type, collection: BiosampleType.order(:name), prompt: "Select the Biosample Type",
			label_html: {"data-toggle" => "tooltip", "title" => "The categorization of the biosample. See 'Biosample Types' in the Object Store."} %>

	<div class="biosample_term_name">
		<% if @biosample.biosample_term_name.present? %>
			<%= f.association :biosample_term_name %>
		<% end %>
	</div>
	<!-- use div above to contain the 'input' to select the biosample_term_name. jQuery will add this input when biosample_type is set, and 
			 update the input's option list whenever biosample_type changes. -->

  <%= f.input :description, label_html: {"data-toggle" => "tooltip", "title" => "A plain text description of the biosample. Do not include experiment details, constructs or treatments."} %>

	<%= f.association :vendor, collection: Vendor.order(:name), prompt: "Select the Vendor",
			label_html: {"data-toggle" => "tooltip", "title" => "The originating lab or vendor."} %>

	<%= f.input:vendor_product_identifier, 
			label_html: {"data-toggle" => "tooltip", "title" => "The product identifier provided by the originating lab or vendor."} %>

	<%= f.input :lot_identifier,
			label_html: {"data-toggle" => "tooltip", "title" => "The lot identifier provided by the originating lab or vendor."} %>

	<%= f.association :donor, collection: Donor.order(:name), label_method: :name, prompt: "Choose The Donor",
			label_html: {"data-toggle" => "tooltip", "title" => "The donor of the biosample"} %>

	<%= f.input :passage_number,
			label_html: {"data-toggle" => "tooltip", "title" => "In calculating passage number, include passages from the source."} %>

	<%= f.input :culture_harvest_date,
			label_html: {"data-toggle" => "tooltip", "title" => "For cultured samples, the date the biosample was taken."} %>

	<%= f.input :submitter_comments,
			label_html: {"data-toggle" => "tooltip", "title" => "Additional information specified by the submitter to be displayed as a comment on the portal."} %>

	<%= f.input :encid, label_html: {"data-toggle" => "tooltip", "title" => "The corresponding ID for this biosample on the ENCODE Portal"} %>
	<!-- Add submit button -->
	<% if @submit_btn.present? %>
	 	 <%= render partial: 'submit', locals: {f: f} %>
	<% end %>
