<%= simple_form_for(@biosample) do |f| %>
	<%= f.error_notification %>

	<%= f.input :name %> (Max. 20 characters)

  <table>
    <tr>
      <th>Associated Protocol Documents:</th>
    </tr>
    <%= f.simple_fields_for :documents do |ff| %>
      <% doc = @biosample.documents[ff.index] %>
      <tr>
        <td><%= doc.name %></td>
        <td><%= ff.input :_destroy, as: :boolean, label: "Remove" %></td>
      </tr></br>
     <% end %>  
  </table>

	<!-- Show select for Documents. Mutliple documents can be selected.
				 If the form was rejected due to a validation error, then the
				 user will have been presented with this form again to correct it, 
				 and I set the default selectioned to what the user had originally, 
				 if any. -->
	<% selected = nil %>
	<% if @biosample.documents and @biosample.new_record? %>
		<% selected = @biosample.documents.map{|x| x.id} %>
	<% end %>
	<%= render(partial: "documents/select_documents", locals: {f: f,selected: selected}) %>

	<%= f.input :biosample_type_id, collection: sorted_biosampletype_name_id(), prompt: "Select the Biosample Type" %>

  <%= f.input :description %>

	<%= f.input :vendor_id, collection: sorted_vendor_name_id(), prompt: "Select the Vendor" %>

	<%= f.input:vendor_product_identifier %>

	<%= f.input :lot_identifier %>

	<%= f.input :ontology_term_name, label: "Ontology term name describing the biosample" %>

	<%= f.input :ontology_term_accession, label: "Ontology term accession describing the biosample" %> (An UBERON, EFO, CL, NTR, FBbt, or WBbt identifer)

	<%= f.input :donor_id, collection: sorted_donor_name_id, prompt: "Choose The Human Donor" %>

	<%= f.input :passage_number %>

	<%= f.input :culture_harvest_date %>

	<%= f.input :submitter_comments %>

	<%= f.input :encid %>

  <div class="actions">
    <%= f.button :submit, class: "btn-primary"%>
  </div></br></br>

<% end %>
