<%= form_for(@biosample) do |f| %>
  <% if @biosample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@biosample.errors.count, "error") %> prohibited this biosample from being saved:</h2>

      <ul>
      <% @biosample.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div>
		<strong>Associated Protocol Documents</strong></br>
		<% @biosample.documents.to_a.each do |d| %>
			<%= d.name %></br>
		<% end %>
	</div></br>

	<div>
		<strong>Add Protocol Document From List</strong></br>
		<% default_document_id = nil %>
		<% if not @biosample.documents.nil? %>
			<% default_document_id = @biosample.documents.last %>
		<% end %>
		<%= f.select :documents, choices=options_for_select(sorted_document_name_id,default_document_id),html_options={:prompt => "Choose a Document",multiple: false,size:1} %>
	</div></br>

	<div class="field">
		Biosample Type:</br>
		<% biosample_types = BiosampleType.all.map{ |x| [x.name,x.id] } %>
		<% biosample_types.sort! do |x,y| %>
			<% x[0] <=> y[0] %>
		<% end %>
		<% biosample_type_id = nil %>
		<% if not @biosample.biosample_type.nil? %>
			<% biosample_type_id = @biosample.biosample_type.id %>
		<% end %>
		<%= f.select :biosample_type_id, choices=options_for_select(biosample_types,selected=biosample_type_id),html_options={:prompt => "Select the Biosample Type"}%>
	</div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

	<div class="field">
		<%= f.label :vendor_id %>
		<% vendor_id = nil %>
		<% if not @biosample.vendor.nil? %>
			<% vendor_id = @biosample.vendor.id %>
		<% end %>
		<%= f.select :vendor_id, choices=options_for_select(sorted_vendor_name_id,selected=vendor_id),html_options={:prompt => "Select the Vendor"} %>
	</div>

  <div class="field">
		Vendor Product Identifier:</br>
    <%= f.text_field :vendor_product_identifier %>
  </div>

  <div class="field">
		Lot Identifier:</br>
    <%= f.text_field :lot_identifier %>
  </div>

  <div class="field">
		Biosample Term Name:</br>
    <%= f.text_field :term_name %>
  </div>

  <div class="field">
		Biosample Term Identifier:</br>
    <%= f.text_field :term_identifier %>
  </div>

	<div class="field">
		Human Donor:</br>
		<% donors = HumanDonor.all.map{ |x| [x.encode_alias,x.id]} %>
		<% donors.sort! do |x,y| %>
			<% x[0] <=> y[0] %>
		<% end %>
		<% human_donor_id = nil %>
		<% if not @biosample.human_donor.nil? %>
			<% human_donor_id = @biosample.human_donor.id %>
		<% end %>
		<%= f.select :human_donor_id, choices=options_for_select(donors,selected=human_donor_id),html_options={:prompt => "Choose The Human Donor"} %>
	</div>

  <div class="field">
		Passage Number:</br>
    <%= f.number_field :passage_number %>
  </div>

  <div class="field">
		Culture Harvest Date:</br>
    <%= f.date_select :culture_harvest_date %>
  </div>

	<div>
		Submitter Comments:</br>
    <%= f.text_field :submitter_comments %>
  </div>

	</br></br>
  <div class="field">
		ENCODE Identifier</br>
    <%= f.text_field :encid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
