<%= simple_form_for(@biosample) do |f| %>
	<%= f.error_notification %>

	<%= f.input :name %> (Max. 20 characters)

	<div>
		<strong>Associated Protocol Documents:</strong>
		<% if @biosample.new_record? %>
			None
		<% else %></br>
			<table>
	      <%= render(@biosample.documents) %>
			</table>
    <% end %>
	</div></br>


	<!-- Show select for Documents. Mutliple documents can be selected.
				 If the form was rejected due to a validation error, then the
				 user will have been presented with this form again to correct it, 
				 and I set the default selectioned to what the user had originally, 
				 if any. -->
	<% selected = nil %>
	<% if @biosample.documents and @biosample.new_record? %>
		<% selected = @biosample.documents.map{|x| x.id} %>
	<% end %>
	<%= render(partial: "documents/select_documents", locals: {f: f,selected: selected}) %>

	<% biosample_type_id = nil %>
	<% if not @biosample.biosample_type.nil? %>
		<% biosample_type_id = @biosample.biosample_type.id %>
	<% end %>
	<%= f.input :biosample_type_id, collection: sorted_biosampletype_name_id(), selected: biosample_type_id, prompt: "Select the Biosample Type" %>


  <%= f.input :description %>

	<% vendor_id = nil %>
	<% if not @biosample.vendor.nil? %>
		<% vendor_id = @biosample.vendor.id %>
	<% end %>
	<%= f.input :vendor_id, collection: sorted_vendor_name_id(), selected: vendor_id, prompt: "Select the Vendor" %>


	<%= f.input:vendor_product_identifier %>

	<%= f.input :lot_identifier %>

	<%= f.input :ontology_term_name, label: "Ontology term name describing the biosample" %>

	<%= f.input :ontology_term_accession, label: "Ontology term accession describing the biosample" %> (An UBERON, EFO, CL, NTR, FBbt, or WBbt identifer)

	<% donor_id = nil %>
	<% if not @biosample.donor.nil? %>
		<% donor_id = @biosample.donor.id %>
	<% end %>
	<%= f.input :donor_id, collection: sorted_donor_name_id,selected: donor_id, prompt: "Choose The Human Donor" %>

	<%= f.input :passage_number %>

	<%= f.input :culture_harvest_date %>

	<%= f.input :submitter_comments %>

	<%= f.input :encid %>

  <div class="actions">
    <%= f.button :submit, class: "btn-primary"%>
  </div></br></br>

<% end %>
