<header>
	<h1 class="index-page-header">Biosamples</h1>
	<p class="model-definition"><%= Biosample::DEFINITION %></p>

  <ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {model_class: Biosample} %>
  </ul> 
</header>	
	

<table class="attributes">
  <thead>
    <tr>
			<th>Name</th>
			<th>Creator</th>
			<th>Date created</th>
			<th>Owner</th>
			<th>Parent Biosample</th>
			<th>Well</th>
      <!-- <th>Description</th> -->
      <th>Vendor</th>
			<th>Biosample Type</th>
      <th>Biosample Term Name</th>
			<th>CRISPR</th>
      <th>ENCID</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @biosamples.each do |rec| %>
				<td><%= link_to rec.name, rec%></td>
				<td><%= rec.user.display() %></td>
				<td><%= time_ago_in_words(rec.created_at) %> ago </td>
				<td>
					<% if rec.owner.present? %>
						<%= rec.owner.display %>
					<% end %>
				</td>
				<% if rec.parent_biosample.present? %>
					<td><%= link_to rec.parent_biosample.name, rec.parent_biosample %></td>
				<% else %>
					<td></td>
				<% end %>
				<% if rec.well.present? %>
					<td><%= link_to rec.well.name, [rec.well.plate, rec.well] %></td>
				<% else %>
					<td></td>
				<% end %>
        <!-- <td><%# rec.description %></td> -->
        <td><%= rec.vendor.name %></td>
				<td><%= rec.biosample_type.name %></td>
        <td><%= link_to rec.biosample_term_name.name, rec.biosample_term_name %></td>
				<% if rec.crispr_modification.present? %>	
					<td><%= link_to rec.crispr_modification.name, rec.crispr_modification %></td>
				<% else %>
					<td></td>
				<% end %>
        <td><%= rec.encid %></td>
        <td>
					<%= link_to fa_icon("pencil"), edit_biosample_path(rec) %>
        	<%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
