<header>
	<h1>Biosamples</h1>

  <ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {record: Biosample.first} %>
  </ul> 
</header>	
	

<table id="attributes">
  <thead>
    <tr>
			<th>Name</th>
      <th>Description</th>
      <th>Vendor</th>
      <th>Biosample Term Name</th>
      <th>ENCID</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @biosamples.each do |biosample| %>
      <tr>
				<td><%= link_to biosample.name, biosample %></td>
        <td><%= biosample.description %></td>
        <td><%= biosample.vendor.name %></td>
        <td><%= biosample.ontology_term_name %></td>
        <td><%= biosample.encid %></td>
        <td><%= link_to 'Show', biosample %></td>
        <td><%= link_to 'Edit', edit_biosample_path(biosample) %></td>
        <td><%= link_to 'Destroy', biosample, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
