<% title(@biosample.name,"Biosamples") %> 
<%= render partial:  "application_partials/show_form_error_messages", locals: { :model_obj => @biosample } %>
<header>
  <h1><%= @biosample.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @biosample} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @biosample} %>
    <!-- Add button for cloning the biosample X times, but only if it isn't a biosample prototype
         on a single_cell_sorting since this functionality doesn't make sense there. -->
    <% unless @biosample.sorting_biosample_single_cell_sorting.present? %>
      <li>
        <%= link_to "Clone", [:clone, @biosample], class: "clone" %>
      </li>
    <% end %>
  </ul>
</header>  

<%= render partial: "application_partials/record_meta", locals: { record: @biosample } %>

<table class="attributes">

  <tr>
    <th><strong>Name</strong></th>
    <td><%= @biosample.name %></td>
  </tr>

  <tr>
    <th><strong>Control?</strong></th>
    <td><%= @biosample.control? %></td>
  </tr>

  <tr>
    <th><strong>Times cloned:</strong></th>
    <td><%= @biosample.times_cloned %></td>
  </tr>

  <% if @biosample.starting_biosample_single_cell_sortings.any? %>
    <tr>
      <th><strong>starting biosample for Single Cell Sortings</strong></th>
      <td><%= render partial: "application_partials/link_to_has_many", locals: {links: @biosample.starting_biosample_single_cell_sortings} %></td>
    </tr>
  <% end %>


  <% if @biosample.sorting_biosample_single_cell_sorting.present? %>
    <tr>
      <th><strong>sorting biosample for Single Cell Sorting</strong></th>
      <td><%= link_to_record(@biosample.sorting_biosample_single_cell_sorting) %></td>
    </tr>
  <% end %>

  <tr>
    <th><strong>Tube label</strong></th>
    <td><%= @biosample.tube_label %></td>
  </tr>

  <tr>
    <th><strong>NIH Institutional Certification</strong></th>
    <td>
        <%= @biosample.nih_institutional_certification %>
    </td>
  </tr>

  <tr>
    <th><strong>Description:</strong></th>
    <td><%= @biosample.description %></td>
  </tr>

  <% if @biosample.owner.present? %>
    <tr>
      <th><strong>Owner</strong></th>
      <td><%= @biosample.owner.display %></td>
    </tr>
  <% end %>

  <% if @biosample.well.present? %>
    <tr>
      <th><strong>Well</strong></th>
      <% plate = @biosample.well.plate %>
      <td>Plate: <%= link_to plate.name, plate %>, Well: <%= link_to @biosample.well.name, [plate, @biosample.well] %></td>
    </tr>
  <% end %>

  <% if @biosample.part_of.present? %>
    <tr>
      <th><strong>Parent Biosample</strong></th>
      <td><%= link_to @biosample.part_of.name, @biosample.part_of %></td>
    </tr>
  <% end %>

  <% if @biosample.pooled_from_biosamples.any? %>
    <tr>
      <th><strong>Pooled from biosamples</strong></th>
      <td><%= render partial: "application_partials/link_to_has_many", locals: {links: @biosample.pooled_from_biosamples} %></td>
    </tr>
  <% end %>

  <% if @biosample.biosample_parts.any? %>
    <tr>
      <th><strong>Child biosamples:</strong></th>
      <td>
        <%= link_to "#{@biosample.biosample_parts.length} total", [:biosample_parts, @biosample] %>
      </td>
    </tr>
  <% end %>

  <% prototype_instances = @biosample.prototype_instances %>
  <% if prototype_instances.any? %>
  <tr>
    <th><strong>Prototype instances</strong></th>
    <td>
      <%= link_to "#{@biosample.prototype_instances.length} total", [:prototype_instances, @biosample] %>
    </td>
  <% else %>
    <th><strong>Prototype?</strong></th>
    <td>False</td>
  <% end %>
  </tr>

  <% if @biosample.from_prototype_id.present? %>
    <tr>
      <th><strong>Tracking prototype</strong></th> 
      <td>
        <%= link_to_record(@biosample.from_prototype)  %>
      </td>
    </tr>
  <% end %>
    
  </tr>
  
  <tr>
    <th><strong>Protocol documents:</strong></th>
    <td>
      <%= render partial: "application_partials/link_to_has_many", locals: {links: @biosample.all_documents} %>
    </td>
  </tr>

  <tr>
    <th><strong>Treatments:</strong></th>
    <td>
      <%= render partial: "application_partials/link_to_has_many", locals: {links: @biosample.all_treatments} %>
    </td>
  </tr>

  <tr>
    <th><strong>Biosample Type:</strong></th>
    <td><%= @biosample.biosample_type.name %></td>
  </tr>

  <tr>
    <th><strong>Biosample Term Name:</strong></th>
    <td><%= link_to @biosample.biosample_term_name.name, @biosample.biosample_term_name %></td>
  </tr>

  <tr>
    <th><strong>Vendor:</strong></th>
    <td><%= link_to @biosample.vendor.name, @biosample.vendor %></td>
  </tr>

  <tr>
    <th><strong>Vendor product identifier:</strong></th>
    <td><%= @biosample.vendor_product_identifier %></td>
  </tr>

  <tr>
    <th><strong>Lot identifier:</strong></th>
    <td><%= @biosample.lot_identifier %></td>
  </tr>

  <tr>
    <th><strong>Donor:</strong></th>
    <td><%= link_to @biosample.donor.name, @biosample.donor %></td>
  </tr>

  <tr>
    <th><strong>Starting amount:</strong></th>
    <td>
      <% if @biosample.starting_amount.present? %>
        <%= @biosample.starting_amount %>&nbsp;<%= @biosample.starting_amount_units %>
      <% end %>
    </td>
  </tr>

  <tr>
    <th><strong>Passage number:</strong></th>
    <td><%= @biosample.passage_number %></td>
  </tr>

  <% if @biosample.tissue_preservation_method.present? %>
    <tr>
      <th><strong>Tissue preservation method:</strong></th>
      <td><%= @biosample.tissue_preservation_method %></td>
    </tr>
  <% end %>

  <tr>
    <th><strong>Date biosample taken:</strong></th>
    <td><%= @biosample.date_biosample_taken %></td>
  </tr>

  <tr>
    <th><strong>Submitter comments:</strong></th>
    <td><%= @biosample.submitter_comments %></td>
  </tr>

  <tr>
    <th><strong>CRISPR</strong></th>
    <% if @biosample.crispr_modification.present? and @biosample.crispr_modification.persisted?%>
      <td><%= link_to @biosample.crispr_modification.name, @biosample.crispr_modification %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>

  <tr>
    <th><strong>Associated libraries:</strong></th>
    <% if @biosample.libraries.present? %>
      <td>
        <%= render partial: "application_partials/link_to_has_many", locals: {links: @biosample.libraries} %>
      </td>
    <% else %>
      <td>None</td>
    <% end %>
  </tr>

  <tr class="notes-row">                                                                               
    <th><strong>Notes</strong></th>                                                                    
    <td><%= simple_format(@biosample.notes) %></td>                                                     
  </tr> 

  <tr>
    <th><strong>Replicates</th></strong>
    <td><%= render partial: "application_partials/link_to_has_many", locals: {links: @biosample.biosample_replicates} %></td>
  </tr>
</table>

<% if @biosample.crispr_modification.blank? %>
  <%= link_to "Add CRISPR modification", add_crispr_modification_biosample_path(@biosample), class: "new", 
      id: "biosample_add_crispr_modification" %>
<% end %>
<%= link_to "Make replicate", [:make_replicate, @biosample], class: "reg-btn"  %>
</br>
</br>

<!-- Hidden form that is used when the user tries to edit the 'notes'. -->                             
<%= render partial: "application_partials/edit_notes", locals: {rec: @biosample} %>

<h3 class="section">Validations</h3>
<h4>Immunoblots</h4>
<% if @biosample.immunoblots.any? %>
  <%= render partial: "application_partials/link_to_has_many", locals: {links: @biosample.immunoblots} %>
<% end %>

<%= link_to "Back", biosamples_path %>
