<% title(@biosample.name,"Biosamples") %> 
<%= render partial:  "application_partials/show_form_error_messages", locals: { :model_obj => @biosample } %>
<header>
	<h1><%= @biosample.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @biosample} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @biosample} %>
  </ul>
</header>	

<%= render partial: "application_partials/record_meta", locals: { record: @biosample } %>

<table class="attributes">

  <tr>
		<th><strong>Name</strong></th>
		<td><%= @biosample.name %></td>
	</tr>

	<tr>
	  <th><strong>Description:</strong></th>
	  <td><%= @biosample.description %></td>
	</tr>

	<% if @biosample.owner.present? %>
		<tr>
			<th><strong>Owner</strong></th>
			<td><%= @biosample.owner.display %></td>
		</tr>
	<% end %>

	<tr>
		<th><strong>Prototype?</strong></th>
		<td><%= @biosample.prototype? %></th>
	</tr>

	<% if @biosample.starting_biosample_single_cell_sorting.present? %>
		<tr>
			<th><strong>Starting biosample for Single Cell Sorting</strong></th>
			<td><span>Single Cell Sorting: </span><%= link_to "#{@biosample.starting_biosample_single_cell_sorting.name}", @biosample.starting_biosample_single_cell_sorting %></td>
		</tr>
	<% end %>

	<% if @biosample.sorting_biosample_single_cell_sorting.present? %>
		<tr>
			<th><strong>Sorting biosample for Single Cell Sorting</strong></th>
			<td><span>Single Cell Sorting: </span><%= link_to "#{@biosample.sorting_biosample_single_cell_sorting.name}", @biosample.sorting_biosample_single_cell_sorting %></td>
		</tr>
	<% end %>

	<% if @biosample.parent_biosample.present? %>
		<tr>
			<th><strong>Parent Biosample</strong></th>
			<td><%= link_to @biosample.parent_biosample.name, @biosample.parent_biosample %></td>
		</tr>
	<% end %>

	<% if @biosample.well.present? %>
		<tr>
			<th><strong>Well</strong></th>
			<% plate = @biosample.well.plate %>
			<td>Plate: <%= link_to plate.name, plate %>, Well: <%= link_to @biosample.well.name, [plate, @biosample.well] %></td>
		</tr>
	<% end %>

	<% if @biosample.child_biosamples.any? %>
		<tr>
			<th><strong>Child Biosamples</strong></th>
			<td>
				<ul class="list-unstyled">
					<% @biosample.child_biosamples.each do |x| %>
						<li><%= link_to x.name, x %></li>
					<% end %>
				</ul>
			</td>
		</tr>
	<% end %>

	<tr>
		<th><strong>Documents:</strong></th>
		<td>
			<%= render partial: "documents/link_to_documents", locals: {documents: @biosample.documents} %>
		</td>
	</tr>

  <tr>
    <th><strong>Treatments:</strong></th>
    <td>
      <%= render partial: "treatments/link_to_treatments", locals: {treatments: @biosample.treatments} %>
    </td>
  </tr>

	<tr>
		<th><strong>Biosample Type:</strong></th>
		<td><%= @biosample.biosample_type.name %></td>
	</tr>

	<tr>
  	<th><strong>Biosample Term Name:</strong></th>
  	<td><%= link_to @biosample.biosample_term_name.name, @biosample.biosample_term_name %></td>
	</tr>

	<tr>
		<th><strong>Vendor:</strong></th>
		<td><%= link_to @biosample.vendor.name, @biosample.vendor %></td>
	</tr>

	<tr>
  	<th><strong>Vendor product identifier:</strong></th>
  	<td><%= @biosample.vendor_product_identifier %></td>
	</tr>

	<tr>
	  <th><strong>Lot identifier:</strong></th>
  	<td><%= @biosample.lot_identifier %></td>
	</tr>

	<tr>
		<th><strong>Donor:</strong></th>
		<td><%= link_to @biosample.donor.name, @biosample.donor %></td>
	</tr>

	<tr>
	  <th><strong>Passage number:</strong></th>
	  <td><%= @biosample.passage_number %></td>
	</tr>

  <% if @biosample.biosample_type.tissue? %>
	  <tr>
	    <th><strong>Tissue preservation method:</strong></th>
	    <td><%= @biosample.tissue_preservation_method %></td>
	  </tr>
  <% end %>

	<tr>
	  <th><strong>Date biosample taken:</strong></th>
	  <td><%= @biosample.date_biosample_taken %></td>
	</tr>

	<tr>
	  <th><strong>Submitter comments:</strong></th>
	  <td><%= @biosample.submitter_comments %></td>
	</tr>

  <tr>
    <th><strong>Treatments:</strong></th>
    <td><%= render partial: "treatments/link_to_treatments", locals: {treatments: @biosample.treatments } %></td>
  </tr>
 

	<tr>
		<th><strong>CRISPR</strong></th>
		<% if @biosample.crispr_modification.present? and @biosample.crispr_modification.persisted?%>
			<td><%= link_to @biosample.crispr_modification.name, @biosample.crispr_modification %></td>
		<% else %>
			<td></td>
		<% end %>
	</tr>

	<tr>
    <th><strong>Associated Libraries:</strong></th>
    <% if @biosample.libraries.present? %>
			<td>
				<%= render partial: "libraries/link_to_library", locals: {libraries: @biosample.libraries} %>
			</td>
    <% else %>
      <td>None</td>
    <% end %>
	</tr>
</p>
</table>

<% if @biosample.crispr_modification.blank? %>
	<%= link_to "Add CRISPR modification", add_crispr_modification_biosample_path(@biosample), class: "new", 
			remote: true, 
			id: "biosample_add_crispr_modification" %>
<% else %>
	<% if not @biosample.crispr_modification.persisted? %>
		<!-- The an attempt to create one was made, but there was a validation issue -->
		<%= render partial: "add_crispr_modification" %>
	<% end %>
<% end %>
<div id="biosample_crispr_modification_form" ></div>
  <!-- #biosample_crispr_modification_form will serve as the container for the result of the AJAX request above. See relevant jQuery in biosamples.js.coffee. -->
</br></br>

<%= render partial: "back" %>
