<% title(@biosample.name,"Biosamples") %> 

<p>
	<strong>Biosample Name</strong></br>
	<%= @biosample.name %>
</p>

<p>
	<table>
		<tr><th style="text-align:left">Documents:</th></tr>
		<%= render(@biosample.documents) %>
	</table>
</p>

<p>
	<strong>Biosample Type:</strong></br>
	<%= @biosample.biosample_type.name %>
</p>

<p>
  <strong>Description:</strong></br>
  <%= @biosample.description %>
</p>

<p> 
	<strong>Vendor:</strong></br>
	<%= @biosample.vendor.name %>
</p>

<p>
  <strong>Vendor product identifier:</strong></br>
  <%= @biosample.vendor_product_identifier %>
</p>

<p>
  <strong>Lot identifier:</strong></br>
  <%= @biosample.lot_identifier %>
</p>

<p>
  <strong>Ontology Term Name describing the biosample:</strong></br>
  <%= @biosample.ontology_term_name%>
</p>

<p>
  <strong>Ontology Term Accession describing the biosample:</strong></br>
  <%= @biosample.ontology_term_accession%>
</p>

<p>
	<strong>Human Donor:</strong></br>
	<%= @biosample.human_donor.encode_alias%>
</p>

<p>
  <strong>Passage number:</strong></br>
  <%= @biosample.passage_number %>
</p>

<p>
  <strong>Culture harvest date:</strong></br>
  <%= @biosample.culture_harvest_date %>
</p>

<p>
  <strong>Submitter comments:</strong></br>
  <%= @biosample.submitter_comments %>
</p>

<p>
  <strong>Description:</strong></br>
  <%= @biosample.description %>
</p>

<p>
  <strong>Encid:</strong></br>
  <%= @biosample.encid %>
</p>

<%= link_to 'Edit', edit_biosample_path(@biosample) %> |
<%= link_to 'Back', biosamples_path %>
