<% title(@biosample.name,"Biosamples") %> 
<header>
	<h1><%= @biosample.name %></h1>

  <ul class="actions">
    <li><%= link_to "Edit Biosample", edit_biosample_path(@biosample), class: "edit" %></li>
    <li><%= link_to "Delete Biosample", biosample_path(@biosample), method: :delete,
                     data: { confirm: "Are you sure you would like to delete this biosample?"},
                     class: "delete" %></li>
  </ul>
</header>	

<table id="attributes">
  <tr>
    <th>Created By:</th>
    <td><%= @biosample.user.email %></td>
  </tr>
  <tr>
    <th>Date Created:</th>
    <td><%= time_ago_in_words(@biosample.created_at) %> ago </td>
  </tr>
  <tr>
		<th>Biosample Name</th>
		<td><%= @biosample.name %></td>
	</tr>
	<tr>
		<th>Documents:</th>
		<%= render partial: "documents/link_to_document", locals: {documents: @biosample.documents} %>
	</tr>
	<tr>
		<th>Biosample Type:</th>
		<td><%= @biosample.biosample_type.name %></td>
	</tr>
  <tr>
		<th>Description:</th>
  	<td><%= @biosample.description %></td>
	</tr>
	<tr>
		<th>Vendor:</th>
		<td><%= link_to @biosample.vendor.name, @biosample.vendor.url %></td>
	</tr>
	<tr>
  	<th>Vendor product identifier:</th>
  	<td><%= @biosample.vendor_product_identifier %></td>
	</tr>
	<tr>
	  <th>Lot identifier:</th>
  	<td><%= @biosample.lot_identifier %></td>
	</tr>
	<tr>
  	<th>Ontology Term Name describing the biosample:</th>
  	<td><%= @biosample.ontology_term_name%></td>
	</tr>
	<tr>
	  <th>Ontology Term Accession describing the biosample:</th>
	  <td><%= @biosample.ontology_term_accession%></td>
	</tr>
	<tr>
		<th>Human Donor:</th>
		<td><%= link_to @biosample.donor.encode_alias, encode_url(@biosample.donor.encode_identifier)%></td>
	</tr>
	<tr>
	  <th>Passage number:</th>
	  <td><%= @biosample.passage_number %></td>
	</tr>
	<tr>
	  <th>Culture harvest date:</th>
	  <td><%= @biosample.culture_harvest_date %></td>
	</tr>
	<tr>
	  <th>Submitter comments:</th>
	  <td><%= @biosample.submitter_comments %></td>
	</tr>
	<tr>
	  <th>Description:</th>
	  <td><%= @biosample.description %></td>
	</tr>
	<tr>
	  <th>Encid:</th>
	  <td><%= @biosample.encid %></td>
	</tr>
</table>
<%= link_to 'Back', biosamples_path %>
