<% title(@biosample.name,"Biosamples") %> 
<header>
	<h1><%= @biosample.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @biosample} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @biosample} %>
  </ul>
</header>	

<%= render partial: "application_partials/record_meta", locals: { record: @biosample } %>

<table class="attributes">
  <tr>
		<th>Biosample Name</th>
		<td><%= @biosample.name %></td>
	</tr>
	<tr>
		<th>Documents:</th>
		<td>
			<%= render partial: "documents/link_to_document", locals: {documents: @biosample.documents} %>
		</td>
	</tr>
	<tr>
		<th>Biosample Type:</th>
		<td><%= @biosample.biosample_type.name %></td>
	</tr>
  <tr>
		<th>Description:</th>
  	<td><%= @biosample.description %></td>
	</tr>
	<tr>
		<th>Vendor:</th>
		<td><%= link_to @biosample.vendor.name, @biosample.vendor.url %></td>
	</tr>
	<tr>
  	<th>Vendor product identifier:</th>
  	<td><%= @biosample.vendor_product_identifier %></td>
	</tr>
	<tr>
	  <th>Lot identifier:</th>
  	<td><%= @biosample.lot_identifier %></td>
	</tr>
	<tr>
  	<th>Ontology Term Name describing the biosample:</th>
  	<td><%= @biosample.ontology_term_name%></td>
	</tr>
	<tr>
	  <th>Ontology Term Accession describing the biosample:</th>
	  <td><%= @biosample.ontology_term_accession%></td>
	</tr>
	<tr>
		<th>Human Donor:</th>
		<td><%= link_to @biosample.donor.encode_alias, encode_url(@biosample.donor.encode_identifier)%></td>
	</tr>
	<tr>
	  <th>Passage number:</th>
	  <td><%= @biosample.passage_number %></td>
	</tr>
	<tr>
	  <th>Culture harvest date:</th>
	  <td><%= @biosample.culture_harvest_date %></td>
	</tr>
	<tr>
	  <th>Submitter comments:</th>
	  <td><%= @biosample.submitter_comments %></td>
	</tr>
	<tr>
	  <th>Description:</th>
	  <td><%= @biosample.description %></td>
	</tr>
	<tr>
	  <th>Encid:</th>
	  <td><%= @biosample.encid %></td>
	</tr>
	<tr>
    <th>Associated Libraries:</th>
    <% if @biosample.libraries.present? %>
			<td>
				<%= render partial: "libraries/link_to_library", locals: {libraries: @biosample.libraries} %>
			</td>
    <% else %>
      <td>None</td>
    <% end %>
	</tr>
</p>
</table>
<%= link_to 'Back', biosamples_path %>
