<% title(@biosample.name,"Biosamples") %> 
<header>
	<h1><%= @biosample.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @biosample} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @biosample} %>
  </ul>
</header>	

<%= render partial: "application_partials/record_meta", locals: { record: @biosample } %>

<table class="attributes">
  <tr>
		<th><strong>Biosample Name</strong></th>
		<td><%= @biosample.name %></td>
	</tr>
	<tr>
		<th><strong>Documents:</strong></th>
		<td>
			<%= render partial: "documents/link_to_document", locals: {documents: @biosample.documents} %>
		</td>
	</tr>
	<tr>
		<th><strong>Biosample Type:</strong></th>
		<td><%= @biosample.biosample_type.name %></td>
	</tr>
  <tr>
		<th><strong>Description:</strong></th>
  	<td><%= @biosample.description %></td>
	</tr>
	<tr>
		<th><strong>Vendor:</strong></th>
		<td><%= link_to @biosample.vendor.name, @biosample.vendor.url %></td>
	</tr>
	<tr>
  	<th><strong>Vendor product identifier:</strong></th>
  	<td><%= @biosample.vendor_product_identifier %></td>
	</tr>
	<tr>
	  <th><strong>Lot identifier:</strong></th>
  	<td><%= @biosample.lot_identifier %></td>
	</tr>
	<tr>
  	<th><strong>Term Name describing the biosample:</strong></th>
  	<td><%= link_to @biosample.biosample_term_name.name, @biosample.biosample_term_name %></td>
	</tr>
	<tr>
		<th><strong>Human Donor:</strong></th>
		<td><%= link_to @biosample.donor.name, encode_url(@biosample.donor.encode_identifier)%></td>
	</tr>
	<tr>
	  <th><strong>Passage number:</strong></th>
	  <td><%= @biosample.passage_number %></td>
	</tr>
	<tr>
	  <th><strong>Culture harvest date:</strong></th>
	  <td><%= @biosample.culture_harvest_date %></td>
	</tr>
	<tr>
	  <th><strong>Submitter comments:</strong></th>
	  <td><%= @biosample.submitter_comments %></td>
	</tr>
	<tr>
	  <th><strong>Description:</strong></th>
	  <td><%= @biosample.description %></td>
	</tr>
	<tr>
	  <th><strong>Encid:</strong></th>
	  <td><%= @biosample.encid %></td>
	</tr>
	<tr>
    <th><strong>Associated Libraries:</strong></th>
    <% if @biosample.libraries.present? %>
			<td>
				<%= render partial: "libraries/link_to_library", locals: {libraries: @biosample.libraries} %>
			</td>
    <% else %>
      <td>None</td>
    <% end %>
	</tr>
</p>
</table>
<%= link_to 'Back', biosamples_path %>
