<%= render partial:  "application_partials/header", locals: {rec: @data_storage_provider } %>

<table class="attributes">
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @data_storage_provider.name %></td>
  </tr>
  <tr>
    <th><strong>Bucket storage?:</strong></th>
    <td><%= @data_storage_provider.bucket_storage? %></td>
  </tr>

  <tr class="notes-row">                                                                               
    <th><strong>Notes</strong></th>                                                                    
    <td><%= simple_format(@data_storage_provider.notes) %></td>                                                     
  </tr> 
</table>

<!-- Hidden form that is used when the user tries to edit the 'notes'. -->                             
<%= render partial: "application_partials/edit_notes", locals: {rec: @data_storage_provider} %>

<%= link_to 'Back', data_storage_providers_path %>
