<%= simple_form_for([@sequencing_request,@sequencing_result,@barcode_sequencing_result]) do |f| %>
  <%= f.error_notification %>

  <table class="attributes form-inputs">
		<tr>
			<td>
				<div>
					<p>Name</p>
					<%= f.input_field :name %>
				</div>
			</td>

			<td>
				<div>
					<p>Library</p>
      		<%= f.association :library, label: false, wrapper: false, collection: @sequencing_result.get_libs_without_barcode_seqresults %>
				</div>
			</td>

			<td>
				<div>
					<p>Read1 count</p>
      		<%= f.input_field :read1_count %>
				</div>
			</td>

			<td>
				<div>
					<p>Read1 URI</p>
 		     	<%= f.input_field :read1_uri %>
				</div>
			</td>

			<%  if @sequencing_request.paired_end? %>
      	<td>
					<div>
						<p>Read2 count</p>
						<%= f.input_field :read2_count %>
					</div>
				</td>
				<td>
					<div>
						<p>Read2 URI</p>
      			<%= f.input_field :read2_uri %>
					</div>
				</td>
			<% end %>

      <td>
				<div>
					<p>Comment</p>
					<%= f.input_field :comment %>
				</div>
			</td>

		</tr>
  </table>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
	</br>	
<% end %>
