<%= simple_form_for(@sequencing_request) do |f| %>
  <%= f.error_notification %>

  <% if @sequencing_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sequencing_request.errors.count, "error") %> prohibited this antibody from being saved:</h2>

      <ul>
      <% @sequencing_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :comment %>

  <table id="libraries">
  <tr><th>Associated Libraries:</th></tr>
   <% if @sequencing_request.libraries.present? %>
    <%= f.simple_fields_for(:libraries) do |ff| %>
      <% lib = @sequencing_request.libraries[ff.index] %>
      <tr>
      <td><%= lib.name %></td>
      <td><%= ff.input :_destroy, as: :boolean, label: "Remove" %></td>
      </tr>
     <% end %>  
  <% end %>
    </table>

  <p>
    <%= link_to "Add Library", select_library_sequencing_requests_path, remote: true, id: "add_library" %>
  </p>

  <%= f.association :sequencing_platform, collection: SequencingPlatform.order(:name), label_method: :name, prompt: "Select the Sequencing Platform" %>
  <%= f.association :sequencing_center, collection: SequencingCenter.order(:name), label_method: :name, prompt: "Select the Sequencing Center" %>
  <%= f.input :shipped %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
