<%= simple_form_for(@sequencing_request) do |f| %>
	<%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @sequencing_request } %>

  <%= f.input :name, label_html: {"data-toggle" => "tooltip", "title" => "Unique sequencing request name"} %>
  <%= f.input :comment, label_html: {"data-toggle" => "tooltip", "title" => "Notes about the sequencing request"} %>

  <% if @sequencing_request.libraries.present? %>
		<table class="min-table" id="libraries">
			<thead>
				<tr>
					<th><strong>Associated Libraries:</strong></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%= f.simple_fields_for(:libraries) do |ff| %>
					<% lib = @sequencing_request.libraries[ff.index] %>
					<tr>
						<td><%= lib.name %></td>
			      <td><%= ff.input_field :_destroy, as: :boolean %> Remove</td>
					</tr>
	     <% end %>  
			</tbody>
    </table>
  <% end %>
	<div class="added_libraries"></div>
	<!-- .added_libraries will serve as the container for new library selections. -->

  <p>
		<% exclude_libraries = [] %>
		<% if @sequencing_request.libraries.persisted.any? %>
			<% exclude_libraries = @sequencing_request.libraries.persisted.each { |x| x.id } %>
		<% end %>
    <%= link_to "Add Library", select_library_sequencing_requests_path(:exclude_libraries => exclude_libraries), remote: true, id: "add_library" %>
  </p>

  <%= f.association :sequencing_platform, collection: SequencingPlatform.order(:name), label_method: :name, prompt: "Select the Sequencing Platform" %>
  <%= f.association :sequencing_center, collection: SequencingCenter.order(:name), label_method: :name, prompt: "Select the Sequencing Center" %>
	<%= f.input :paired_end %>
  <%= f.input :shipped, label_html: {"data-toggle" => "tooltip", "title" => "Whether the material to be sequenced was already delivered to the sequencing center"} %>


  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
