<header>
  <h1>Sequencing Requests</h1>
  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record", locals: {model_class: SequencingRequest} %>
  </ul> 	
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>Name</th>
      <th>Comment</th>
      <th>Sequencing platform</th>
      <th>Sequencing center</th>
			<th>Paired-end</th>
      <th>Shipped</th>
			<th>Sequencing Result</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sequencing_requests.each do |sequencing_request| %>
      <tr>
        <td><%= link_to sequencing_request.name, sequencing_request %></td>
        <td><%= sequencing_request.comment %></td>
        <td><%= link_to sequencing_request.sequencing_platform.name, sequencing_request.sequencing_platform %></td>
        <td><%= link_to sequencing_request.sequencing_center.name, sequencing_request.sequencing_center %></td>
        <td><%= sequencing_request.paired_end%></td>
        <td><%= sequencing_request.shipped %></td>
				<% if sequencing_request.sequencing_runs.present? %>
					<% sequencing_request.sequencing_runs.each do |run| %>
		        <td><%= link_to run.name, [sequencing_request,run] %></td>
					<% end %>
				<% else %>
					<td>None</td>
				<% end %>
        <td>
					<%= link_to fa_icon("pencil"), edit_sequencing_request_path(sequencing_request) %>
        	<%= link_to fa_icon("trash"), sequencing_request, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
