<header>
  <h1>Sequencing Requests</h1>
  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record", locals: {model_class: SequencingRequest} %>
  </ul> 	
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>Name</th>
      <th>Comment</th>
      <th>Sequencing platform</th>
      <th>Sequencing center</th>
			<th>Concentration</th>
			<th>Paired-end</th>
      <th>Shipped</th>
			<th>Sequencing Result</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sequencing_requests.each do |sr| %>
      <tr>
        <td><%= link_to sr.name, sr %></td>
        <td><%= sr.comment %></td>
        <td><%= link_to sr.sequencing_platform.name, sr.sequencing_platform %></td>
        <td><%= link_to sr.sequencing_center.name, sr.sequencing_center %></td>
				<% if sr.concentration.present? %>
					<td><%= sr.concentration %>&nbsp;<%= sr.concentration_unit.name %></td>
				<% else %>
					<td></td>
				<% end %>
        <td><%= sr.paired_end%></td>
        <td><%= sr.shipped %></td>
				<% if sr.sequencing_runs.present? %>
					<% sr.sequencing_runs.each do |run| %>
		        <td><%= link_to run.name, [sr,run] %></td>
					<% end %>
				<% else %>
					<td>None</td>
				<% end %>
        <td>
					<%= link_to fa_icon("pencil"), edit_sequencing_request_path(sr) %>
        	<%= link_to fa_icon("trash"), sr, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
