<header class="index-view-header">
  <h1 class="index-page-header">                                                                       
    <%= @title || "Sequencing Requests" %>                                                                      
  </h1>
  <p class="model-definition"><%= SequencingRequest::DEFINITION %></p>

  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record" %>
  </ul>   
  <%= render partial: "application_partials/total", locals: {records: @records} %>
</header>

<table class="attributes index">
  <thead>
    <tr>
      <%= render partial: "application_partials/index_common_table_headers" %>
      <th>Num. Libraries</th>
      <th>Sequencing platform</th>
      <th>Sequencing center</th>
      <th>Concentration</th>
      <th>Paired-end</th>
      <th>Submitted?</th>
      <th>Sequencing runs</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |rec| %>
      <tr>
        <%= render partial: "application_partials/index_common_table_cells", locals: {record: rec} %>
        <td><%= link_to "#{rec.libraries.length} total", [:libraries_index, rec] %></td>
        <td><%= link_to rec.sequencing_platform.name, rec.sequencing_platform %></td>
        <td><%= link_to rec.sequencing_center.name, rec.sequencing_center %></td>
        <% if rec.concentration.present? %>
          <td><%= rec.concentration %>&nbsp;<%= rec.concentration_unit.name %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= rec.paired_end%></td>
        <td>
          <% if rec.sequencing_runs.present? %>
              <%= render partial: "application_partials/link_to_has_many", locals: {links: rec.sequencing_runs} %>
          <% end %>
        </td>
        <td>
          <%= link_to fa_icon("pencil"), edit_sequencing_request_path(rec) %>
          <%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if defined?(@page) %>                                                                               
  <%= paginate @records %>                                                                             
  <%= link_to "All", sequencing_requests_path(all: true) %>                                                        
<% end %>
