<header>
  <h1 class="index-page-header">Sequencing Requests</h1>
	<p class="model-definition"><%= SequencingRequest::DEFINITION %></p>

  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record", locals: {model_class: SequencingRequest} %>
  </ul> 	
</header>

<table class="attributes index">
  <thead>
    <tr>
      <%= render partial: "application_partials/index_common_table_headers" %>
      <th>Comment</th>
      <th>Sequencing platform</th>
      <th>Sequencing center</th>
			<th>Concentration</th>
			<th>Paired-end</th>
      <th>Shipped</th>
			<th>Sequencing runs</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sequencing_requests.each do |rec| %>
      <tr>
        <%= render partial: "application_partials/index_common_table_cells", locals: {record: rec} %>
        <td><%= rec.comment %></td>
        <td><%= link_to rec.sequencing_platform.name, rec.sequencing_platform %></td>
        <td><%= link_to rec.sequencing_center.name, rec.sequencing_center %></td>
				<% if rec.concentration.present? %>
					<td><%= rec.concentration %>&nbsp;<%= rec.concentration_unit.name %></td>
				<% else %>
					<td></td>
				<% end %>
        <td><%= rec.paired_end%></td>
        <td><%= rec.shipped %></td>
        <td>
		  		<% if rec.sequencing_runs.present? %>
              <%= render partial: "sequencing_runs/link_to_sequencing_runs", locals: {sequencing_runs: rec.sequencing_runs} %>
  				<% end %>
        </td>
        <td>
					<%= link_to fa_icon("pencil"), edit_sequencing_request_path(rec) %>
        	<%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
