<%= render partial:  "application_partials/show_form_error_messages", locals: { :model_obj => @sequencing_request } %>
<header>
  <h1><%= @sequencing_request.name %></h1>	
  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @sequencing_request} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @sequencing_request} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @sequencing_request} %>

<table class="attributes">
  <tr>
    <th><strong>Sequencing Request Name:</strong></th>
    <td><%= @sequencing_request.name %></td>
  </tr>

  <tr>
  	<th><strong>Comment:</strong></th>
  	<td><%= @sequencing_request.comment %></td>
	</tr>
	
	<tr>
		<th><strong>Libraries:</strong></th>
		<% if @sequencing_request.libraries.present? %>
			<td>
        <%= render partial: "libraries/link_to_library", locals: {libraries: @sequencing_request.libraries.persisted} %>
      </td>
    <% else %>
      <td>None</td>
    <% end %>
  </tr>

	<tr>
		<th><strong>Plates:</strong></th>
		<% if @sequencing_request.plates.present?%>
			<% @sequencing_request.plates.each do |p| %>
				<td><%= link_to p.name, p %></td>
			<% end %>
		<% end %>
	</tr>
			
	<tr>
  	<th><strong>Sequencing platform:</strong></th>
  	<td><%= link_to @sequencing_request.sequencing_platform.name, @sequencing_request.sequencing_platform %></td>
	</tr>
  
	<tr>
		<th><strong>Sequencing center:</strong></th>
  	<td><%= link_to @sequencing_request.sequencing_center.name, @sequencing_request.sequencing_center %></td></td>
	</tr>

	<tr>
		<th><strong>Paired-end:</strong></th>
		<td><%= @sequencing_request.paired_end %></td>
	</tr>
  
	<tr>
		<th><strong>Shipped:</strong></th>
  	<td><%= @sequencing_request.shipped %></td>
	</tr>

	<tr>
		<th><strong>Sequencing Run:</strong></th>
		<% if @sequencing_request.sequencing_runs.present? %>
			<% @sequencing_request.sequencing_runs.each do |run| %>
				<td>
					<%= link_to run.name, [@sequencing_request,run] %>
				</td>
			<% end %>
		<% else %>
			<td>None</td>
		<% end %>
	</tr>
</table>

<div class="added_libraries"></div>
<% if @sequencing_request.libraries.persisted.any? %>
  <% exclude_libraries = @sequencing_request.libraries.persisted.each { |x| x.id } %>
<% end %>
<ul class="bl-btns actions"> <!-- bl means business logic -->
	<li>
		<%= link_to "Add Library", 
				select_library_sequencing_request_path(@sequencing_request,:exclude_libraries => exclude_libraries),
				class: "reg-btn", remote: true, id: "add_library"
		%>
	</li>
	<li>
		<%= link_to "Add Single Cell Sorting plates",
				select_scs_sequencing_request_path(@sequencing_request),
				class: "reg-btn", remote: true, id: "add_scs_plates"
		%>
	</li>
	<% if @sequencing_request.libraries.persisted.any? %>
		<li>
			<%= link_to "Add Sequencing Run",
					new_sequencing_request_sequencing_run_path(@sequencing_request),
					class: "reg-btn", id: "add_sequencing_run"
			%>
		</li>
	<% end %>
</ul>
<div class="sreq_lib_or_scs_selector"></div> <!-- Used in sequencing_requests.js to add the library or scs selector. -->
<div class="sreq_plate_selector"></div> <!-- Used in sequencing_requests.js to add the plates selector. -->
<%= link_to 'Back', sequencing_requests_path, class: "back-btn" %>
