<%= render partial:  "application_partials/show_form_error_messages", locals: { :model_obj => @sequencing_request } %>
<header>
  <h1><%= @sequencing_request.name %></h1>	
  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @sequencing_request} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @sequencing_request} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @sequencing_request} %>

<table class="attributes">
  <tr>
    <th><strong>Sequencing Request Name:</strong></th>
    <td><%= @sequencing_request.name %></td>
  </tr>

  <tr>
  	<th><strong>Comment:</strong></th>
  	<td><%= @sequencing_request.comment %></td>
	</tr>
	
	<tr>
		<th><strong>Libraries:</strong></th>
		<% if @sequencing_request.libraries.present? %>
			<td>
        <%= render partial: "libraries/link_to_library", locals: {libraries: @sequencing_request.libraries} %>
      </td>
    <% else %>
      <td>None</td>
    <% end %>
  </tr>

	<tr>
  	<th><strong>Sequencing platform:</strong></th>
  	<td><%= link_to @sequencing_request.sequencing_platform.name, @sequencing_request.sequencing_platform %></td>
	</tr>
  
	<tr>
		<th><strong>Sequencing center:</strong></th>
  	<td><%= link_to @sequencing_request.sequencing_center.name, @sequencing_request.sequencing_center %></td></td>
	</tr>

	<tr>
		<th><strong>Paired-end:</strong></th>
		<td><%= @sequencing_request.paired_end %></td>
	</tr>
  
	<tr>
		<th><strong>Shipped:</strong></th>
  	<td><%= @sequencing_request.shipped %></td>
	</tr>

	<tr>
		<th><strong>Sequencing Run:</strong></th>
		<% if @sequencing_request.sequencing_runs.present? %>
			<% @sequencing_request.sequencing_runs.each do |run| %>
				<td>
					<%= link_to run.name, [@sequencing_request,run] %>
				</td>
			<% end %>
		<% else %>
			<td>None</td>
		<% end %>
	</tr>
</table>

<% unless @sequencing_request.sequencing_runs.present? %>
	<%= link_to "Add Sequencing Run", new_sequencing_run_path(@sequencing_request), class: "reg-btn" %>
	</br>
<% end %>
</br>

<%= link_to 'Back', sequencing_requests_path %>
