<header>
  <h1><%= @sequencing_request.name %></h1>	
  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @sequencing_request} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @sequencing_request} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @sequencing_request} %>

<table id="attributes">
  <tr>
    <th>Sequencing Request Name:</th>
    <td><%= @sequencing_request.name %></td>
  </tr>

  <tr>
  	<th>Comment:</th>
  	<td><%= @sequencing_request.comment %></td>
	</tr>
	
	<tr>
		<th>Libraries:</th>
		<% if @sequencing_request.libraries.present? %>
			<td>
        <%= render partial: "libraries/link_to_library", locals: {libraries: @sequencing_request.libraries} %>
      </td>
    <% else %>
      <td>None</td>
    <% end %>
  </tr>

	<tr>
  	<th>Sequencing platform:</th>
  	<td><%= link_to @sequencing_request.sequencing_platform.name, @sequencing_request.sequencing_platform %></td>
	</tr>
  
	<tr>
		<th>Sequencing center:</th>
  	<td><%= link_to @sequencing_request.sequencing_center.name, @sequencing_request.sequencing_center %></td></td>
	</tr>

	<tr>
		<th>Paired-end:</th>
		<td><%= @sequencing_request.paired_end %></td>
	</tr>
  
	<tr>
		<th>Shipped:</th>
  	<td><%= @sequencing_request.shipped %></td>
	</tr>

	<tr>
		<th>Sequencing Result:</th>
		<% if @sequencing_request.sequencing_result.present? %>
			<td>
				<%= link_to @sequencing_request.sequencing_result.name, [@sequencing_request,@sequencing_request.sequencing_result] %>
			</td>
		<% else %>
			<td>None</td>
		<% end %>
	</tr>
</table>

<% unless @sequencing_request.sequencing_result.present? %>
	<%= link_to "Add Sequencing Result", new_sequencing_request_sequencing_result_path(@sequencing_request), class: "reg-btn" %>
	</br>
<% end %>
</br>

<%= link_to 'Back', sequencing_requests_path %>
