<%= simple_form_for(@donor_construct) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.association :cloning_vector %>
  <%= f.association :vendor %>
  <%= f.input :vendor_product_identifier %>
  <%= f.association :target %>
  <%= f.input :description %>
  <%= f.input :insert_sequence %>

	<% if @donor_construct.construct_tags.persisted.any? %>
    <table class="min-table" id="construct_tags">
			<thead>
	      <tr>
					<th><strong>Construct tags:</strong></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
	      <%= f.simple_fields_for :construct_tags do |ff| %>
  	      <% tag = @donor_construct.construct_tags[ff.index] %>
    	    <tr>
     	     <td><%= tag.name %></td>
     	     <td><%= ff.input_field :_destroy, as: :boolean %> Remove</td>
     	   </tr>
     	 <% end %>  
			</tbody>
		</table></br>
  <% end %>

  <div id="added_construct_tags"></div>
  <!-- .added_construct_tags will serve as the container for new construct_tag selections added by jQuery. -->

  <p> 
    <% exclude_tags = [] %>
    <% if @donor_construct.construct_tags.persisted.any? %>
      <% exclude_tags = @donor_construct.construct_tags.persisted.each { |x| x.id } %>
    <% end %>
    <%= link_to "Add Tag", select_construct_tag_donor_constructs_path(:exclude_construct_tags => exclude_tags), remote: true, id: "add_construct_tag" %>
  </p>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
