<header>
	<h1>Human Targets</h1>

  <ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {policy_class: Antibody} %>
  </ul> 
</header>

<table id="attributes">
  <thead>
    <tr>
      <th>Encode identifier</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @human_targets.each do |human_target| %>
      <tr>
        <td><%= human_target.encode_identifier %></td>
        <td><%= human_target.name %></td>
        <td><%= link_to 'Show', human_target %></td>
        <td><%= link_to 'Edit', edit_human_target_path(human_target) %></td>
        <td><%= link_to 'Destroy', human_target, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Human target', new_human_target_path %>
