<header>
  <h1><%= @human_target.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @human_target} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @human_target} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @human_target } %>

<p>
  <strong>Encode identifier:</strong>
  <%= @human_target.encode_identifier %>
</p>

<p>
  <strong>Name:</strong>
  <%= @human_target.name %>
</p>

<%= link_to 'Back', human_targets_path %>
