<header>                                                                                               
  <h1 class="index-page-header">Treatment Term Names</h1>                                              
  <p class="model-definition"><%= TreatmentTermName::DEFINITION %></p>                                 
                                                                                                       
  <ul class="actions">                                                                                 
    <%= render partial: "application_partials/auth_new_record" %>
  </ul>                                                                                                
</header>

<table class="attributes index">
  <thead>
    <tr>
      <%= render partial: "application_partials/index_common_table_headers" %>
      <th>Accession</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |rec| %>
      <tr>
        <%= render partial: "application_partials/index_common_table_cells", locals: {record: rec} %>
        <td><%= rec.accession %></td>
        <td><%= rec.description %></td>
        <td>
          <%= link_to fa_icon("pencil"), edit_treatment_term_name_path(rec) %>
          <%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @records %> 
