<%= render partial:  "application_partials/header", locals: {rec: @treatment_term_name } %>

<table class="attributes">
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @treatment_term_name.name %></td>
  </tr>

  <tr>
    <th><strong>Accession:</strong></th>
    <td><%= @treatment_term_name.accession %></td>
  </tr>

  <tr>
    <th><strong>Description:</strong></th>
    <td><%= @treatment_term_name.description %></td>
  </tr>
</table>

<%= link_to 'Back', treatment_term_names_path %>
