<header>
  <h1><%= @user %></h1>

  <ul class="actions">
		<li><%= link_to "Edit", [:edit,@user], class: "edit" %></li>
  </ul>
</header>

<table class="attributes">
	<tr>
		<th><strong>First Name:</strong></th>
		<td><%= @user.first_name %></td>
	</tr>

	<tr>
		<th><strong>Last Name:</strong></th>
		<td><%= @user.last_name %></td>
	</tr>

	<tr>
		<th><strong>Email:</strong></th>
		<td><%= @user.email%></td>
	</tr>

	<tr>
		<th><strong>Role:</strong></th>
		<td><%= @user.role_name %></td>
	</tr>

	<tr>
		<th><strong>API Key:</strong></th>
		<% if @user.api_key.present? %>
			<td><%= link_to "Show", show_api_key_user_path(@user), remote: true, id: :show_api_key %></td>
		<% else %>
			<td><%= button_to "Generate", generate_api_key_user_path(@user) %></td>
		<% end %>
	</tr>
</table>

<%= link_to 'Back', organisms_path %>
