<header class="index-view-header">
  <h1 class="index-page-header">
    <%= @title || "PCRs" %>
  </h1>
  <p class="model-definition"><%= Pcr::DEFINITION %></p>

  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record" %>
    <%= link_to "Primers", primers_path, class: "reg-btn" %>
    <%= link_to "Master mixes", pcr_master_mixes_path, class: "reg-btn" %>
  </ul>
  <%= render partial: "application_partials/total", locals: {records: @records} %>
</header>

<table class="attributes index">
  <thead>
    <tr>
      <%= render partial: "application_partials/index_common_table_headers", locals: {model: Pcr} %>
      <th>Biosample</th>
      <th>Description</th>
      <th>Gel</th>
      <th>Pcr master mix</th>
      <th>Forward primer</th>
      <th>Reverse primer</th>
      <th>Amplicon size</th>
      <th>Annealing temperature</th>
      <th>Extension time</th>
      <th>Num cycles</th>
      <th>Sanger Sequencing Success</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |rec| %>
      <tr>
        <%= render partial: "application_partials/index_common_table_cells", locals: {record: rec} %>
        <td><%= link_to_record rec.biosample %></td>
        <td><%= rec.description %></td>
        <td>
          <% if rec.gel.present? %>
            <div style="display: flex, align-items: center;">
              <%= link_to rec.gel.display(), rec.gel %>
              <% if rec.gel.gel_images.any? %>
                <% rec.gel.gel_images.each do |gi| %>
                  <%= image_tag gi.image, alt: "gel", data: {"caption": rec.gel.caption}, class: "modal-for-image", style: "margin-left: 0.3em; max-width: 50px; max-height: 50px; object-fit: contain;" %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </td>
        <td><%= link_to rec.pcr_master_mix.name, rec.pcr_master_mix %></td>
        <td><%= link_to_record rec.forward_primer %></td>
        <td><%= link_to_record rec.reverse_primer %></td>
        <td><%= rec.amplicon_size %></td>
        <td><%= rec.annealing_temperature %></td>
        <td><%= rec.extension_time %></td>
        <td><%= rec.num_cycles %></td>
        <td><%= rec.sanger_sequencing_success %></td>
        <td>
          <%= link_to fa_icon("pencil"), edit_pcr_path(rec) %>
          <%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "application_partials/index_paging" %>
