<%= render partial:  "application_partials/show_form_error_messages", locals: { :model_obj => @pcr } %>
<header>
  <h1><%= @pcr.id %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @pcr} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @pcr} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @pcr } %>

<table class="attributes">
	<tr>
	  <th><strong>Description:</strong></th>
	  <td><%= @pcr.description %></td>
	</tr>
	
	<tr>
	  <th><strong>Pcr master mix:</strong></th>
	  <td><%= link_to @pcr.pcr_master_mix.name, @pcr.pcr_master_mix %></td>
	</tr>
	
	<tr>
	  <th><strong>Forward primer:</strong></th>
	  <td><%= @pcr.forward_primer %></td>
	</tr>
	
	<tr>
	  <th><strong>Reverse primer:</strong></th>
	  <td><%= @pcr.reverse_primer %></td>
	</tr>
	
	<tr>
	  <th><strong>Amplicon size:</strong></th>
	  <td><%= @pcr.amplicon_size %></td>
	</tr>
	
	<tr>
	  <th><strong>Annealing temperature:</strong></th>
	  <td><%= @pcr.annealing_temperature %></td>
	</tr>
	
	<tr>
	  <th><strong>Extension time:</strong></th>
	  <td><%= @pcr.extension_time %></td>
	</tr>
	
	<tr>
	  <th><strong>Num cycles:</strong></th>
	  <td><%= @pcr.num_cycles %></td>
	</tr>
	
	<tr>
	  <th><strong>Crispr modification:</strong></th>
	  <td><%= link_to @pcr.crispr_modification.name, @pcr.crispr_modification %></td>
	</tr>
	
	<tr>
	  <th><strong>Success:</strong></th>
	  <td><%= @pcr.success %></td>
	</tr>
</table>
<%= link_to 'Back', pcrs_path %>
