<%= render partial:  "application_partials/show_form_error_messages", locals: { :model_obj => @agarose_gel } %>
<header>
  <h1><%= @agarose_gel.display() %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @agarose_gel} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @agarose_gel} %>
  </ul>
</header>

<span id="record_id" style="display: none;"><%= @agarose_gel.id %></span>

<%= render partial: "application_partials/record_meta", locals: { record: @agarose_gel } %>
<table class="attributes">
  <tr>
    <th><strong>Percent agarose:</strong></th>
    <td><%= "#{@agarose_gel.percent_agarose}%" %></td>
  </tr>

  <tr>
    <th><strong>Voltage:</strong></th>
    <td><%= "#{@agarose_gel.voltage} volts" %></td>
  </tr>

  <tr>
    <th><strong>Run date:</strong></th>
    <td><%= @agarose_gel.run_date %></td>
  </tr>

  <tr>
    <th><strong>Caption:</strong></th>
    <td><%= simple_format(@agarose_gel.caption) %></th>
  </tr>

  <tr class="notes-row">
    <th><strong>Notes:</strong></th>
    <td><%= @agarose_gel.notes %></td>
  </tr>
</table>

<h3 class="section">Gel image</h3>
<%= image_tag @agarose_gel.gel_image, alt: "gel", class: "modal-for-image", style: "width: 100px;" %>
</br></br>
<h4 class="section">Gel lanes</h4>

<div style="overflow: auto; max-width: 95%;">
  <%= render partial: "gel_lanes/headers" %>
  <div class="agarose-gel-lanes" %>
    <% @agarose_gel.gel_lanes.order(:lane_number).each do |lane| %>
      <% @gel_lane = lane %>
      <%= render partial: "agarose_gels/add_lane" %>
    <% end %>
  </div>
</div>
</br>
<%= link_to "Add lane", add_lane_agarose_gel_path(@agarose_gel), class: "add-agarose-gel-lane-btn reg-btn", remote: true %>

</br></br>
<%= link_to 'Back', agarose_gels_path %>
