<%= simple_form_for(@library) do |f| %>
  <%= f.error_notification %>
  <% if @library.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@library.errors.count, "error") %> prohibited this library from being saved:</h2>

      <ul>
      <% @library.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, label_html: {"data-toggle" => "tooltip", "title" => "Unique library name"} %>(Max. 20 characters)</br>

  <%= f.association :sequencing_library_prep_kit, label_html: {"data-toggle" => "tooltip", "title" => "The library prep kit used for creating the library."} %>

	<% if @library.barcodes.persisted.any? %>
	  <table>
		  <tr><th>Barcodes:</th></tr>
		  <%= f.simple_fields_for :barcodes do |ff| %>
		   <% bc = @library.barcodes[ff.index] %>
		   <tr>
		    <td><%= bc.name %></td>
		    <td><%= ff.input :_destroy, as: :boolean, label: "Remove" %></td>
		   </tr>
		   <% end %>  
	  </table></br>
	<% end %>


	<%= f.association :barcodes, prompt: "Select barcodes",
			label_html: {"data-toggle" => "tooltip", "title" => "If the library is barcoded, select the barcode used. If the library is pooled having multiple barcodes, select all barcodes used in the pooling."} %>


	<% if @library.documents.persisted.any? %>
	  <table>
		  <tr><th>Protocol Documents:</th></tr>
		  <%= f.simple_fields_for :documents do |ff| %>
		   <% doc = @library.documents[ff.index] %>
		   <tr>
		    <td><%= doc.name %></td>
		    <td><%= ff.input :_destroy, as: :boolean, label: "Remove" %></td>
		   </tr>
		   <% end %>  
	  </table></br>
	<% end %>

  <table>
  <tr><th>Sequencing Requests:</th></tr>
  <% if @library.sequencing_requests.present? %>
    <%= f.simple_fields_for :sequencing_requests do |ff| %>
      <% seqreq = @library.sequencing_requests[ff.index] %>
      <tr>
       <td><%= seqreq.name %></td>
       <td><%= ff.input :_destroy, as: :boolean, label: "Remove" %></td>
      </tr>
      <% end %>  
  <% end %>
  </table></br>

  <!-- Show select for Documents. Mutliple documents can be selected.
       If the form was rejected due to a validation error, then the
       user will have been presented with this form again to correct it, 
       and I set the default selectioned to what the user had originally, 
       if any. -->

	<%= f.association :documents, collection: sorted_document_name_id(), prompt: "Select documents", 
			label_html: {"data-toggle" => "tooltip","title" => "Documents that provide additional information (not data file)."} %>
  <%= f.association :nucleic_acid_term, label: "Nucleic Acid Term Name", collection: NucleicAcidTerm.order(:name), 
			label_method: :name, prompt: "Select the Term Name",
			label_html: {"data-toggle" => "tooltip","title" => "SO (Sequence Ontology) term best matching the molecule isolated to generate the library (e.g. 'RNA' for a total RNA library, even if that library is subsequently reverse transcribed for DNA sequencing.)"} %>

  <%= f.association :biosample, collection: Biosample.order(:name), label_method: :name, prompt: "Select the Biosample",
			label_html: {"data-toggle" => "tooltip","title" => "The biosample that nucleic acid was isolated from to generate the library."} %>

  <%= f.association :antibody, collection: Antibody.order(:name), label_method: :name, prompt: "Select the Antibody",
			label_html: {"data-toggle" => "tooltip", "title" => "For Immunoprecipitation assays, the antibody used."} %>

  <%= f.association :vendor, collection: Vendor.order(:name), label_method: :name,  prompt: "Select the Vendor",
			label_html: {"data-toggle" => "tooltip", "title" => "The vendor, for nucleic acids or proteins purchased directly from a vendor (e.g. total RNA)."} %>

	<%= f.association :library_fragmentation_method,
			label_html: {"data-toggle" => "tooltip", "title" => "A short description or reference of the nucleic acid fragmentation protocol used in library preparation, if applicable."} %>

  <%= f.input :lot_identifier, 
			label_html: {"data-toggle" => "tooltip", "title" => "The lot identifier provided by the vendor, for nucleic acids or proteins purchased directly from a vendor (e.g. total RNA)."} %>

  <%= f.input :vendor_product_identifier,
			label_html: {"data-toggle" => "tooltip", "title" => "The product identifier provided by the vendor, for nucleic acids or proteins purchased directly from a vendor (e.g. total RNA)."} %>

	<label for="library_nucleic_acid_starting_quantity" data-toggle="tooltip" title="The starting amount of nucleic acid before selection and purification."><span>Nucleic acid starting quantity </span></label>
	<%= f.input_field :nucleic_acid_starting_quantity %>
	<label for="library_nucleic_acid_starting_quantity_units" data-toggle="tooltip" title="The units used for starting amount of nucleic acid."><span>Units </span></label>
	<%= f.input_field :nucleic_acid_starting_quantity_units, collection: Library::NUCLEIC_ACID_STARTING_QUANTITY_UNITS  %>
	</br></br>

  <%= f.input :size_range, as: :string,
			label_html: {"data-toggle" => "tooltip", "title" => "The measured size range of the purified nucleic acid, in bp."} %>

  <%= f.input :strand_specific,
			label_html: {"data-toggle" => "tooltip", "title" => "Whether the preparation of the library using a strand-specific protocol."} %>

  <div class="actions">
    <%= f.button :submit, class: "btn-primary "%>
  </div></br>
<% end %>
