<%= simple_form_for(@library) do |f| %>
  <% if @library.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@library.errors.count, "error") %> prohibited this library from being saved:</h2>

      <ul>
      <% @library.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>(Max. 20 characters)

  <div>
    <strong>Associated Protocol Documents:</strong>
    <% if @library.new_record? %>
      None
    <% else %>
			<table>
				<%= render(@library.documents) %>
			</table>
    <% end %>
  </div></br>

  <div>
    <!-- Show select for Documents. Mutliple documents can be selected.
         If the form was rejected due to a validation error, then the
         user will have been presented with this form again to correct it, 
         and I set the default selectioned to what the user had originally, 
         if any. -->
    <% selected = nil %>
    <% if @library.documents and @library.new_record? %>
      <% selected = @library.documents.map{|x| x.id} %>
    <% end %>
    <%= render(partial: "documents/select_documents", locals: {f: f,selected: selected}) %>
  </div></br>


	<% sequence_ontology_term_id = nil %>
	<% if not @library.sequence_ontology_term.nil? %>
		<% sequence_ontology_term_id = @library.sequence_ontology_term.id %>
	<% end %>
  <%= f.input :sequence_ontology_term_id, label: "Nucleic Acid Term Name", collection: sorted_so_name_id(), selected: sequence_ontology_term_id ,prompt: "Select the Term Name" %>


	<% biosample_id = nil %>
	<% if not @library.biosample.nil? %>
		<% biosample_id = @library.biosample.id %>
	<% end %>
  <%= f.input :biosample_id, collection: sorted_biosample_name_id(), selected: biosample_id, prompt: "Select the Biosample" %>


	<% antibody_id = nil %>
	<% if not @library.antibody.nil? %>
		<% antibody_id = @library.antibody.id %>
	<% end %>
  <%= f.input :antibody_id, collection: sorted_antibody_name_id(), selected: antibody_id, prompt: "Select the Antibody" %>


  <% vendor_id = nil %>
  <% if not @library.vendor.nil? %>
		<% vendor_id = @library.vendor.id %>
  <% end %>
  <%= f.input :vendor_id, collection: sorted_vendor_name_id(), selected: vendor_id, prompt: "Select the Vendor" %>


  <%= f.input :lot_identifier %>

  <%= f.input :vendor_product_identifier %>

  <%= f.input :size_range, as: :string %>

	<%= f.input :strand_specific %>

  <div class="actions">
    <%= f.button :submit, class: "btn-primary"%>
  </div></br></br>
<% end %>
