<%= simple_form_for(@library) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>(Max. 20 characters)</br>

  <table>
  <tr><th>Associated Protocol Documents:</th></tr>
  <%= f.simple_fields_for :documents do |ff| %>
   <% doc = @library.documents[ff.index] %>
   <tr>
    <td><%= doc.name %></td>
    <td><%= ff.input_field :_destroy, as: :boolean, label: "Remove" %></td>
   </tr>
   <% end %>  
  </table></br>

  <table>
  <tr><th>Associated Sequencing Requests:</th></tr>
  <% if @library.sequencing_requests.present? %>
    <%= f.simple_fields_for :sequencing_requests do |ff| %>
      <% seqreq = @library.sequencing_requests[ff.index] %>
      <tr>
       <td><%= seqreq.name %></td>
       <td><%= ff.input_field :_destroy, as: :boolean, label: "Remove" %></td>
      </tr>
      <% end %>  
  <% end %>
  </table></br>

  <!-- Show select for Documents. Mutliple documents can be selected.
       If the form was rejected due to a validation error, then the
       user will have been presented with this form again to correct it, 
       and I set the default selectioned to what the user had originally, 
       if any. -->
  <%= render(partial: "documents/select_documents", locals: {f: f}) %>

  <%= f.input :nucleic_acid_term_id, label: "Nucleic Acid Term Name", collection: sorted_nucleic_acid_term_name_id(), prompt: "Select the Term Name" %>

  <%= f.input :biosample_id, collection: sorted_biosample_name_id(), prompt: "Select the Biosample" %>

  <%= f.input :antibody_id, collection: sorted_antibody_name_id(), prompt: "Select the Antibody" %>

  <%= f.input :vendor_id, collection: sorted_vendor_name_id(), prompt: "Select the Vendor" %>

  <%= f.input :lot_identifier %>

  <%= f.input :vendor_product_identifier %>

  <%= f.input :size_range, as: :string %>

  <%= f.input :strand_specific %>

  <div class="actions">
    <%= f.button :submit, class: "btn-primary "%>
  </div></br>
<% end %>
