  <%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @library } %>

  <%= f.input :prototype %>

  <%= f.input :name, label_html: {"data-toggle" => "tooltip", "title" => "Unique library name"} %>

  <fieldset>
    <legend>Prep kit and barcoding</legend>
    <%= f.association :sequencing_library_prep_kit, label_html: {"data-toggle" => "tooltip", "title" => "The library prep kit used for creating the library."} %>

    <%= f.input :paired_end, label_html: {"data-toggle": "tooltip", title: "Check the box if this library is duel-indexed."} %>
    <%= f.input :strand_specific, label_html: {"data-toggle" => "tooltip", "title" => "Check the box if this is a strand-specific library."} %>

    <!-- Note that I'm using jQuery to fill the choices of the selection boxes below for barcodes and paired_barcodes.
         If the paired_end input is checked, then the barcodes input will be hidden. If not checked, then the
         paired_barcodes input will be hidden. Both select inputs will be disabled until the sequencing_library_prep_kit
         input has a value that is selected. -->
    <div id="barcode_selector">
      <% if @library.barcode.present? %>
        <%= f.association :barcode %>
      <% end %>
      <% if @library.paired_barcode.present? %>
        <%= f.association :paired_barcode %>
      <% end %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Documents</legend>
    <strong>Linked documents:</strong>
    <% parent_links = @library.parent_documents %>
    <%= render partial: "application_partials/parental_and_self_fklinks", locals: {f: f, rec: @library, link_name: :documents, parent_links: parent_links} %>
    <%= f.association :documents, label: "Add documents", selected: nil, collection: sorted_document_name_id(),
        include_blank: true,
        input_html: {class: "biosample_documents_selector"},
        label_html: {class: "refresh", "data-toggle": "tooltip","title": "Documents that provide additional information (not data file)."} %>
  </fieldset>

  <% if @library.sequencing_requests.present? %>
    <%= render partial: "application_partials/simple_fields_for", locals: {title: "Sequencing Requests:", record: @library, f: f, attribute: :sequencing_requests} %>
  <% end %>

  <%= f.association :nucleic_acid_term, label: "Nucleic Acid Term Name", collection: NucleicAcidTerm.order(:name),
      label_method: :name, prompt: "Select the Term Name",
      label_html: {"data-toggle" => "tooltip","title" => "SO (Sequence Ontology) term best matching the molecule isolated to generate the library (e.g. 'RNA' for a total RNA library, even if that library is subsequently reverse transcribed for DNA sequencing.)"} %>

  <!-- The biosample isn't required if this is a prototype library. Nonetheless, sometimes it still
       is useful to set it. -->
  <%= f.association :biosample, collection: Biosample.order(:name), label_method: :name,
      label_html: {class: "refresh", "data-toggle" => "tooltip","title" => "The biosample that nucleic acid was isolated from to generate the library."}
  %>

  <%= f.association :library_fragmentation_method,
      label_html: {"data-toggle" => "tooltip", "title" => "A short description or reference of the nucleic acid fragmentation protocol used in library preparation, if applicable."} %>

  <div class="my-flex">
    <%= f.input :concentration, label_html: {"data-toggle": "tooltip", title: "The concentration of nucleic acids in the library."} %>
    <%= f.association :concentration_unit, collection: Unit.where(unit_type: "concentration") %>
  </div>
  </br></br>

  <%= f.input :size_range, as: :string,
      label_html: {"data-toggle" => "tooltip", "title" => "The measured size range of the purified nucleic acid, in bp."} %>

  <%= render partial: "application_partials/notes", locals: {f: f} %>
