<header>
  <h1>Edit Library</h1>
</header>

<%= simple_form_for(@library) do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <%= render partial: "application_partials/submit", locals: {f: f} %>
<% end %>

<% if @library.single_cell_sorting.present? %>
	<%= link_to "Back", @library.single_cell_sorting %>
<% else %>
	<%= link_to "Back", @library %>
<% end %>
