<header class="index-view-header">
  <h1 class="index-page-header">                                                                       
    <%= @title || "Libraries" %>                                                                      
  </h1>
  <p class="model-definition"><%= Library::DEFINITION %></p>
  
  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record" %>
  </ul>  
  <%= render partial: "application_partials/total", locals: {records: @records} %>
</header>

<table class="attributes index">
  <thead>
    <tr>
      <%= render partial: "application_partials/index_common_table_headers" %>
      <th>Sequencing requests</th>
      <th>Sequencing library prep kit</th>
      <th>Paired End?</th>
      <th>Nucleic acid type</th>
      <th>Biosample</th>
      <th>Vendor</th>
      <th>Barcode</th>
      <th>Paired barcode</th>
      <th>Fragmentation method</th>
      <th>Crosslinking method</th>
      <th>Concentration</th>
      <th>Size range</th>
      <th>Strand specific?</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |rec| %>
      <tr>
        <%= render partial: "application_partials/index_common_table_cells", locals: {record: rec} %>
        <td><%= render partial: "application_partials/link_to_has_many", locals: {links: rec.sequencing_requests} %></td>
        <td><%= link_to rec.sequencing_library_prep_kit.name, rec.sequencing_library_prep_kit %></td>
        <td><%= rec.paired_end %></td>
        <td><%= rec.nucleic_acid_term.name %></td>
        <td>
          <% unless rec.prototype? %>
            <%= link_to rec.biosample.name, rec.biosample %></td>
          <% end %>
        </td>

        <td>
          <% if rec.vendor.present? %>
            <%= link_to_record rec.vendor %>
          <% end %>
        </td>
  
        <!-- Either a barcode or a paired_barcode can be present, not both -->
        <td>
          <% if rec.barcode.present? %>
            <%= render partial: "barcodes/link_to_barcode", locals: {barcodes: [rec.barcode]} %>
          <% end %>
        </td>

        <td>
          <% if rec.paired_barcode.present? %>
            <%= render partial: "paired_barcodes/link_to_paired_barcode", locals: {paired_barcodes: [rec.paired_barcode]} %>
          <% end %>
        </td>

        <td>
          <% if rec.library_fragmentation_method.present? %>
            <%= link_to rec.library_fragmentation_method.name, rec.library_fragmentation_method.name %>
          <% end %>
        </td>

        <td>
          <% if rec.crosslinking_method.present? %>
            <%= rec.crosslinking_method %>
          <% end %>
        </td>

        <td>
          <% if rec.concentration.present? %>
            <%= rec.concentration %>&nbsp;<%= rec.concentration_unit.name %></td>
          <% end %>
        </td>

        <td><%= rec.size_range %></td>
        <td><%= rec.strand_specific %></td>
        <td>
          <%= link_to fa_icon("pencil"), edit_library_path(rec) %>
          <%= link_to fa_icon("trash"),rec, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if defined?(@page) %>                                                                               
  <%= paginate @records %>                                                                             
  <%= link_to "All", libraries_path(all: true) %>                                                        
<% end %>
