<header>
	<h1>Libraries</h1>
	
	<ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {model_class: Library} %>
	</ul>	
</header>

<table id="attributes">
  <thead>
    <tr>
			<th>Name</th>
      <th>Nucleic Acid Term</th>
      <th>Biosample</th>
      <th>Antibody</th>
      <th>Vendor</th>
      <th>Lot identifier</th>
      <th>Vendor product identifier</th>
      <th>Barcode</th>
      <th>Size range</th>
      <th>Strand specificity</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @libraries.each do |library| %>
      <tr>
				<td><%= link_to library.name, library %></td>
        <td><%= library.nucleic_acid_term.name %></td>
        <td><%= link_to library.biosample.name, library.biosample %></td>

        <% if library.antibody.present? %>
          <td><%= library.antibody.name %></td>
        <% else %>
          <td></td>
        <% end %>

        <% if library.vendor.present? %>
          <td><%= library.vendor.name %></td>
        <% else %>
          <td></td>
        <% end %>
  
        <td><%= library.lot_identifier %></td>
        <td><%= library.vendor_product_identifier %></td>
        <td><%= library.barcode %></td>
        <td><%= library.size_range %></td>
        <td><%= library.strand_specific %></td>
        <td><%= link_to fa_icon("pencil"), edit_library_path(library) %></td>
        <td><%= link_to fa_icon("trash"),library, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

