<header>
	<h1>Libraries</h1>
	
	<ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {model_class: Library} %>
	</ul>	
</header>

<table class="attributes">
  <thead>
    <tr>
			<th>Name</th>
			<th>Sequencing Library Prep Kit</th>
			<th>Paired End</th>
      <th>Nucleic acid term</th>
      <th>Biosample</th>
      <th>Vendor</th>
      <th>Lot identifier</th>
      <th>Vendor product identifier</th>
      <th>Barcode</th>
      <th>Library fragmentation method</th>
			<th>Nucleic acid starting quantity</th>
			<th>Nucleic acid starting quantity units</th>
      <th>Size range</th>
      <th>Strand specificity</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @libraries.each do |library| %>
      <tr>
				<td><%= link_to library.name, library %></td>
				<td><%= link_to library.sequencing_library_prep_kit.name, library.sequencing_library_prep_kit %></td>
				<td><%= library.paired_end %></td>
        <td><%= library.nucleic_acid_term.name %></td>
        <td><%= link_to library.biosample.name, library.biosample %></td>

        <% if library.vendor.present? %>
          <td><%= library.vendor.name %></td>
        <% else %>
          <td></td>
        <% end %>
  
        <td><%= library.lot_identifier %></td>
        <td><%= library.vendor_product_identifier %></td>
				<% if library.barcodes.any? %>
					<td><%= render partial: "barcodes/link_to_barcode", locals: {barcodes: library.barcodes} %></td>
				<% else %>
					<td></td>
				<% end %>
				<% if library.library_fragmentation_method.present? %>
	        <td><%= link_to library.library_fragmentation_method.name, library.library_fragmentation_method.name %></td>
				<% else %>
					<td></td>
				<% end %>
				<td><%= library.nucleic_acid_starting_quantity %></td>
				<td><%= library.nucleic_acid_starting_quantity_units %></td>
        <td><%= library.size_range %></td>
        <td><%= library.strand_specific %></td>
        <td>
					<%= link_to fa_icon("pencil"), edit_library_path(library) %>
        	<%= link_to fa_icon("trash"),library, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
