<header>
	<h1>Libraries</h1>
	
	<ul class="actions">
		<li><%= link_to "New Library", new_library_path, class: "new" %></li>
	</ul>	
</header>

<table>
  <thead>
    <tr>
      <th>Sequence ontology term</th>
      <th>Biosample</th>
      <th>Antibody</th>
      <th>Vendor</th>
      <th>Lot identifier</th>
      <th>Vendor product identifier</th>
      <th>Size range</th>
      <th>Strand specificity</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @libraries.each do |library| %>
      <tr>
        <td><%= library.nucleic_acid_term %></td>
        <td><%= library.biosample.name %></td>
        <td><%= library.antibody.name %></td>
        <td><%= library.vendor.name %></td>
        <td><%= library.lot_identifier %></td>
        <td><%= library.vendor_product_identifier %></td>
        <td><%= library.size_range %></td>
        <td><%= library.strand_specific %></td>
        <td><%= link_to 'Show', library %></td>
        <td><%= link_to 'Edit', edit_library_path(library) %></td>
        <td><%= link_to 'Destroy', library, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

