<% title(@library.name, "Libraries") %>
<header>
	<h1><%= @library.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @library} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @library} %>
	</ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @library } %>

<table id="attributes">
	<tr>
	  <th>Library Name:</th>
		<td><%= @library.name %></td>
	</tr>

	<tr>
		<th>Documents:</th>
		<td>
      <%= render partial: "documents/link_to_document", locals: {documents: @library.documents} %>
		</td>
	</tr>

	<tr>
		<th>Sequencing Requests</th>
		<td>
			<%= render partial: "sequencing_requests/link_to_sequencing_request", locals: {sequencing_requests: @library.sequencing_requests} %>
		</td>
  </tr>

  <tr>
		<th>Sequence Ontology Term:</th>
	  <td><%= link_to @library.nucleic_acid_term.name, @library.nucleic_acid_term %></td>
	</tr>

	<tr>
		<th>Biosample:</th>
		<td><%= link_to @library.biosample.name, @library.biosample %></td>
	</tr>

	<tr>
   <th>Antibody:</th>
		<% if @library.antibody.present? %>
     <td><%= link_to @library.antibody.name, @library.antibody %></td>
		<% else %>
			<td></td>
		<% end %>
 </tr>

  <tr>
    <th>Vendor:</th>
    <% if @library.vendor.present? %>
      <td><%= link_to @library.vendor.name, @library.vendor %></td>
    <% else %>
			<td></td>
    <% end %>
  </tr>

  <tr>
  	<th>Lot Identifier:</th>
    <td><%= @library.lot_identifier %></td>
 </tr>

  <tr>
    <th>Vendor Product Identifier:</th>
    <td><%= @library.vendor_product_identifier %></td>
  </tr>

	<tr>	
  	<th>Size range:</th>
	  <td><%= @library.size_range %></td>
	</tr>

 	<tr>
   	<th>Strand Specific:</th>
    <td><%= @library.strand_specific %></td>
 	</tr>
</table>

<%= link_to 'Back', libraries_path %>

