<% title(@library.name, "Libraries") %>
<header>
	<h1><%= @library.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @library} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @library} %>
	</ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @library } %>

<table class="attributes">
	<tr>
	  <th><strong>Name:</strong></th>
		<td><%= @library.name %></td>
	</tr>

	<tr>
		<th><strong>Documents:</strong></th>
		<td>
      <%= render partial: "documents/link_to_document", locals: {documents: @library.documents} %>
		</td>
	</tr>

	<tr>
		<th><strong>Sequencing Requests</strong></th>
		<% if @library.sequencing_requests.present? %>
			<td>
				<%= render partial: "sequencing_requests/link_to_sequencing_request", locals: {sequencing_requests: @library.sequencing_requests} %>
			</td>
		<% else %>
			<td>None</td>
		<% end %>
  </tr>

  <tr>
		<th><strong>Sequence Ontology Term:</strong></th>
	  <td><%= link_to @library.nucleic_acid_term.name, @library.nucleic_acid_term %></td>
	</tr>

	<tr>
		<th><strong>Biosample:</strong></th>
		<td><%= link_to @library.biosample.name, @library.biosample %></td>
	</tr>

	<tr>
   <th><strong>Antibody:</strong></th>
		<% if @library.antibody.present? %>
     <td><%= link_to @library.antibody.name, @library.antibody %></td>
		<% else %>
			<td></td>
		<% end %>
 </tr>

  <tr>
    <th><strong>Vendor:</strong></th>
    <% if @library.vendor.present? %>
      <td><%= link_to @library.vendor.name, @library.vendor %></td>
    <% else %>
			<td></td>
    <% end %>
  </tr>

	<tr>
		<th><strong>Barcode:</strong></th>
		<td><%= @library.barcode %></td>
	</tr>

	<tr>
		<th><strong>Library Fragmentation Method:</strong></th>
		<% if @library.library_fragmentation_method.present? %>
			<td><%= link_to @library.library_fragmentation_method.name, @library.library_fragmentation_method %></td>
		<% else %>
			<td></td>
		<% end %>
	</tr>

  <tr>
  	<th><strong>Lot Identifier:</strong></th>
    <td><%= @library.lot_identifier %></td>
 </tr>

  <tr>
    <th><strong>Vendor Product Identifier:</strong></th>
    <td><%= @library.vendor_product_identifier %></td>
  </tr>

	<tr>
		<th><strong>Nucleic Acid Starting Quantity</strong></th>
		<td><%= @library.nucleic_acid_starting_quantity %></td>
	</tr>

	<tr>
		<th><strong>Nucleic Acid Starting Quantity Units</strong></th>
		<td><%= @library.nucleic_acid_starting_quantity_units %></td>
	</tr>

	<tr>	
  	<th><strong>Size range:</strong></th>
	  <td><%= @library.size_range %></td>
	</tr>

 	<tr>
   	<th><strong>Strand Specific:</strong></th>
    <td><%= @library.strand_specific %></td>
 	</tr>
</table>

<%= link_to 'Back', libraries_path %>

