<header>
	<h1><%= @library.name %></h1>

  <ul class="actions">
    <li><%= link_to "Edit Library", edit_library_path(@library), class: "edit" %></li>
    <li><%= link_to "Delete Library", library_path(@library), method: :delete,
										 data: { confirm: "Are you sure you would like to delete this library?"},
										 class: "delete" %></li>
	</ul>
</header>

<p>
  <strong>Library Name</strong></br>
  <%= @library.name %>
</p>

<p>
	<table>
		<tr><th style="text-align:left">Documents:</th></tr>
		<%= render partial: "documents/link_to_document", locals: {documents: @library.documents} %>
	</table>
</p>

<p>
  <strong>Sequence ontology term:</strong>
  <%= @library.sequence_ontology_term %>
</p>

<p>
  <strong>Biosample:</strong>
  <%= @library.biosample %>
</p>

<p>
  <strong>Antibody:</strong>
  <%= @library.antibody %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @library.vendor %>
</p>

<p>
  <strong>Lot identifier:</strong>
  <%= @library.lot_identifier %>
</p>

<p>
  <strong>Vendor product identifier:</strong>
  <%= @library.vendor_product_identifier %>
</p>

<p>
  <strong>Size range:</strong>
  <%= @library.size_range %>
</p>

<p>
  <strong>Strand specificity:</strong>
  <%= @library.strand_specificity %>
</p>

<%= link_to 'Back', libraries_path %>
