<%= render partial:  "application_partials/show_form_error_messages", locals: { :model_obj => @analysis } %>
<header>
  <h1><%= @analysis.id %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @analysis} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @analysis} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @analysis } %>

<table class="attributes">
	<tr>
		<th><strong>Description:</strong></th>
		<td><%= @analysis.description %></td>
	</tr>
	<tr>
		<th><strong>Merged BAM file:</strong></th>
		<% if @analysis.merged_bam_file.blank? %>
			<td></td>
		<% else %>
			<td><%= link_to @analysis.merged_bam_file.display(), @analysis.merged_bam_file %></td>
		<% end %>
	</tr>
	<tr>
		<th><strong>Merged Peaks file:</strong></th>
		<% if @analysis.merged_peaks_file.blank? %>
			<td></td>
		<% else %>
			<td><%= link_to @analysis.merged_peaks_file.display(), @analysis.merged_peaks_file %></td>
		<% end %>
	</tr>
	<tr>
		<th><strong>Merged QC file:</strong></th>
		<% if @analysis.merged_qc_file.blank? %>
			<td></td>
		<% else %>
			<td><%= link_to @analysis.merged_qc_file.display(), @analysis.merged_peaks_file %></td>
		<% end %>
	</tr>
</table>

<%= link_to 'Back', analyses_path %>
<% if @analysis.single_cell_sorting_id.present? %>
	</br><%= link_to "Single cell sorting", @analysis.single_cell_sorting %>
<% end %>
