<%= simple_form_for(@pcr_master_mix) do |f| %>
	<%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @pcr_master_mix} %>

	<%= f.input :name %>
	<%= f.association :vendor %>
	<%= f.input :vendor_product_identifier %>
	<%= f.input :vendor_product_url %>
	<%= f.input :lot_identifier %>

	<div class="form-actions">
		<%= f.button :submit, class: "btn-primary" %>
	</div></br>
<% end %>
