<%= render partial:  "application_partials/header", locals: {rec: @pcr_master_mix } %>

<table class="attributes">
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @pcr_master_mix.name %></td>
  </tr>
  
  <tr>
    <th><strong>Vendor:</strong></th>
    <td><%= link_to @pcr_master_mix.vendor.name, @pcr_master_mix.vendor %></td>
  </tr>
  
  <tr>
    <th><strong>Vendor product identifier:</strong></th>
    <td><%= @pcr_master_mix.vendor_product_identifier %></td>
  </tr>

  <tr>
    <th><strong>Lot identifier:</strong></th>
    <td><%= @pcr_master_mix.lot_identifier %></td>
  </tr>
  
  <tr>
    <th><strong>Vendor product url:</strong></th>
    <% if @pcr_master_mix.vendor_product_url.present? %>
      <td><%= link_to @pcr_master_mix.vendor_product_url, @pcr_master_mix.vendor_product_url %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>

  <tr class="notes-row">                                                                               
    <th><strong>Notes</strong></th>                                                                    
    <td><%= simple_format(@pcr_master_mix.notes) %></td>                                                     
  </tr> 
</table>

<!-- Hidden form that is used when the user tries to edit the 'notes'. --> 
<%= render partial: "application_partials/edit_notes", locals: {rec: @pcr_master_mix} %>

<%= link_to 'Back', pcr_master_mixes_path %>
