<header>
	<h1>Document Types</h1>

	<ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {record: DocumentType.first} %>
	</ul>
</header>

<table id="attributes">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @document_types.each do |document_type| %>
      <tr>
        <td><%= document_type.name %></td>
        <td><%= link_to fa_icon("pencil"), edit_document_type_path(document_type) %></td>
        <td><%= link_to fa_icon("trash"), document_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document type', new_document_type_path %>
