<header>
	<h1><%= @document_type.name %></h1>
	
  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @document_type} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @document_type} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @document_type } %>

<p>
  <strong>Name:</strong></br>
  <%= @document_type.name %>
</p>

<%= link_to 'Back', document_types_path %>
