<%= simple_form_for @gel, html: {remote: true, method: :post, style: "padding-top: 0.5em;", class: "gel-lane-form"} do |f| %>
  <!-- Form uses grid layout; see gels.scss. -->
  <%= f.simple_fields_for :gel_lanes, @gel_lane do |ff| %>
    <%= render partial: "gel_lanes/form", locals: {f: ff} %>
  <% end %>
  <div style="display: flex; align-items: flex-start;">
    <% if not @gel_lane.persisted? %>
      <%= f.button :submit, "Create", class: "btn-primary gel-create-lane-btn", style: "padding: 0.3em; margin-right: 1em;" %>
    <% end %>
    <!-- Also add button to delete gel_lane form (whether gel_lane is persisted or not -->
    <%= link_to fa_icon("trash lg"), remove_gel_lane_gel_path(gel_lane_id: @gel_lane.id), method: :delete, class: "gel-remove-gel-lane", remote: true %>
  </div>
<% end %>
