<%= simple_form_for(@gel, html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |f| %>

  <% defaults = INPUT_DEFAULTS[@gel.class.name] %>
  <%= f.association :immunoblot, as: :hidden, label_method: :display, label_html: {"data-toggle": "tooltip", title: "If this gel is part of an immunoblot analysis, specify the ummunoblot record here."} %>
  <% file_upload_hint="" %>
  <% if @gel.gel_image.present? %>
    <% file_upload_hint="You previously uploaded #{@gel.gel_image}." %>
  <% end %>
  <%= f.input :gel_image, as: :file, label: "Gel image", hint: file_upload_hint, input_html: {class: "image"} %>
  <%= f.input :caption, label_html: {"data-toggle": "tooltip", "title": "A short description of the gel image to be shown alongside the image when viewed."} %>

  <%= f.input :percentage, placeholder: "%", input_html: {value: @gel.percentage || defaults["percentage"]}, 
      label_html: {"data-toggle": "tooltip", "title": "The percentage of agarose or polyacrylamide of which the gel is composed."} %>
  <%# f.input :voltage, placeholder: "volts" %>
  <%= f.input :run_date %>
  <%= f.input :notes %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
</br>
