<%= simple_form_for @gel do |f| %>

  <% defaults = INPUT_DEFAULTS[@gel.class.name] %>
 
  <% if @gel.immunoblot_id.present? %>
    <!-- A gel is linked to either a PCR or an Immunoblot, never both. This association is first set
         on the PCR show page or the Immunoblot show page. -->
    <%= f.association :immunoblot, label_method: :display, label_html: {"data-toggle": "tooltip", title: "If this gel is part of an immunoblot analysis, specify the ummunoblot record here."} %>
  <% elsif @gel.pcr_id.present? %>
    <%= f.association :pcr, label_method: :display %>
  <% end %>
  <% file_upload_hint="" %>

  <%= f.input :percentage, placeholder: "%", input_html: {value: @gel.percentage || defaults["percentage"]}, 
      label_html: {"data-toggle": "tooltip", "title": "The percentage of agarose or polyacrylamide of which the gel is composed."} %>
  <%# f.input :voltage, placeholder: "volts" %>
  <%= f.input :run_date, include_blank: true %>
  <%= f.input :notes %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
</br>
