<header>
	<h1>Antibody Purifications</h1>

  <ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {policy_class: AntibodyPurification} %>
  </ul> 
</header>

<table id="attributes">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @antibody_purifications.each do |antibody_purification| %>
      <tr>
        <td><%= antibody_purification.name %></td>
        <td><%= link_to 'Show', antibody_purification %></td>
        <td><%= link_to 'Edit', edit_antibody_purification_path(antibody_purification) %></td>
        <td><%= link_to 'Destroy', antibody_purification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
