<header>
	<h1>Listing antibody_purifications</h1>

  <ul class="actions">
    <li><%= link_to "New Antibody Purification", new_antibody_purification_path, class: "new" %></li>
  </ul> 
</header>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @antibody_purifications.each do |antibody_purification| %>
      <tr>
        <td><%= antibody_purification.name %></td>
        <td><%= link_to 'Show', antibody_purification %></td>
        <td><%= link_to 'Edit', edit_antibody_purification_path(antibody_purification) %></td>
        <td><%= link_to 'Destroy', antibody_purification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
