<% title(@antibody_purification.name, "AntibodyPurifications") %>
<header>
  <h1><%= @antibody_purification.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @antibody_purification} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @antibody_purification} %>
  </ul>
</header>

<p>
  <strong>Name:</strong>
  <%= @antibody_purification.name %>
</p>

<%= link_to 'Back', antibody_purifications_path %>
