<%= simple_form_for(@genome_location) do |f| %>
  <%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @genome_location } %>

  <div class="form-inputs">
    <%= f.association :chromosome %>
    <%= f.input :start %>
    <%= f.input :end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
