<header class="index-view-header">
  <h1 class="index-page-header">                                                                       
    <%= @title || "Genome Locations" %>                                                                      
  </h1>
  <p class="model-definition"><%= GenomeLocation::DEFINITION %></p>
  <%= render partial: "application_partials/total", locals: {total: @total} %>
</header>

<table class="attributes index">
  <thead>
    <tr>
      <%= render partial: "application_partials/index_common_table_headers" %>
      <th>Reference Genome</th>
      <th>Chromosome</th>
      <th>Start</th>
      <th>End</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |rec| %>
      <tr>
        <%= render partial: "application_partials/index_common_table_cells", locals: {record: rec} %>
        <td><%= link_to rec.chromosome.reference_genome.name, rec.chromosome.reference_genome %></td>
        <td><%= rec.chromosome.name %></td>
        <td><%= rec.start %></td>
        <td><%= rec.end %></td>
        <td><%= link_to fa_icon("pencil"), edit_genome_location_path(rec) %></td>
        <td><%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if defined?(@page) %>                                                                               
  <%= paginate @records %>                                                                             
  <%= link_to "All", genome_locations_path(all: true) %>                                                        
<% end %>
