<header>
	<h1 class="index-page-header">Genome Locations</h1>
	<p class="model-definition"><%= GenomeLocation::DEFINITION %></p>

</header>

<table class="attributes">
  <thead>
    <tr>
			<th>Creator</th>
			<th>Date created</th>
			<th>Reference Genome</th>
      <th>Chromosome</th>
      <th>Start</th>
      <th>End</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @genome_locations.each do |rec| %>
      <tr>
				<td><%= rec.user.display() %></td>
				<td><%= time_ago_in_words(rec.created_at) %> ago </td>
        <td><%= link_to rec.chromosome.reference_genome.name, rec.chromosome.reference_genome %></td>
        <td><%= rec.chromosome.name %></td>
        <td><%= rec.start %></td>
        <td><%= rec.end %></td>
        <td><%= link_to fa_icon("pencil"), edit_genome_location_path(rec) %></td>
        <td><%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
