<p id="notice"><%= notice %></p>

<h1>Listing Genome Locations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Chromosome</th>
      <th>Start</th>
      <th>End</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @genome_locations.each do |rec| %>
      <tr>
        <td><%= rec.user %></td>
				<td><%= rec.user.display() %></td>
        <td><%= rec.chromosome %></td>
        <td><%= rec.start %></td>
        <td><%= rec.end %></td>
        <td><%= link_to 'Show', rec %></td>
        <td><%= link_to 'Edit', edit_genome_location_path(rec) %></td>
        <td><%= link_to 'Destroy', rec, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Genome location', new_genome_location_path %>
