<% defaults = INPUT_DEFAULTS[@atacseq.class.name] %>

<%= simple_form_for(@atacseq) do |f| %>
  <%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @atacseq } %>

  <%= f.input :name %>

  <%= f.input :upstream_identifier, label_html: {"data-toggle": "tooltip", "title": "The alias or accession of an existing ATAC-seq experiment on the ENCODE Portal (leave blank if this is a new experiment that hasn't been registered there yet). For a list of available ATAC-seq on the ENCODE Portal, see https://www.encodeproject.org/search/?type=Experiment&assay_title=ATAC-seq."} %>

  <%= f.input :single_cell, :label => "Single-cell Atacseq %>
  <%= f.input :snrna, :label => "Single-nuclear RNAseq %>
  <%= f.input :multiome %>
  <%= f.input :description %>
  <%= f.input :submitter_comments %>

  <fieldset>
    <legend>Documents</legend>
    <% if @atacseq.persisted? %>
      <strong>Linked documents:</strong>
      <%= render partial: "application_partials/simple_fields_for", locals: {f: f, record: @atacseq, attribute: :documents} %>
    <% end %>
    <% if @atacseq.id.blank? %>
      <% documents_default = defaults["document_ids"] %>
    <% else %>
      <% documents_default = nil %>
    <% end %>
    <%= f.association :documents, label: "Add documents",
        selected: documents_default,
        include_blank: true,
        input_html: {class: "atacseq_documents_selector"},
        label_html: {class: "refresh", "data-toggle": "tooltip","title": "Documents that provide additional information (not data file)."} %>
  </fieldset>
  <%= render partial: "application_partials/notes", locals: {f: f} %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
