<header class="index-view-header">
  <h1 class="index-page-header">
    <%= @title || "ATAC-seq experiments" %>
  </h1>
  <p class="model-definition"><%= Atacseq::DEFINITION %></p>

  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record", locals: {scope: @scope} %>
    <% if @scope == "single_cell" %>
      <%= link_to "Batches", sc_atacseq_index_batches_path, class: "reg-btn" %>
    <% elsif @scope == "snrna" %>
      <%= link_to "Batches", snrna_atacseq_index_batches_path, class: "reg-btn" %>
    <% elsif @scope == "bulk" %>
      <%= link_to "Batches", bulk_atacseq_index_batches_path, class: "reg-btn" %>
    <% end %>
  </ul>
  <%= render partial: "application_partials/total", locals: {records: @records} %>
</header>

<table class="attributes index">
  <thead>
    <tr>
      <%= render partial: "application_partials/index_common_table_headers" %>
      <th>Description</th>
      <th>Replicates</th>
      <th>Submitter comments</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |rec| %>
      <tr>
        <%= render partial: "application_partials/index_common_table_cells", locals: {record: rec} %>
        <td><%= rec.description %></td>
        <td>
          <%= render partial: "application_partials/link_to_has_many", locals: {links: rec.replicates} %>
        </td>
        <td><%= rec.submitter_comments %></td>
        <td><%= rec.notes %></td>
        <td>
          <%= link_to fa_icon("pencil"), edit_atacseq_path(rec) %>
          <%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "application_partials/index_paging" %>
