<%= render partial:  "application_partials/header", locals: {rec: @atacseq } %>

<table class="attributes">
  <tbody>
    <tr>
      <th><strong>Name:</strong></th>
      <td><%= @atacseq.name %></td>
    </tr>

    <tr>
      <th><strong>Single cell:</strong></th>
      <td><%= @atacseq.single_cell? %></td>
    </tr>

    <tr>
      <th><strong>Documents:</strong></th>
      <td><%= render partial: "application_partials/link_to_has_many", locals: {links: @atacseq.documents}  %></td>
    </tr>
      
    <tr>
      <th><strong>Description:</strong></th>
      <td><%= @atacseq.description %></td>
    </tr>

    <tr>                                                                                                 
      <th><strong>Replicates:</strong></th>                                                              
      <td><%= render partial: "application_partials/link_to_has_many", locals: {links: @atacseq.replicates} %>
    </tr>
    
    <tr>
      <th><strong>Submitter comments:</strong></th>
      <td><%= @atacseq.submitter_comments %></td>
    </tr>
    
    <tr>
      <th><strong>Notes:</strong></th>
      <td><%= @atacseq.notes %></td>
    </tr>
  </tbody>
</table>

<div class="bottom-btns xfade-in">                                                                     
  <%= link_to "Add experiment replicate", [:select_experimental_biosample, @atacseq], class: "reg-btn", id: "atacseq-experiment-add-rep", remote: true %> 
</div>  

<!-- Hidden form that is used when the user tries to edit the 'notes'. -->                             
<%= render partial: "application_partials/edit_notes", locals: {rec: @atacseq} %>

</br>
<%= link_to 'Back', atacseqs_path %>
