<%= simple_form_for(@document) do |f| %>
	<%= f.error_notification %>

	<%= f.input :description,
			label_html: {"data-toggle" => "tooltip", "title" => "A plain text description of the document."} %>
	<%= f.input :uploaded_document, as: :file, label: false %><br/>
	<%= f.association :document_type %>

	<div class="actions">
		<%= f.button :submit, class: "btn-primary" %>
	</div></br>
<% end %>
