<%= simple_form_for(@document) do |f| %>
	<%= f.error_notification %>

	<%= f.input :description %>
	Upload your document: <%= f.file_field("uploaded_document") %><br/>

	<div class="actions">
		<%= f.button :submit, class: "btn-primary" %>
	</div></br>
<% end %>
