<%= simple_form_for(@document) do |f| %>
	<%= render partial:  "application_partials/show_form_error_messages", locals: { :f => f, :model_obj => @document } %>

	<%= f.input :is_protocol, label: "Is Protocol?", as: :radio_buttons, item_label_class: "radio-inline", item_wrapper_tag: false, label_html: {"data-toggle" => "tooltip", "title" => "Select if this is a protocol document."} %>

	<%= f.input :description,
			label_html: {"data-toggle" => "tooltip", "title" => "A plain text description of the document."} %>
	<%= f.input :uploaded_document, as: :file, label: false %><br/>
	<%= f.association :document_type %>

	<div class="actions">
		<%= f.button :submit, class: "btn-primary" %>
	</div></br>
<% end %>
