<%= simple_form_for(@document) do |f| %>
	<%= f.error_notification %>

	<%= f.input :description %>
	<%= f.input :uploaded_document, as: :file, label: "File" %><br/>

	<div class="actions">
		<%= f.button :submit, class: "btn-primary" %>
	</div></br>
<% end %>
