<header>
	<h1>Documents</h1>

	<ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {model_class: Document} %>
	</ul>
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Content type</th>
      <th>File Link</th>
      <th>Document type</th>
      <th class="actions">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= link_to document.name, document %></td>
        <td><%= document.description %></td>
        <td><%= document.content_type %></td>
        <td><%= link_to(document.name,:action => "document", :id => document.id) %></td>
        <td><%= link_to document.document_type.name, document.document_type %></td>
        <td><%= link_to fa_icon("pencil"), edit_document_path(document) %></td>
        <td><%= link_to fa_icon("trash"), document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
