<header class="index-view-header">
  <h1 class="index-page-header">                                                                       
    <%= @title || "Documents" %>                                                                      
  </h1>
  <p class="model-definition"><%= Document::DEFINITION %></p>

  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record" %>
  </ul>
  <%= render partial: "application_partials/total", locals: {records: @records} %>
</header>

<table class="attributes index">
  <thead>
    <tr>
      <%= render partial: "application_partials/index_common_table_headers" %>
      <th>Is Protocol?</th>
      <th>Content type</th>
      <th>File Link</th>
      <th>Document type</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |rec| %>
      <tr>
        <%= render partial: "application_partials/index_common_table_cells", locals: {record: rec} %>
        <td><%= rec.is_protocol %></td>
        <td><%= rec.content_type %></td>
        <td><%= link_to rec.name, rec %></td>
        <td><%= link_to rec.document_type.name, rec.document_type %></td>
        <td>
          <%= link_to fa_icon("pencil"), edit_document_path(rec) %>
          <%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if defined?(@page) %>                                                                               
  <%= paginate @records %>                                                                             
  <%= link_to "All", documents_path(all: true) %>                                                        
<% end %>
