<% title(@document.name, "Documents") %>
<header>
  <h1><%= @document.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @document} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @document} %>
  </ul>
</header>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @document.description %>
</p>

<p>
  <strong>Content Type:</strong>
  <%= @document.content_type%>
</p>

<p>
  <strong>Data:</strong>
	<%= link_to(@document.name,:action => "document", :id => @document.id) %>
</p>

<p>
  <strong>Document type:</strong>
 	<%= @document.name %>
</p>

<%= link_to 'Back', documents_path %>
