<% title(@document.name, "Documents") %>
<header>
  <h1><%= @document.name %></h1>

  <ul class="actions">
    <li><%= link_to "Edit Document", edit_document_path(@document), class: "edit" %></li>
    <li><%= link_to "Delete Document", document_path(@document), method: :delete,
                     data: { confirm: "Are you sure you would like to delete this Document?"},
                     class: "delete" %></li>
  </ul>
</header>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @document.description %>
</p>

<p>
  <strong>Content Type:</strong>
  <%= @document.content_type%>
</p>

<p>
  <strong>Data:</strong>
	<%= link_to(@document.name,:action => "document", :id => @document.id) %>
</p>

<p>
  <strong>Document type:</strong>
 	<%= @document.name %>
</p>

<%= link_to 'Back', documents_path %>
