<%= render partial:  "application_partials/header", locals: {rec: @document } %>

<table class="attributes">
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @document.name %></td>
  </tr>

  <tr>
    <th><strong>Is Protocol?:</strong</th>
    <td><%= @document.is_protocol? %></td>
  </tr>
  
  <tr>
    <th><strong>Description:</strong></th>
    <td><%= @document.description %></td>
  </tr>
  
  <tr>
    <th><strong>Content Type:</strong></th>
    <td><%= @document.content_type%></td>
  </tr>
  
  <tr>
    <th><strong>Data:</strong></th>
    <td><%= link_to(fa_icon("download") + " #{@document.name}",:action => "document", :id => @document.id) %></td>
  </tr>
  
  <tr>
    <th><strong>Document type:</strong></th>
     <td><%= link_to @document.document_type.name, @document.document_type %></td>
  </tr>

  <tr class="notes-row">                                                                               
    <th><strong>Notes</strong></th>                                                                    
    <td><%= simple_format(@document.notes) %></td>                                                     
  </tr> 
</table>

<!-- Hidden form that is used when the user tries to edit the 'notes'. -->                             
<%= render partial: "application_partials/edit_notes", locals: {rec: @document} %>

<%= link_to 'Back', documents_path %>
