<%= simple_form_for(@cloning_vector) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name, {"data-toggle" => "tooltip", "title" => "Unique name"} %>
  <%= f.input :description %>
  <%= f.input :url %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
