<%= simple_form_for @cloning_vector do |f| %>
  <%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @cloning_vector } %>

  <%= f.input :name, {"data-toggle" => "tooltip", "title" => "Unique name"} %>
  <%= f.input :description %>
  <%= render partial: "vendors/fieldset_input", locals: {f: f, url: true} %> 
  <% file_upload_hint="" %>
  <% if @cloning_vector.map.present? %>
    <% file_upload_hint="You previously uploaded #{@cloning_vector.map}." %>
  <% end %>
  <%= f.input :map, as: :file, input_html: {class: 'image directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host }}, label: "Map image", hint: file_upload_hint %>
  <%= render partial: "application_partials/notes", locals: {f: f} %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
