<header>
  <h1>Cloning Vectors</h1>
  
  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record", locals: {model_class: CloningVector} %>
  </ul> 
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Vendor</th>
      <th>Product url</th>
			<th>Map</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @cloning_vectors.each do |cv| %>
      <tr>
        <td><%= link_to cv.name, cv %></td>
        <td><%= cv.description %></td>
        <td><%= link_to cv.vendor.name, cv.vendor %></td>
        <td><%= cv.product_url %></td>
				<% if cv.map.present? %>
	        <td><%= link_to cv.map, cv.map %></td>
				<% else %>
					<td></td>
				<% end %>
				<td>
					<%= link_to fa_icon("pencil"), edit_cloning_vector_path(cv) %>
        	<%= link_to fa_icon("trash"), cv, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
