<%= render partial:  "application_partials/header", locals: {rec: @cloning_vector } %>

<table class="attributes">
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @cloning_vector.name %></td>
  </tr>
  
  <tr>
    <th><strong>Vendor:</strong></th>
    <td><%= link_to @cloning_vector.vendor.name, @cloning_vector.vendor %></td>
  </tr>
  
  <tr>
    <th><strong>Vendor product identifier:</strong></th>
    <td><%= @cloning_vector.vendor_product_identifier %></td>
  </tr>
  
  <tr>
    <th><strong>Product url:</strong></th>
    <% if @cloning_vector.product_url.present? %>
      <td><%= link_to @cloning_vector.product_url, @cloning_vector.product_url %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
  
  <tr>
    <th><strong>Description:</strong></th>
    <td><%= @cloning_vector.description %></td>
  </tr>
  
  <tr>
    <th><strong>Map</strong></th>
    <% if @cloning_vector.map.present? %>
      <td><%= image_tag @cloning_vector.map, alt: "Map", class: "map-img" %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>

  <tr class="notes-row">                                                                               
    <th><strong>Notes</strong></th>                                                                    
    <td><%= simple_format(@cloning_vector.notes) %></td>                                                     
  </tr> 
</table>

<!-- Hidden form that is used when the user tries to edit the 'notes'. -->                             
<%= render partial: "application_partials/edit_notes", locals: {rec: @cloning_vector} %>

<%= link_to 'Back', cloning_vectors_path %>
