<h1>Listing sequence_ontology_terms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Accession</th>
      <th>Definition</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sequence_ontology_terms.each do |sequence_ontology_term| %>
      <tr>
        <td><%= sequence_ontology_term.name %></td>
        <td><%= sequence_ontology_term.accession %></td>
        <td><%= sequence_ontology_term.definition %></td>
        <td><%= link_to 'Show', sequence_ontology_term %></td>
        <td><%= link_to 'Edit', edit_sequence_ontology_term_path(sequence_ontology_term) %></td>
        <td><%= link_to 'Destroy', sequence_ontology_term, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sequence ontology term', new_sequence_ontology_term_path %>
