<%= simple_form_for(@sequencing_result) do |f| %>
  <%= f.error_notification %>

  <% if @sequencing_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sequencing_result.errors.count, "error") %> prohibited this sequencing result from being saved:</h2>

      <ul>
      <% @sequencing_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, label_html: {"data-toggle" => "tooltip", "title" => "Unique sequencing result name"} %>
  <%= f.input :comment, label_html: {"data-toggle" => "tooltip", "title" => "Notes about the sequencing result"} %>

  <div class="form-inputs">
    <%= f.association :sequencing_request, collection: SequencingRequest.order(:name), label_method: :name, prompt: "Select the Sequencing Request" %>
    <%= f.input :run_name %>
    <%= f.input :lane %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
