<% barcode_sequencing_results.each do |res| %>
<!-- A row in the table #barcode_results in the show view. The column names are defined and ordered in
     ./new_barcode_result.html.erb.
-->
	<tr>
		<td><%= link_to res.name, [@sequencing_request,@sequencing_result,res] %></td>
		<td><%= link_to res.library.name, res.library %></td>
		<td><%= res.library.barcode %></td>
		<td><%= res.comment %></td>
		<td><%= res.read1_count %></td>
		<td><%= res.read1_uri %></td>
		<td><%= res.read2_count %></td>
		<td><%= res.read2_uri %></td>
		<td><%= link_to fa_icon("pencil"), [:edit,@sequencing_request,@sequencing_result,res] %></td>
		<td><%= link_to fa_icon("trash"), [@sequencing_request,@sequencing_result,res], method: :delete %></td>
	</tr>
<% end %>
