<header>
	<h1 class="index-page-header">Barcode Sequencing Results</h1>

<!--
	#Dont include lines below since we don't want users to be able to create a sequencing_result
  # from it's own page, rather, only through a sequencing_run object.
	<ul class="actions">
	<\%= render partial: "application_partials/auth_new_record", locals: {model_class: BarcodeSequencingResult} %>
	</ul> 
-->
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>Sequencing run</th>
			<th>Creator</th>
			<th>Date created</th>
      <th>Library</th>
      <th>Comment</th>
      <th>Read1 uri</th>
      <th>Read2 uri</th>
      <th>Read1 count</th>
      <th>Read2 count</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @_sequencing_results.each do |rec| %>
      <tr>
        <td><%= link_to @sequencing_run.name, [@sequencing_request,@sequencing_run] %></td>
				<td><%= rec.user.display() %></td>
				<td><%= time_ago_in_words(rec.created_at) %> ago </td>
        <td><%= link_to rec.library.name, rec.library %></td>
        <td><%= rec.comment %></td>
        <td><%= rec.read1_uri %></td>
        <td><%= rec.read2_uri %></td>
        <td><%= rec.read1_count %></td>
        <td><%= rec.read2_count %></td>
        <td>
					<%= link_to fa_icon("pencil"), [:edit,@sequencing_request,@sequencing_run,rec] %>
        	<%= link_to fa_icon("trash"), [@sequencing_request,@sequencing_run,rec], method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
