<header>
  <h1><%= @sequencing_result.name %></h1>  
  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @sequencing_result, nested: @sequencing_request} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @sequencing_result, nested: @sequencing_request} %>
		<!-- Note that I use the SequencingRequest policy class above. The authorization will be the same level
        for both classes. I avoided using the SequencingResult class directly here since it's a nested resource
				and the partial doesn't know how to calculate the full path to the policy class in this case.
		-->
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @sequencing_result} %>

<table id="attributes">
	<tr>
		<th>Name:</th>
  	<td><%= @sequencing_result.name %></td>
	</tr>

	<tr>
		<th>Comment:</th>
	  <td><%= @sequencing_result.comment %></td>
	</tr>

	<tr>
		<th>Sequencing request:</th>
  	<td><%= link_to @sequencing_request.name, @sequencing_request %></td>
	</tr>

	<tr>
	  <th>Run name:</th>
 	 	<td><%= @sequencing_result.run_name %></td>
	</tr>

	<tr>
		<th>Lane:</th>
  	<td><%= @sequencing_result.lane %></td>
	</tr>
</table>

<table id="library_results">
</table>

<%= link_to 'Back', sequencing_request_sequencing_results_path %>
