<%= render partial: "application_partials/header", locals: {rec: @sequencing_result, no_new_btn: true, nested: [@sequencing_request,@sequencing_run]} %>

<table class="attributes">
    <tr>
      <th><strong>Analyses</strong></th>
      <td><%= render partial: "application_partials/link_to_has_many", locals: {links: @sequencing_result.analyses} %></td>
    </tr>

    <tr>
      <th><strong>Merged?</strong></th>
      <td><%= @sequencing_result.merged? %></td>
    </tr>

    <tr>
      <th><strong>Sequencing run:</strong></th>
      <td><%= link_to @sequencing_result.sequencing_run.name, [@sequencing_request,@sequencing_run] %></td>
    </tr>
  
    <tr>
      <th><strong>Library:</strong></th>
      <td>
        <% unless @sequencing_result.merged? %>
          <%= link_to @sequencing_result.library.name, @sequencing_result.library %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
  
    <tr>
      <th><strong>Comment:</strong></th>
      <td><%= @sequencing_result.comment %></td>
    </tr>
  
    <tr>
      <th><strong>Read1 uri:</strong></th>
      <td><%= @sequencing_result.read1_uri %></td>
    </tr>
  
    <tr>
      <th><strong>Read2 uri:</strong></th>
      <td><%= @sequencing_result.read2_uri %></td>
    </tr>
  
    <tr>
      <th><strong>Read1 count:</strong></th>
      <td><%= @sequencing_result.read1_count %></td>
    </tr>
  
    <tr>
      <th><strong>Read2 count:</strong></th>
      <td><%= @sequencing_result.read2_count %></td>
    </tr>

  <tr class="notes-row">                                                                               
    <th><strong>Notes</strong></th>                                                                    
    <td><%= simple_format(@sequencing_result.notes) %></td>                                                     
  </tr> 
</table>

<!-- Hidden form that is used when the user tries to edit the 'notes'. --> 
<%= render partial: "application_partials/edit_notes", locals: {rec: [@sequencing_request, @sequencing_run, @sequencing_result]} %>
