<%= simple_form_for([@sequencing_library_prep_kit,@barcode]) do |f| %>
	<%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @barcode } %>

  <%= f.input :name, {"data-toggle" => "tooltip", "title" => "Unique name"} %>
  <%= f.association :sequencing_library_prep_kit, {"data-toggle" => "tooltip", "title" => "The name of the sequencing library preparation kit used that contains the barcode."} %>
  <%= f.input :sequence, {"data-toggle" => "tooltip", "title" => "Sequence of the barcode (uppercase)."} %>
  <%= f.input :index_number, {:collection => 1..2, "data-toggle" => "tooltip", "title" => "howdy"} %>
  <%= render partial: "application_partials/notes", locals: {f: f} %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
