<header>
  <h1>Barcodes</h1>
  
  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record", locals: {model_class: Barcode} %>
  </ul> 
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>Name</th>
      <th>Sequence</th>
      <th>Sequencing library prep kit</th>
      <th class="actions"></th>
    </tr>
  </thead>

  <tbody>
    <% @barcodes.each do |barcode| %>
      <tr>
        <td><%= link_to barcode.name, barcode %></td>
        <td><%= barcode.sequence %></td>
        <td><%= link_to barcode.sequencing_library_prep_kit.name, barcode.sequencing_library_prep_kit %></td>
        <td><%= link_to fa_icon("pencil"), edit_barcode_path(barcode) %></td>
        <td><%= link_to fa_icon("trash"), barcode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
