<%= render partial:  "application_partials/header", locals: {rec: @barcode, nested: @sequencing_library_prep_kit } %>

<table class="attributes">

  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @barcode.name %></td>
  </tr>
  
  <tr>
    <th><strong>Sequencing library prep kit:</strong></th>
    <td><%= link_to @barcode.sequencing_library_prep_kit.name, @sequencing_library_prep_kit %></td>
  </tr>

  <tr>
    <th><strong>Sequence:</strong></th>
    <td><%= @barcode.sequence %></td>
  </tr>

  <tr>
    <th><strong>Index Number:</strong></th>
    <td><%= @barcode.index_number %></td>
  </tr>

  <tr class="notes-row">                                                                               
    <th><strong>Notes</strong></th>                                                                    
    <td><%= simple_format(@barcode.notes) %></td>                                                     
  </tr> 
</table>

<!-- Hidden form that is used when the user tries to edit the 'notes'. -->                             
<%= render partial: "application_partials/edit_notes", locals: {rec: @barcode, nested: @sequencing_library_prep_kit} %>

<%= link_to 'Back', sequencing_library_prep_kit_path(@sequencing_library_prep_kit) %>
