<%= simple_form_for(@vendor) do |f| %>
	<%= f.error_notification %>

  <%= f.input :name %>

  <%= f.input :title %>

  <%= f.input :description %>

  <div class="actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
