<%= simple_form_for(@vendor) do |f| %>
	<%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @vendor } %>

  <%= f.input :name, label_html: {"data-toggle" => "tooltip", "title" => "Unique vendor name"} %>

	<%= f.input :url, label_html: {"data-toggle" => "tooltip", "title" => "Web URL if applicable."} %>

	<%= f.input :encode_identifier %>


  <%= f.input :description, label_html: {"data-toggle" => "tooltip", "title" => "Vendor description"} %>

  <div class="actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
