<header>
	<h1>Vendors</h1>

  <ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {model_class: Vendor} %>
  </ul> 
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>Name</th>
      <th>ENCID</th>
      <th>Description</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
				<td><%= vendor.encode_identifier %></td>
        <td><%= link_to vendor.name, vendor.url %></td>
        <td><%= vendor.description %></td>
        <td><%= link_to fa_icon("pencil"), edit_vendor_path(vendor) %></td>
        <td><%= link_to fa_icon("trash"), vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
