<header>
	<h1>Listing Vendors</h1>

  <ul class="actions">
    <li><%= link_to "New Vendor", new_vendor_path, class: "new" %></li>
  </ul> 
</header>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= link_to vendor.name, vendor.url %></td>
        <td><%= vendor.title %></td>
        <td><%= vendor.description %></td>
        <td><%= link_to 'Show', vendor %></td>
        <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
        <td><%= link_to 'Destroy', vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
