<header>
  <h1><%= @vendor.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @vendor} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @vendor} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @vendor} %>

<p>
	<strong>ENCID:</strong>
	<%= @vendor.encode_identifier %>
</p>

<p>
  <strong>Name:</strong>
  <%= link_to @vendor.name,@vendor.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vendor.description %>
</p>

<%= link_to 'Back', vendors_path %>
