<header>
  <h1><%= @vendor.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @vendor} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @vendor} %>
  </ul>
</header>

<p>
  <strong>Name:</strong>
  <%= link_to @vendor.name,@vendor.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @vendor.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vendor.description %>
</p>

<%= link_to 'Back', vendors_path %>
