<header>
  <h1><%= @vendor.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @vendor} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @vendor} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @vendor} %>

<table class="attributes">
	<tr>
		<th><strong>ENCID:</strong></th>
		<td><%= @vendor.encode_identifier %></td>
	</tr>

	<tr>
		<th><strong>Name:</strong></th>
		<td><%= link_to @vendor.name,@vendor.url %></td>
	</tr>

	<tr>
		<th><strong>Description:</strong></th>
		<td><%= @vendor.description %></td>
	</tr>
</table>

<%= link_to 'Back', vendors_path %>
