<p>
  <strong>Name:</strong>
  <%= link_to @vendor.name,@vendor.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @vendor.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vendor.description %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
