<%= simple_form_for([@sequencing_request,@sequencing_result,@library_sequencing_result]) do |f| %>
  <%= f.error_notification %>

  <table class="form-inputs">
		<tr>
			<td><%= f.input :name %></td>
      <td><%= f.association :library, collection: libs_on_sreq_without_seqresult(@sequencing_request) %></td>
      <td><%= f.input :comment %></td>
      <td><%= f.input :read1_count %></td>
      <td><%= f.input :read1_uri %></td>
      <td><%= f.input :read2_count %></td>
      <td><%= f.input :read2_uri %></td>
		</tr>
  </table>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
	</br>	
<% end %>
