<p id="notice"><%= notice %></p>

<h1>Listing Library Sequencing Results</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Sequencing result</th>
      <th>Library</th>
      <th>Comment</th>
      <th>Read1 uri</th>
      <th>Read2 uri</th>
      <th>Read1 count</th>
      <th>Read2 count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @library_sequencing_results.each do |library_sequencing_result| %>
      <tr>
        <td><%= library_sequencing_result.name %></td>
        <td><%= library_sequencing_result.sequencing_result %></td>
        <td><%= library_sequencing_result.library %></td>
        <td><%= library_sequencing_result.comment %></td>
        <td><%= library_sequencing_result.read1_uri %></td>
        <td><%= library_sequencing_result.read2_uri %></td>
        <td><%= library_sequencing_result.read1_count %></td>
        <td><%= library_sequencing_result.read2_count %></td>
        <td><%= link_to 'Show', library_sequencing_result %></td>
        <td><%= link_to 'Edit', edit_library_sequencing_result_path(library_sequencing_result) %></td>
        <td><%= link_to 'Destroy', library_sequencing_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Library sequencing result', new_library_sequencing_result_path %>
