<% title(@library_sequencing_result.name, "Libraries") %>
<header>
  <h1><%= @library_sequencing_result.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @library_sequencing_result, nested: [@sequencing_request,@sequencing_result]} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @library_sequencing_result, nested: [@sequencing_request,@sequencing_result]} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @library_sequencing_result } %>

<table class="attributes">
		<tr>
		  <th><strong>Name:</strong></th>
	  	<td><%= @library_sequencing_result.name %></td>
		</tr>

		<tr>
		  <th><strong>Sequencing result:</strong></th>
	  	<td><%= link_to @library_sequencing_result.sequencing_result.name, [@sequencing_request,@sequencing_result] %></td>
		</tr>
	
		<tr>
		  <th><strong>Library:</strong></th>
	  	<td><%= link_to @library_sequencing_result.library.name, @library_sequencing_result.library %></td>
		</tr>
	
		<tr>
	  	<th><strong>Comment:</strong></th>
	  	<td><%= @library_sequencing_result.comment %></td>
		</tr>
	
		<tr>
	  	<th><strong>Read1 uri:</strong></th>
	  	<td><%= @library_sequencing_result.read1_uri %></td>
		</tr>
	
		<tr>
	  	<th><strong>Read2 uri:</strong></th>
	  	<td><%= @library_sequencing_result.read2_uri %></td>
		</tr>
	
		<tr>
	  	<th><strong>Read1 count:</strong></th>
	  	<td><%= @library_sequencing_result.read1_count %></td>
		</tr>
	
		<tr>
	  	<th><strong>Read2 count:</strong></th>
	  	<td><%= @library_sequencing_result.read2_count %></td>
		</tr>
</table>
