
  <%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @crispr } %>
  <%# is_crispr_modification_path = request.fullpath.start_with?(crispr_modifications_path) %>

  <%= f.input :name, label_html: {"data-toggle": "tooltip", "title": "Unique name"} %>

  <%= f.input :upstream_identifier, label_html: {"data-toggle": "tooltip", "title": "The alias or accession of an existing genetic_modification on the ENCODE Portal (leave blank if this is a new genetic_modification that hasn't been registered there yet). For a list of available genetic_modifications on the ENCODE Portal, see https://www.encodeproject.org/genetic-modifications."} %>

  <%= f.input :category, collection: Enums::CRISPR_MOD_CATEGORIES, label_html: {"data-toggle": "tooltip", "title":  "The category/type of the genetic modification performed."} %>

  <%= f.input :purpose, collection: Enums::CRISPR_MOD_PURPOSE, label_html: {"data-toggle": "tooltip", "title":  "The purpose of the genetic modification."} %>

  <fieldset>                                                                                           
    <legend>CRISPR Constructs</legend>                                                                         
    <strong>Linked:</strong>                                                                 
    <%= render partial: "application_partials/simple_fields_for", locals: {f: f, record: @crispr, attribute: :crispr_constructs} %>
    <%= f.association :crispr_constructs, label: "Add CRISPR Constructs", selected: nil,
        include_blank: true,                                                                           
        input_html: {class: "crispr_constructs_selector"},                                          
        label_html: {class: "refresh"} %>
  </fieldset> 

  <div id="added_crispr_constructs"></div>
  <!-- .added_crispr_constructs will serve as the container for new crispr_construct selections added by jQuery. -->

  <% if not @crispr.persisted? and @crispr.crispr_constructs.any? %>
    <!-- Then the form was rerendered (perhaps due to input error on submission), and
         we want to show what the user originally selected.
    -->
    <%= render partial: "crispr_constructs/select_crispr_construct",
        locals: {f: f, crispr_constructs: CrisprConstruct.all} %>
  <% end %>

  <%= link_to "Add Crispr Guide Construct", select_crispr_construct_crispr_modifications_path({exclude_ids: @crispr.crispr_constructs.ids}),
      remote: true,
      class: "select_crispr_construct reg-btn" %>
  </br></br>

  <%= f.association :donor_construct, label_html: {"data-toggle" => "tooltip", "title" => "The Donor Construct that contains the donor sequence to integrate at the genomic site of the genetic modification."} %>

  <%# f.association :biosample, collection: Biosample.non_plated, label_html: {"data-toggle" => "tooltip", "title" => "The biosample on which the CRISPR was performed."} %>

  <%= label_tag(:reference_genome_id, "Reference Genome  ", {"data-toggle" => "tooltip", "title" => "Select reference genome you will use to describe the location of the genetic modification."}) %>
  <%= select_tag(:reference_genome_id, options_for_select( ReferenceGenome.order("lower(name)").map {|x| [x.name, x.id]}),
      prompt: "Select reference")  %>
  </br>

  <div class="container genomic_integration_site"></div>
  <!-- Jquery will fill in the div above when a reference_genome is selected -->

  <fieldset>
    <legend>Documents</legend>
    <strong>Linked documents:</strong>
    <%= render partial: "application_partials/simple_fields_for", locals: {f: f, record: @crispr, attribute: :documents} %>
    <%= f.association :documents, label: "Add documents", selected: nil, collection: sorted_document_name_id(),
        include_blank: true,
        input_html: {class: "crispr_documents_selector"},
        label_html: {class: "refresh", "data-toggle": "tooltip","title": "Documents that provide additional information (not data file)."} %>
  </fieldset>
  <%= render partial: "application_partials/notes", locals: {f: f} %>

  </br>
