<header>
  <h1>Crisprs</h1>

  <!-- <ul class="actions"> -->
		<!-- Don't add 'New' btn here since a new object can only be created at the Biosample level now. -->
    <%# render partial: "application_partials/auth_new_record", locals: {model_class: Crispr} %>
  <!-- </ul>  -->
</header> 
<p>A new CRISPR is created at the Biosample level.</p></br>
  
<table class="attributes">
  <thead>
    <tr>
      <th>Name</th>
			<th>Creator</th>
			<th>Date created</th>
      <th>Crispr constructs</th>
      <th>Donor construct</th>
      <th>Biosample</th>
			<th>Target</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @crisprs.each do |rec| %>
      <tr>
        <td><%= link_to rec.name, rec %></td>
				<td><%= rec.user.display() %></td>
				<td><%= time_ago_in_words(rec.created_at) %> ago </td>
				<td>
					<% rec.crispr_constructs.each do |cc| %>
		        <%= link_to cc.name, cc %>
					<% end %>
				</td>
        <td><%= link_to rec.donor_construct.name, rec.donor_construct %></td>
        <td><%= link_to rec.biosample.name, rec.biosample %></td>
				<% target = rec.crispr_constructs.first.target %>
				<td><%= link_to target.name, target %></td>
        <td>
					<%= link_to fa_icon("pencil"), edit_crispr_modification_path(rec) %>
	        <%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
