<header>
  <h1 class="index-page-header">
    <%= @title || "CRISPR Modifications" %>
  </h1>
  <p class="model-definition"><%= CrisprModification::DEFINITION %></p>

  <% if not defined?(@no_new_btn) %>                                                                   
    <ul class="actions">                                                                               
      <%= render partial: "application_partials/auth_new_record" %>                                    
    </ul>                                                                                              
  <% end %>

</header> 

<table class="attributes index">
  <thead>
    <tr>
      <%= render partial: "application_partials/index_common_table_headers" %>
      <th>Category</th>
      <th>Purpose</th>
      <th>Crispr constructs</th>
      <th>Donor construct</th>
      <th>Biosample</th>
      <th>Target</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |rec| %>
      <tr>
        <%= render partial: "application_partials/index_common_table_cells", locals: {record: rec} %>
        <td><%= rec.category %></td>
        <td><%= rec.purpose %></td>
        <td>
          <% rec.all_crispr_constructs.each do |cc| %>
            <%= link_to cc.name, cc %>
          <% end %>
        </td>
        <td><%= link_to rec.donor_construct.name, rec.donor_construct %></td>
        <td><%= link_to rec.biosample.name, rec.biosample %></td>
        <% target = rec.all_crispr_constructs.first.target %>
        <td><%= link_to target.name, target %></td>
        <td>
          <%= link_to fa_icon("pencil"), edit_crispr_modification_path(rec) %>
          <%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if defined?(@page) %>                                                                               
  <%= paginate @records %>                                                                             
  <%= link_to "All", crispr_modifications_path(all: true) %>                                                        
<% end %>
