<%= render partial:  "application_partials/show_form_error_messages", locals: { :model_obj => @crispr } %>
<header>
  <h1><%= @crispr.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @crispr} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @crispr} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @crispr } %>

<table class="attributes">
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @crispr.name %></td>
  </tr>

  <tr>
    <th><strong>Category:</strong></th>
    <td><%= @crispr.category %></td>
  </tr>

  <tr>
    <th><strong>Purpose:</strong></th>
    <td><%= @crispr.purpose %></td>
  </tr>

  <tr>
    <th><strong>Crispr guide constructs:</strong></th>
    <td>
      <%= render partial: "application_partials/link_to_has_many", locals: {links: @crispr.crispr_constructs} %>
    </td>
  </tr>

  <tr>
    <th><strong>Donor construct:</strong></th>
    <td><%= link_to @crispr.donor_construct.name, @crispr.donor_construct %></td>
  </tr>

  <tr>
    <th><strong>Biosample:</strong></th>
    <td><%= link_to @crispr.biosample.name, @crispr.biosample %></td>
  </tr>

  <tr>
    <th><strong>Target</strong</th>
    <% target = @crispr.crispr_constructs.first.target %>
    <td><%= link_to target.name, target %></td>
  </tr>


 <% if @crispr.part_of.present? %>                                                              
    <tr>                                                                                            
      <th><strong>Parent CRISPR Modification</strong></th>                                                    
      <td><%= link_to_record @crispr.part_of %></td>                           
    </tr>                                                                                           
  <% end %>                                                                                         
                                                                                                       
  <% if @crispr.crispr_modification_parts.any? %>                                                             
    <tr>                                                                                               
      <th><strong>Child CRISPR Modifications:</strong></th>                                                      
      <td>                                                                                             
        <%= link_to "#{@crispr.crispr_modification_parts.length} total", [:crispr_modification_parts, @crispr] %>  
      </td>                                                                                            
    </tr>                                                                                              
  <% end %>                                                                                            
                                                                                                       
  <% prototype_instances = @crispr.prototype_instances %>                                           
  <% if prototype_instances.any? %>                                                                    
  <tr>                                                                                                 
    <th><strong>Prototype instances</strong></th>                                                      
    <td>                                                                                               
      <%= link_to "#{@crispr.prototype_instances.length} total", [:prototype_instances, @crispr] %>
    </td>                                                                                              
  <% else %>                                                                                           
    <th><strong>Prototype?</strong></th>                                                               
    <td>False</td>                                                                                     
  <% end %>                                                                                            
  </tr>

  <tr>                                                                                                 
    <th><strong>Protocol documents:</strong></th>                                                      
    <td>                                                                                               
      <%= render partial: "application_partials/link_to_has_many", locals: {links: @crispr.documents} %>
    </td>                                                                                              
  </tr>

  <tr class="notes-row">
    <th><strong>Notes</strong></th>
    <td><%= simple_format(@crispr.notes) %></td>
  </tr>

</table>

</br>
<div style="display: inline-block;">
  <h3>Genomic Integration Site</h3>
  <% if not @crispr.genomic_integration_site.present? %>
    <span>Not provided</span></br></br>
  <% else %>
    <table class="attributes">
      <tr>
        <th><strong>Reference Genome:</strong></th>
        <td><%= @crispr.genomic_integration_site.chromosome.reference_genome.name %></td>
      </tr>
      <tr>
        <th><strong>Chromosome:</strong></th>
        <td><%= @crispr.genomic_integration_site.chromosome.name %></td>
      </tr>
      <tr>
        <th><strong>Start:</strong></th>
        <td><%= @crispr.genomic_integration_site.start %></td>
      </tr>
      <tr>
        <th><strong>End:</strong></th>
        <td><%= @crispr.genomic_integration_site.end %></td>
      </tr>
    </table>
  <% end %>
</div>

<div>
  <strong>PCR Validations:</strong>
  <%= render partial: "application_partials/link_to_has_many", locals: {links: @crispr.pcr_validations} %>
</div>

<%= link_to "New PCR Validation", new_pcr_validation_crispr_modification_path(@crispr), class: "reg-btn" %>
</br></br>

<!-- Hidden form that is used when the user tries to edit the 'notes'. -->
<%= render partial: "application_partials/edit_notes", locals: {rec: @crispr} %>
<%= link_to 'Back', crispr_modifications_path %>
