<%= render partial:  "application_partials/show_form_error_messages", locals: { :model_obj => @crispr } %>
<header>
  <h1><%= @crispr.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @crispr} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @crispr} %>
  </ul>
</header> 

<%= render partial: "application_partials/record_meta", locals: { record: @crispr } %>

<table class="attributes">
	<tr>
	  <th><strong>Name:</strong></th>
	  <td><%= @crispr.name %></td>
	</tr>
	
	<tr>
	  <th><strong>Crispr constructs:</strong></th>
	  <td>
			<ul class="list-unstyled">
				<% @crispr.crispr_constructs.each do |cc| %>
					<li><%= link_to cc.name, cc %></li>
				<% end %>
			</ul>
		</td>
	</tr>
	
	<tr>
	  <th><strong>Donor construct:</strong></th>
	  <td><%= link_to @crispr.donor_construct.name, @crispr.donor_construct %></td>
	</tr>
	
	<tr>
	  <th><strong>Biosample:</strong></th>
	  <td><%= link_to @crispr.biosample.name, @crispr.biosample %></td>
	</tr>

	<tr>
		<th><strong>Target</strong</th>
		<% target = @crispr.crispr_constructs.first.target %>
		<td><%= link_to target.name, target %></td>
	</tr>

</table>

</br>
<h4>Genomic Integration Site</h4>
<% if not @crispr.genomic_integration_site.present? %>
	<span>Not provided</span></br></br>
<% else %>
	<table class="attributes">
		<tr>
			<th><strong>Reference Genome:</strong></th>
			<td><%= @crispr.genomic_integration_site.chromosome.reference_genome.name %></td>
		</tr>
		<tr>
			<th><strong>Chromosome:</strong></th>
			<td><%= @crispr.genomic_integration_site.chromosome.name %></td>
		</tr>
		<tr>
			<th><strong>Start:</strong></th>
			<td><%= @crispr.genomic_integration_site.start %></td>
		</tr>
		<tr>
			<th><strong>End:</strong></th>
			<td><%= @crispr.genomic_integration_site.end %></td>
		</tr>
	</table>
<% end %>
<%= link_to 'Back', crispr_modifications_path %>
