<%= simple_form_for(@crispr) do |f| %>
	<%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @crispr } %>

  <%= f.input :name, label_html: {"data-toggle" => "tooltip", "title" => "Unique name"} %>

	<% pers_crispr_constructs = @crispr.crispr_constructs.persisted %>
	<% if @crispr.persisted? and pers_crispr_constructs.any? %>
		<table class="min-table">
			<thead>
				<tr>
					<th><strong>Crispr constructs:</strong></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%= f.simple_fields_for :crispr_constructs, pers_crispr_constructs do |ff| %>
					<% cc = pers_crispr_constructs[ff.index] %>
					<tr>
						<td><%= cc.name %></td>
						<td><%= ff.input_field :_destroy, as: :boolean %> Remove</td>
					</tr>
				<% end %>
			</tbody>
		</table></br>
	<% end %>
				
	<div id="added_crispr_constructs"></div>
	<!-- .added_crispr_constructs will serve as the container for new crispr_construct selections added by jQuery. -->

	<% if not @crispr.persisted? and @crispr.crispr_constructs.any? %>
		<!-- Then the form was rerendered (perhaps due to input error on submission), and 
         we want to show what the user originally selected.
		-->
		<%= render partial: "crispr_constructs/select_crispr_construct", 
				locals: {f: f, crispr_constructs: CrisprConstruct.all} %>
	<% end %>

	<%= link_to "Add Crispr Construct", select_crispr_construct_crisprs_path(exclude_ids: @crispr.crispr_constructs.ids), 
			remote: true, 
			class: "crispr_select_crispr_construct reg-btn" %>
	</br></br>	

  <%= f.association :donor_construct, label_html: {"data-toggle" => "tooltip", "title" => "The Donor Construct that contains the donor sequence to integrate at the genomic site of the genetic modification."} %>
  <%= f.association :biosample, collection: Biosample.non_plated, label_html: {"data-toggle" => "tooltip", "title" => "The biosample on which the CRISPR was performed."} %>

	<%= label_tag(:reference_genome_id, "Reference Genome  ", {"data-toggle" => "tooltip", "title" => "Select reference genome you will use to describe the location of the genetic modification."}) %>
	<%= select_tag(:reference_genome_id, options_for_select( ReferenceGenome.order("lower(name)").map {|x| [x.name, x.id]}),
			prompt: "Select reference")  %>
	</br>

	<div class="container genomic_integration_site"></div>
	<!-- Jquery will fill in the div above when a reference_genome is selected -->

	</br>
  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary"  %>
  </div></br>
<% end %>
