<header>
  <h1>Crisprs</h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record", locals: {model_class: Crispr} %>
  </ul> 
</header> 
  
<table class="attributes">
  <thead>
    <tr>
      <th>Name</th>
      <th>Crispr construct</th>
      <th>Donor construct</th>
      <th>Biosample</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @crisprs.each do |crispr| %>
      <tr>
        <td><%= crispr.name %></td>
        <td><%= link_to crispr.crispr_construct.name, crispr.crispr_construct %></td>
        <td><%= link_to crispr.donor_construct.name, crispr.donor_construct %></td>
        <td><%= link_to crispr.biosample.name, crispr.biosample %></td>
        <td>
					<%= link_to fa_icon("pencil"), edit_crispr_path(crispr) %>
	        <%= link_to fa_icon("trash"), crispr, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
