<p id="notice"><%= notice %></p>

<h1>Listing Crisprs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Crispr construct</th>
      <th>Donor construct</th>
      <th>Biosample</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crisprs.each do |crispr| %>
      <tr>
        <td><%= crispr.name %></td>
        <td><%= crispr.user %></td>
        <td><%= crispr.crispr_construct %></td>
        <td><%= crispr.donor_construct %></td>
        <td><%= crispr.biosample %></td>
        <td><%= link_to 'Show', crispr %></td>
        <td><%= link_to 'Edit', edit_crispr_path(crispr) %></td>
        <td><%= link_to 'Destroy', crispr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crispr', new_crispr_path %>
