<header>
  <h1><%= @crispr.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @crispr} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @crispr} %>
  </ul>
</header> 

<%= render partial: "application_partials/record_meta", locals: { record: @crispr } %>

<table class="attributes">
	<tr>
	  <th><strong>Name:</strong></th>
	  <td><%= @crispr.name %></td>
	</tr>
	
	<tr>
	  <th><strong>Crispr construct:</strong></th>
	  <td><%= link_to @crispr.crispr_construct.name, @crispr.crispr_construct %></td>
	</tr>
	
	<tr>
	  <th><strong>Donor construct:</strong></th>
	  <td><%= link_to @crispr.donor_construct.name, @crispr.donor_construct %></td>
	</tr>
	
	<tr>
	  <th><strong>Biosample:</strong></th>
	  <td><%= link_to @crispr.biosample.name, @crispr.biosample %></td>
	</tr>

</table>
<%= link_to 'Back', crisprs_path %>
