<%= simple_form_for(@experiment_type) do |f| %>
  <% if @experiment_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experiment_type.errors.count, "error") %> prohibited this experiment_type from being saved:</h2>

      <ul>
      <% @experiment_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>

  <div class="actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
