<header>
	<h1>Experiment Types</h1>

  <ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {record: ExperimentType.first} %>
  </ul> 
</header>

<table id="attributes">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @experiment_types.each do |experiment_type| %>
      <tr>
        <td><%= experiment_type.name %></td>
        <td><%= link_to fa_icon("pencil"), edit_experiment_type_path(experiment_type) %></td>
        <td><%= link_to fa_icon("trash"), experiment_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Experiment type', new_experiment_type_path %>
