<header>
	<h1>Listing Experiment Types</h1>

  <ul class="actions">
    <li><%= link_to "New Experiment Type", new_experiment_type_path, class: "new" %></li>
  </ul> 
</header>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @experiment_types.each do |experiment_type| %>
      <tr>
        <td><%= experiment_type.name %></td>
        <td><%= link_to 'Show', experiment_type %></td>
        <td><%= link_to 'Edit', edit_experiment_type_path(experiment_type) %></td>
        <td><%= link_to 'Destroy', experiment_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Experiment type', new_experiment_type_path %>
