<header>
  <h1><%= @experiment_type.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @experiment_types} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @experiment_types} %>
  </ul>
</header>

<p>
  <strong>Name:</strong>
  <%= @experiment_type.name %>
</p>

<%= link_to 'Back', experiment_types_path %>
