<header class="index-view-header">
  <h1 class="index-page-header">                                                                       
    <%= @title || "Addresses" %>                                                                      
  </h1>
  <p class="model-definition"><%= Address::DEFINITION %></p>
  
  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record" %>
  </ul> 
  <%= render partial: "application_partials/total", locals: {records: @records} %>
</header>

<table class="attributes index">
  <thead>
    <tr>
      <%= render partial: "application_partials/index_common_table_headers" %> 
      <th>Street</th>
      <th>City</th>
      <th>State/Province</th>
      <th>Country</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |rec| %>
      <tr>
        <%= render partial: "application_partials/index_common_table_cells", locals: {record: rec} %>
        <td><%= rec.street %></td>
        <td><%= rec.city %></td>
        <td><%= rec.state %></td>
        <td><%= rec.country %></td>
        <td>
          <%= link_to fa_icon("pencil"), edit_address_path(rec) %>
          <%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if defined?(@page) %>                                                                               
  <%= paginate @records %>                                                                             
  <%= link_to "All", addresses_path(all: true) %>                                                        
<% end %>
