<header>
	<h1 class="index-page-header">Addresses</h1>
	
  <ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {model_class: Address} %>
  </ul> 
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>Name</th>
			<th>Creator</th>
			<th>Date created</th>
      <th>Street</th>
      <th>City</th>
      <th>State/Province</th>
      <th>Country</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |rec| %>
      <tr>
        <td><%= link_to rec.name, rec %></td>
				<td><%= rec.user.display() %></td>
				<td><%= time_ago_in_words(rec.created_at) %> ago </td>
        <td><%= rec.street %></td>
        <td><%= rec.city %></td>
        <td><%= rec.state %></td>
        <td><%= rec.country %></td>
        <td>
					<%= link_to fa_icon("pencil"), edit_address_path(rec) %>
        	<%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
