<%= render partial:  "application_partials/header", locals: {rec: @address } %>

<table class="attributes">
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @address.name %></td>
  </tr>

  <tr>
    <th><strong>Street:</strong></th>
    <td><%= @address.street %></td>
  </tr>

  <tr>
    <th><strong>City:</strong></th>
    <td><%= @address.city %></td>
  </tr>

  <tr>
    <th><strong>State/Province:</strong></th>
    <td><%= @address.state %></td>
  </tr>

  <tr>
    <th><strong>Country:</strong></th>
    <td><%= @address.country %></td>
  </tr>
</table>


<%= link_to 'Back', address_path %>
