
<!--
Adds the table data fields that are common to each table in the index views.
This partial should mirror the one that has the th values in _index_common_table_headers.html.erb.
-->

<td><%= link_to_record_id(record) %></td>

<% if record.respond_to?(:upstream) %>
  <td><%= record.upstream %></td>
<% end %>

<% if record.respond_to?(:name) %>
  <td><%= record.name %></td>
<% end %>

<td><%= record.user.display() %></td>
<td><%= time_ago_in_words(record.created_at) %> ago </td>
<td><%= time_ago_in_words(record.updated_at) %> ago </td>
