<table id="meta_attributes">
	<tr>
		<th>Record ID:</th>
		<td><%= "#{record.class::ABBR}-#{record.id}" %></td>
	</tr>
	<tr>
		<th>Created By:</th>
		<% if record.model_name.name == "User" %>
			<td><%= record.email %></td>
		<% else %>
			<td><%= record.user.email %></td>
		<% end %>
	</tr>
	<tr>
		<th>Date Created:</th>
		<td><%= time_ago_in_words(record.created_at) %> ago </td>
	</tr>
	<tr>
		<th>Last Updated:</th>
		<td><%= time_ago_in_words(record.updated_at) %> ago </td>
	</tr>
</table>
