<%= simple_form_for(@biosample_term_name) do |f| %>
	<%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @biosample_term_name } %>

  <%= f.association :biosample_ontology, label_html: {"data-toggle" => "tooltip", "title" => "Name of the ontology system"} %>
  <%= f.input :name, label_html: {"data-toggle" => "tooltip", "title" => "Unique ontology term name"} %>
  <%= f.input :accession, label_html: {"data-toggle" => "tooltip", "title" => "Unique ontology accession. Must begin with CL:, UBERON:, or EFO:, followed by two to eight numbers."} %>
  <%= f.input :description, label_html: {"data-toggle" => "tooltip", "title" => "The description of the ontology term"} %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
