<header>
  <h1 class="index-page-header">Biosample Term Names</h1>
	<p class="model-definition"><%= BiosampleTermName::DEFINITION %></p>
  
  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record", locals: {model_class: BiosampleTermName} %>
  </ul> 
</header>

<table class="attributes">
  <thead>
    <tr>
      <%= render partial: "application_partials/index_common_table_headers" %>
      <th>Accession</th>
      <th>Biosample ontology</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @biosample_term_names.each do |rec| %>
      <tr>
        <%= render partial: "application_partials/index_common_table_cells", locals: {record: rec} %>
        <td><%= rec.accession %></td>
        <td><%= rec.biosample_ontology.name %></td>
        <td><%= rec.description %></td>
        <td>
					<%= link_to fa_icon("pencil"), edit_biosample_term_name_path(rec) %>
        	<%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
