<%= render partial:  "application_partials/header", locals: { rec: @biosample_term_name } %>

<table class="attributes">
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @biosample_term_name.name %></td>
  </tr>

  <tr>
    <th><strong>Accession:</strong></th>
    <td><%= @biosample_term_name.accession %></td>
  </tr>

  <tr>
    <th><strong>Biosample ontology:</strong></th>
    <td><%= @biosample_term_name.biosample_ontology.name %></td>
  </tr>

  <tr>
    <th><strong>Description:</strong></th>
    <td><%= @biosample_term_name.description %></td>
  </tr>
</table>

<%= link_to 'Back', biosample_term_names_path %>
