<%= simple_form_for(@chipseq_experiment) do |f| %>
  <%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @chipseq_experiment } %>

  <%= f.input :name %>
  <%= f.input :upstream_identifier, label_html: {"data-toggle": "tooltip", "title": "The alias or accession of an existing ChIP-Seq experiment on the ENCODE Portal (leave blank if this is a new experiment that hasn't been registered there yet). For a list of available ChIP-Seq on the ENCODE Portal, see https://www.encodeproject.org/search/?type=Experiment&assay_title=ChIP-seq."} %>
  <%= f.input :description %>
  <%= f.association :target, collection: Target.order(:name) %>
  <%= f.association :wild_type_input, collection: BiosampleReplicate.where({wild_type_input: true}).map{ |b| [b.display, b.id] }, label_html: {"data-toggle": "tooltip", "title": "The input (control) BiosampleReplicate object that doesn't have a CRISPR modification."} %>
  <%= f.input :submitter_comments %>
  <%= render partial: "application_partials/notes", locals: {f: f} %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
</br>
