<%= simple_form_for(@chipseq_experiment) do |f| %>
  <%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @chipseq_experiment } %>

  <%= f.input :name %>
  <%= f.input :upstream_identifier, label_html: {"data-toggle": "tooltip", "title": "The alias or accession of an existing ChIP-Seq experiment on the ENCODE Portal (leave blank if this is a new experiment that hasn't been registered there yet). For a list of available ChIP-Seq on the ENCODE Portal, see https://www.encodeproject.org/search/?type=Experiment&assay_title=ChIP-seq."} %>
  <%= f.association :starting_biosample %>
  <%= f.input :description %>
  <%= f.association :target, collection: Target.order(:name), 
      label_html: {class: "refresh"}
  %>
  <%= f.association :wild_type_control, label_html: {"data-toggle": "tooltip", "title": "The input (control) biosample record that doesn't have a CRISPR modification."} %>
  <%= f.input :submitter_comments %>

  <fieldset>
    <legend>Documents</legend>
    <strong>Linked documents:</strong>
    <%= render partial: "application_partials/simple_fields_for", locals: {f: f, record: @chipseq_experiment, attribute: :documents} %>
    <%= f.association :documents, label: "Add documents", selected: nil, collection: sorted_document_name_id(),
        include_blank: true,
        input_html: {class: "chipseq_documents_selector"},
        label_html: {class: "refresh", "data-toggle": "tooltip","title": "Documents that provide additional information (not data file)."} %>
  </fieldset>

  <%= render partial: "application_partials/notes", locals: {f: f} %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
</br>
