<div id="cs_select_experimental_library" class="xfade bg-info jumbotron">
  <p><%= heading %></p>
  <%= simple_form_for(@chipseq_experiment, html: {style: "position: relative;"}) do |f| %>
    <!-- relative positioning above since xfade-out uses absolute positioning. -->
    <div class="form-group">
      <%= link_to fa_icon("close lg"), "#", class: "xfade-out" %>
      <%= label_tag :biosample, "Biosample" %>
      <%= select_tag :biosample, options_from_collection_for_select(@selection, :id, :name), {include_blank: true} %>
      <div id="library_selector"></div>
    </div>
    <%= f.button :submit, "Update", class: "reg-btn" %>
  <% end %>
</div>
