<%= render partial:  "application_partials/header", locals: {rec: @chipseq_experiment } %>
                                                                                                       
<table class="attributes">  
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @chipseq_experiment.name %></td>
  </tr>

  <tr>
    <th><strong>Starting biosample:</strong></th>
    <td>
      <% if @chipseq_experiment.starting_biosample.present? %>
        <%= link_to_record @chipseq_experiment.starting_biosample %>
      <% end %>
    </td>
  </td>
  
  <tr>
    <th><strong>Description:</strong></th>
    <td><%= @chipseq_experiment.description %></td>
  </tr>
  
  <tr>
    <th><strong>Target:</strong></th>
    <td><%= link_to_record(@chipseq_experiment.target) %></td>
  </tr>

  <tr>                                                                                                 
    <th><strong>Protocol documents:</strong></th>                                                      
    <td>                                                                                               
      <%= render partial: "application_partials/link_to_has_many", locals: {links: @chipseq_experiment.documents} %>
    </td>                                                                                              
  </tr>

  <tr>
    <th><strong>WT control:</strong></th>
    <td>
      <% if @chipseq_experiment.wild_type_control.present? %>
        <%= link_to_record(@chipseq_experiment.wild_type_control) %></td>
      <% else %>
        None
      <% end %>
    </td>
  </tr>
  
  <tr>
    <th><strong>Replicates:</strong></th>
    <td><%= render partial: "application_partials/link_to_has_many", locals: {links: @chipseq_experiment.replicates} %>

  <tr>
    <th><strong>Control replicates:</strong></th>
    <td><%= render partial: "application_partials/link_to_has_many", locals: {links: @chipseq_experiment.control_replicates} %>

  <tr>
    <th><strong>Submitter comments:</strong></th>
    <td><%= @chipseq_experiment.submitter_comments %></td>
  </tr>
  
  <tr class="notes-row">
    <th><strong>Notes:</strong></th>
    <td><%= @chipseq_experiment.notes %></td>
  </tr>
</table>


<div class="bottom-btns xfade-in">
  <%= link_to "Add experiment replicate", [:add_replicate, @chipseq_experiment], class: "reg-btn", id: "chipseq-add-rep", remote: true %>
  <% ctl_rep_btn_disabled = false %>
  <% if @chipseq_experiment.replicates.blank? %>
    <% ctl_rep_btn_disabled = true %>
  <% end %>
  <%= link_to "Add control replicate", [:choose_replicates_for_control, @chipseq_experiment], disabled: ctl_rep_btn_disabled, class: "reg-btn", id: "chipseq-add-ctl", remote: true %>
</div>

<!-- Hidden form that is used when the user tries to edit the 'notes'. -->                             
<%= render partial: "application_partials/edit_notes", locals: {rec: @chipseq_experiment} %>
  
</br>
<%= link_to 'Back', chipseq_experiments_path %>
