<%= render partial:  "application_partials/show_form_error_messages", locals: { :model_obj => @chipseq_experiment } %>
<header>                                                                                               
  <h1><%= @chipseq_experiment.name %></h1>                                                                  
                                                                                                       
  <ul class="actions">                                                                                 
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @chipseq_experiment} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @chipseq_experiment} %>
  </ul>                                                                                                
</header>                                                                                              
                                                                                                       
<%= render partial: "application_partials/record_meta", locals: { record: @chipseq_experiment } %>          
                                                                                                       
<table class="attributes">  
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @chipseq_experiment.name %></td>
  </tr>

  <tr>
    <th><strong>Starting biosample:</strong></th>
    <td><%= link_to_record @chipseq_experiment.starting_biosample %></td>
  </td>
  
  <tr>
    <th><strong>Description:</strong></th>
    <td><%= @chipseq_experiment.description %></td>
  </tr>
  
  <tr>
    <th><strong>Target:</strong></th>
    <td><%= link_to_record(@chipseq_experiment.target) %></td>
  </tr>

  <tr>                                                                                                 
    <th><strong>Protocol documents:</strong></th>                                                      
    <td>                                                                                               
      <%= render partial: "application_partials/link_to_has_many", locals: {links: @chipseq_experiment.documents} %>
    </td>                                                                                              
  </tr>

  <tr>
    <th><strong>WT input:</strong></th>
    <td>
      <% if @chipseq_experiment.wild_type_input.present? %>
        <%= link_to_record(@chipseq_experiment.wild_type_input) %></td>
      <% else %>
        None
      <% end %>
    </td>
  </tr>
  
  <tr>
    <th><strong>Replicates:</strong></th>
    <td><%= render partial: "application_partials/link_to_has_many", locals: {links: @chipseq_experiment.replicates} %>

  <tr>
    <th><strong>Control replicates:</strong></th>
    <td><%= render partial: "application_partials/link_to_has_many", locals: {links: @chipseq_experiment.control_replicates} %>

  <tr>
    <th><strong>Submitter comments:</strong></th>
    <td><%= @chipseq_experiment.submitter_comments %></td>
  </tr>
  
  <tr class="notes-row">
    <th><strong>Notes:</strong></th>
    <td><%= @chipseq_experiment.notes %></td>
  </tr>
</table>

<div>
  <%= link_to "Add experiment replicate", [:add_biosample_replicate, @chipseq_experiment, {control: false}], class: "reg-btn" %>
  <%= link_to "Add control replicate", [:add_biosample_replicate, @chipseq_experiment, {control: true}], class: "reg-btn" %>
</div>

<!-- Hidden form that is used when the user tries to edit the 'notes'. -->                             
<%= render partial: "application_partials/edit_notes", locals: {rec: @chipseq_experiment} %>
  
</br>
<%= link_to 'Back', chipseq_experiments_path %>
