<%= render partial:  "application_partials/show_form_error_messages", locals: { :model_obj => @chipseq_experiment } %>
<header>                                                                                               
  <h1><%= @chipseq_experiment.name %></h1>                                                                  
                                                                                                       
  <ul class="actions">                                                                                 
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @chipseq_experiment} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @chipseq_experiment} %>
  </ul>                                                                                                
</header>                                                                                              
                                                                                                       
<%= render partial: "application_partials/record_meta", locals: { record: @chipseq_experiment } %>          
                                                                                                       
<table class="attributes">  
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @chipseq_experiment.name %></td>
  </tr>
  
  <tr>
    <th><strong>Description:</strong></th>
    <td><%= @chipseq_experiment.description %></td>
  </tr>
  
  <tr>
    <th><strong>Target:</strong></th>
    <td><%= link_to_record(@chipseq_experiment.target) %></td>
  </tr>
  
  <tr>
    <th><strong>Submitter comments:</strong></th>
    <td><%= @chipseq_experiment.submitter_comments %></td>
  </tr>
  
  <tr>
    <th><strong>Notes:</strong></th>
    <td><%= @chipseq_experiment.notes %></td>
  </tr>
</table>
  
<%= link_to 'Back', chipseq_experiments_path %>
