<%= simple_form_for(@batch, url: [:create_or_update_batch_item, @batch], html: {remote: true, method: :post, class: "batch-item-form rm-on-record-del"}) do |f| %>
  <!-- Note: Added float: left above so that the border of the form extends all the way out to the right when scrolling. -->
  <%= f.simple_fields_for :batch_items, @batch_item do |ff| %>
    <%= render partial: "batch_items/form", locals: {f: ff} %>
  <% end %>
  <!-- Content for Actions column at right end -->
  <div style="display: flex; align-items: flex-start;">
    <% if not @batch_item.persisted? %>
      <%= f.button :submit, "Create", remote: true, class: "btn-primary", style: "padding: 0.3em; margin-right: 1em;" %>
    <% else %>
      <% if @batch_item.library.blank? %>
        <%= button_tag "Create library", 
            type: "button", 
            id: "batch-item-create-library-btn", 
            data: {"batch-item-id": @batch_item.id},
            class: "btn btn-primary",
            style: "padding: 0.3em;"
        %>
      <% end %>
    <% end %>
    <!-- Also add button to delete batch_item form (whether batch_item is persisted or not -->
    <%= link_to fa_icon("trash lg"), remove_batch_item_batch_path(batch_item_id: @batch_item.id), method: :delete, class: "batch-remove-item" %>
  </div>
<% end %>
