<!-- Add hidden element to serve as a status check for jQuery to know whether this record exists or not. -->
<% defaults = INPUT_DEFAULTS[@chip_batch_item.class.name] %>
<% if @chip_batch_item.id.present? %>
  <span style="display: none" id="chip-batch-item-persisted"></span>
<% end %>

<%= f.association :chip_batch, as: :hidden, label: false %>

<% if @chip_batch_item.biosample.present? and @chip_batch_item.library.present? %>
    <!-- Then don't allow user to change biosample selection as that can result in various side effects. -->
    <div><%= link_to_record @chip_batch_item.biosample %></div>
    <%= f.association :library, label: false, collection: @chip_batch_item.biosample.libraries, input_html: {class: "chip_batch_item_select_biosample_library"} %>
<% else %>
    <%= f.association :biosample, collection: Biosample.non_plated, label: false, input_html: {class: "chip_batch_item_select_biosample"} %>
    <% collection = [] %>
    <% if @chip_batch_item.biosample.present? %>
      <% collection = @chip_batch_item.biosample.libraries %>
    <% end %>
    <%= f.association :library, label: false, disabled: !@chip_batch_item.biosample.present?, collection: collection,  input_html: {class: "chip_batch_item_select_biosample_library"} %>
<% end %>

<% if @chip_batch_item.library.present? %>
  <% slpk_id = @chip_batch_item.library.sequencing_library_prep_kit_id %>
  <%= f.simple_fields_for :library, @chip_batch_item.library do |ff| %>
    <% if @chip_batch_item.library.dual_indexed? %>
      <%= ff.association :paired_barcode, label: false, collection: Barcode.kit(slpk_id) %>
    <% else %>
      <%= ff.association :barcode, label: false, collection: Barcode.kit(slpk_id) %>
    <% end %>
    <%= ff.association :antibody, label: false %>
  <% end %>
<% else %>
  <span></span><!-- barcode input -->
  <span></span><!-- antibody input -->
<% end %>

<div style="display: flex;">
  <%= f.input :concentration, label: false, wrapper_html: {style: "flex: 1 1 55%"} %>
  <% if @chip_batch_item.id.blank? %>
    <% conc_unit_default = @chip_batch_item.concentration_unit_id || defaults["concentration_unit"] %>
  <% else %>
    <% conc_unit_default = @chip_batch_item.concentration_unit_id || "" %>
  <% end %>
  <%= f.association :concentration_unit, label: false, include_blank: true, collection: Unit.where(unit_type: "concentration"), selected: conc_unit_default, wrapper_html: {style: "flex: 1 1 45%"} %>
</div>
<%= f.input :notes, label: false %>
