<!-- Add hidden element to serve as a status check for jQuery to know whether this record exists or not. -->
<% defaults = INPUT_DEFAULTS[@chip_batch_item.class.name] %>
<% if @chip_batch_item.id.present? %>
  <span style="display: none" id="chip-batch-item-persisted"></span>
<% end %>

<%= f.association :chip_batch, as: :hidden, label: false %>
<%= f.association :biosample, collection: Biosample.non_plated, label: false %>
<div style="display: flex;">
  <%= f.input :concentration, label: false, wrapper_html: {style: "flex: 1 1 55%"} %>
  <% if @chip_batch_item.id.blank? %>
    <% conc_unit_default = @chip_batch_item.concentration_unit_id || defaults["concentration_unit"] %>
  <% else %>
    <% conc_unit_default = @chip_batch_item.concentration_unit_id || "" %>
  <% end %>
  <%= f.association :concentration_unit, label: false, include_blank: true, collection: Unit.where(unit_type: "concentration"), selected: conc_unit_default, wrapper_html: {style: "flex: 1 1 45%"} %>
</div>
<%= f.input :notes, label: false %>
