<header>
  <h1>Editing Chip Batch Item</h1>
</header>

<%= simple_form_for(@chip_batch_item) do |f| %>
  <%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @chip_batch_item } %>
  <%= render partial: 'form', locals: {f: f} %>
  <%= render partial: "application_partials/submit", locals: {f: f} %>
<% end %>

<%= link_to 'Back', chip_batch_items_path %>
