<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @chip_batch_item.user %>
</p>

<p>
  <strong>Chip batch:</strong>
  <%= @chip_batch_item.chip_batch %>
</p>

<p>
  <strong>Biosample:</strong>
  <%= @chip_batch_item.biosample %>
</p>

<p>
  <strong>Concentration:</strong>
  <%= @chip_batch_item.concentration %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @chip_batch_item.notes %>
</p>

<%= link_to 'Edit', edit_chip_batch_item_path(@chip_batch_item) %> |
<%= link_to 'Back', chip_batch_items_path %>
