<% title(@unit.name, "Units") %>
<%= render partial:  "application_partials/show_form_error_messages", locals: { :model_obj => @unit } %>
<header>
  <h1><%= @unit.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @unit} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @unit} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @unit} %>

<table class="attributes">
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @unit.name %></td>
  </tr>

  <tr>
    <th><strong>Type:</strong></th>
    <td><%= @unit.unit_type %></td>
  </tr>
</table>

<%= link_to 'Back', units_path %>
