<%= form_for(@uberon) do |f| %>
  <% if @uberon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@uberon.errors.count, "error") %> prohibited this uberon from being saved:</h2>

      <ul>
      <% @uberon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :accession %><br>
    <%= f.text_field :accession %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
