<header>
	<h1>Uberons</h1>
  
  <ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {model_class: Uberon} %>
  </ul> 
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>Name</th>
      <th>Accession</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @uberons.each do |uberon| %>
      <tr>
        <td><%= link_to uberon.name, uberon %></td>
        <td><%= uberon.accession %></td>
        <td><%= link_to fa_icon("pencil"), edit_uberon_path(uberon) %></td>
        <td><%= link_to fa_icon("trash"), uberon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
