<header>
  <h1><%= @uberon.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @uberon} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @uberon} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @uberon } %>

<p>
  <strong>Name:</strong>
  <%= @uberon.name %>
</p>

<p>
  <strong>Accession:</strong>
  <%= @uberon.accession %>
</p>

<%= link_to 'Back', uberons_path %>
