<header>
  <h1><%= @user %></h1>

  <ul class="actions">
    <li>
      <%= link_to "Edit User", [:edit, :admin, @user], class: "edit" %>
      <li><%= link_to "Delete User", admin_user_path(@user), method: :delete,
        data: { confirm: "Are you sure you would like to delete this user?"},
        class: "delete" %></li>
    </li>
    <% if @user.archived_at.present? %>
      <li><%= link_to "Unarchive User", [:unarchive,:admin,@user], method: :patch, class: "reg-btn" %></li>
    <% else %>
      <li><%= link_to "Archive User", [:archive,:admin,@user], method: :patch,
        data: { confirm: "Are you sure you would like to archive this user?"},
        class: "delete" %></li>
    <% end %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @user } %>


<table class="attributes">
  <tr>
    <th>Name:</th>
    <td><%= @user.name %></td>
  </tr>

  <!-- Not including the confirmation token here since what is stored in the database isn't what is sent out to the user via email. In fact, 
       when the user clicks on a confirmation link, the token in the link is converted by Devise into a digest, which is then compared to 
       the confirmatio_token that's stored in the database for the user.
  -->

  <tr>
    <th>Archived?</th>
    <td><%= @user.archived_at.present? %></td>
  </tr>

  <tr>
    <th>Last sign-in</th>
    <td><%= @user.last_sign_in_at %></td>
  </tr>

  <tr>
    <th>Confirmed?</th>
    <% if @user.confirmed_at.present? %>
      <td>True</td>
    <% else %>
      <td>False</td>
    <% end %>
  </tr>

  <tr>
    <th>Confirmation sent at:</th>
    <td><%= @user.confirmation_sent_at %></td>
  </tr>

  <tr>
    <th>Email:</th>
    <td><%= @user.email %></td>
  </tr>

  <tr>
    <th>Role:</th>
    <td><%= @user.role_name %></td>
  </tr>

  <tr>
    <th>API Key:</th>
    <% if @user.api_key.present? %>
      <td><%= link_to "Show", show_api_key_admin_user_path(@user), remote: true, id: :show_api_key %></td>
    <% else %>
      <td>None</td>
    <% end %>
  </tr>
</table>
