<header>
	<h1><%= @user %></h1>

	<ul class="actions">
		<li>
			<%= link_to "Edit User", [:edit, :admin, @user], class: "edit" %>
			<li><%= link_to "Delete User", admin_user_path(@user), method: :delete,
				data: { confirm: "Are you sure you would like to delete this user?"},
				class: "delete" %></li>
		</li>
		<li><%= link_to "Archive User", [:archive,:admin,@user], method: :patch,
				data: { confirm: "Are you sure you would like to archive this user?"},
				class: "delete" %></li>
	</ul>
</header>

<table id="attributes">
    <th>Date Created:</th>
    <td><%= time_ago_in_words(@user.created_at) %> ago </td>
  </tr>
	<tr>
		<th>First Name</th>
		<td><%= @user.first_name %></td>
	</tr>

	<tr>
		<th>Last Name </th>
		<td><%= @user.last_name %></td>
	</tr>

  <tr>
    <th>Email</th>
    <td><%= @user.email %></td>
  </tr>

	<tr>
		<th>Role</th>
		<td><%= @user.role_name %></td>
	</tr>
</table>
