<header>
	<h1><%= @user %></h1>

	<ul class="actions">
		<li>
			<%= link_to "Edit User", [:edit, :admin, @user], class: "edit" %>
			<li><%= link_to "Delete User", admin_user_path(@user), method: :delete,
				data: { confirm: "Are you sure you would like to delete this user?"},
				class: "delete" %></li>
		</li>
		<li><%= link_to "Archive User", [:archive,:admin,@user], method: :patch,
				data: { confirm: "Are you sure you would like to archive this user?"},
				class: "delete" %></li>
	</ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @user } %>


<table class="attributes">
	<tr>
		<th>First Name:</th>
		<td><%= @user.first_name %></td>
	</tr>

	<tr>
		<th>Last Name:</th>
		<td><%= @user.last_name %></td>
	</tr>

  <tr>
    <th>Email:</th>
    <td><%= @user.email %></td>
  </tr>

	<tr>
		<th>Role:</th>
		<td><%= @user.role_name %></td>
	</tr>

	<tr>
		<th>API Key:</th>
		<% if @user.api_key.present? %>
			<td><%= link_to "Show", show_api_key_admin_user_path(@user), remote: true, id: :show_api_key %></td>
		<% else %>
			<td>None</td>
		<% end %>
	</tr>
</table>
