<%= simple_form_for(@pooled_library) do |f| %>
	<%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @pooled_library } %>

  <%= f.input :name %>
  <%= f.input :paired_end %>
  <%= f.association :sequencing_library_prep_kit %>
  <%= f.input :size_range %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div></br>
<% end %>
