<header>
  <h1><%= @pooled_library.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @pooled_library} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @pooled_library} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @pooled_library } %>

<table class="attributes">
	<tr>
	  <th><strong>Name:</strong></th>
	  <td><%= @pooled_library.name %></td>
	</tr>
	
	<tr>
	  <strong>Paired end:</strong></th>
	  <td><%= @pooled_library.paired_end? %></td>
	</tr>
	
	<tr>
	  <strong>Sequencing library prep kit:</strong></th>
	  <td><%= link_to @pooled_library.sequencing_library_prep_kit.name, @pooled_library.sequencing_library_prep_kit %></td>
	</tr>
	
	<tr>
	  <strong>Size range:</strong></th>
	  <td><%= @pooled_library.size_range %></td>
	</tr>
</table>

<%= link_to 'Back', pooled_libraries_path %>
