<%= form_for(@human_gene) do |f| %>
  <% if @human_gene.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@human_gene.errors.count, "error") %> prohibited this human_gene from being saved:</h2>

      <ul>
      <% @human_gene.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :encode_identifier %><br>
    <%= f.text_field :encode_identifier %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
