<header>
	<h1>Listing Human Genes</h1>

  <ul class="actions">
    <li><%= link_to "New Human Gene ", new_human_gene_path, class: "new" %></li>
  </ul> 
</header>

<table>
  <thead>
    <tr>
      <th>Encode identifier</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @human_genes.each do |human_gene| %>
      <tr>
        <td><%= human_gene.encode_identifier %></td>
        <td><%= human_gene.name %></td>
        <td><%= link_to 'Show', human_gene %></td>
        <td><%= link_to 'Edit', edit_human_gene_path(human_gene) %></td>
        <td><%= link_to 'Destroy', human_gene, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Human gene', new_human_gene_path %>
