<header>
  <h1><%= @human_gene.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @human_gene} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @human_gene} %>
  </ul>
</header>

<p>
  <strong>Encode identifier:</strong>
  <%= @human_gene.encode_identifier %>
</p>

<p>
  <strong>Name:</strong>
  <%= @human_gene.name %>
</p>

<%= link_to 'Back', human_genes_path %>
