<header>
  <h1 class="index-page-header">                                                                       
    <%= @title || "Paired Barcodes" %>                                                                      
  </h1>
  <p class="model-definition"><%= PairedBarcode::DEFINITION %></p>
  
  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record" %>
  </ul> 
</header>

<table class="attributes index">
  <thead>
    <tr>
      <%= render partial: "application_partials/index_common_table_headers" %>
      <th>Sequencing library prep kit</th>
      <th>Index1</th>
      <th>Index2</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |rec| %>
      <tr>
        <%= render partial: "application_partials/index_common_table_cells", locals: {record: rec} %>
        <td><%= link_to rec.sequencing_library_prep_kit.name, rec.sequencing_library_prep_kit %></td>
        <td><%= link_to "#{rec.index1.sequence}", [rec.sequencing_library_prep_kit,rec.index1] %></td>
        <td><%= link_to "#{rec.index2.sequence}", [rec.sequencing_library_prep_kit,rec.index2] %></td>
        <td><%= link_to fa_icon("pencil"), edit_paired_barcode_path(rec) %></td>
        <td><%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if defined?(@page) %>                                                                               
  <%= paginate @records %>                                                                             
  <%= link_to "All", paired_barcodes_path(all: true) %>                                                        
<% end %>
