<header>
  <h1>Paired Barcodes</h1>
  
  <ul class="actions">
    <%= render partial: "application_partials/auth_new_record", locals: {model_class: PairedBarcode} %>
  </ul> 
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>Name</th>
      <th>Sequencing library prep kit</th>
      <th>Index1</th>
      <th>Index2</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @paired_barcodes.each do |pb| %>
      <tr>
        <td><%= link_to pb.name, pb %></td>
        <td><%= link_to pb.sequencing_library_prep_kit.name, pb.sequencing_library_prep_kit %></td>
        <td><%= link_to "#{pb.index1.name} #{pb.index1.sequence}", [pb.sequencing_library_prep_kit,pb.index1] %></td>
        <td><%= link_to "#{pb.index2.name} #{pb.index2.sequence}", [pb.sequencing_library_prep_kit,pb.index2] %></td>
        <td><%= link_to fa_icon("pencil"), edit_paired_barcode_path(pb) %></td>
        <td><%= link_to fa_icon("trash"), pb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
