<%= render partial:  "application_partials/show_form_error_messages", locals: { :model_obj => @paired_barcode } %>
<header>
  <h1><%= @paired_barcode.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @paired_barcode} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @paired_barcode} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @paired_barcode } %>

<table class="attributes">
	<tr>
	  <th><strong>Name:</strong></th>
	  <td><%= @paired_barcode.name %></td>
	</tr>

	<tr>
	  <th><strong>Sequencing library prep kit:</strong></th>
	  <td><%= link_to @paired_barcode.sequencing_library_prep_kit.name, @paired_barcode.sequencing_library_prep_kit %></td>
	</tr>
	
	<tr>
	  <th><strong>Index1:</strong></th>
	  <td><%= link_to "#{@paired_barcode.index1.name} #{@paired_barcode.index1.sequence}", [@paired_barcode.sequencing_library_prep_kit,@paired_barcode.index1] %></td>
	</tr>
	
	<tr>
	  <th><strong>Index2:</strong></th>
	  <td><%= link_to "#{@paired_barcode.index2.name} #{@paired_barcode.index2.sequence}", [@paired_barcode.sequencing_library_prep_kit,@paired_barcode.index2] %></td>
	</tr>
	
  <tr class="notes-row">                                                                               
    <th><strong>Notes</strong></th>                                                                    
    <td><%= simple_format(@paired_barcode.notes) %></td>                                                     
  </tr> 
</table>

<!-- Hidden form that is used when the user tries to edit the 'notes'. --> 
<%= render partial: "application_partials/edit_notes", locals: {rec: @paired_barcode} %>

<%= link_to 'Back', paired_barcodes_path %>
