<header>
	<h1>Reference Genomes</h1>
  
  <ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {policy_class: ReferenceGenome} %>
  </ul> 
</header>
  
  <ul class="actions">
    <li><%= link_to "New Library", new_library_path, class: "new" %></li>
  </ul> 
</header>

<table id="attributes">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reference_genomes.each do |reference_genome| %>
      <tr>
        <td><%= reference_genome.name %></td>
        <td><%= reference_genome.url %></td>
        <td><%= link_to 'Show', reference_genome %></td>
        <td><%= link_to 'Edit', edit_reference_genome_path(reference_genome) %></td>
        <td><%= link_to 'Destroy', reference_genome, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reference genome', new_reference_genome_path %>
