<header>
  <h1><%= @reference_genome.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @reference_genome} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @reference_genome} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @reference_genome } %>

<table class="attributes">
	<tr>
		<th><strong>Name:</strong></th>
		<td><%= @reference_genome.name %></td>
	</tr>

	<tr>
		<th><strong>Url:</strong></th>
		<td><%= @reference_genome.url %></td>
	</tr>
</table>

<%= link_to 'Back', reference_genomes_path %>
