<header>
  <h1><%= @reference_genome.name %></h1>

  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @reference_genome} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @reference_genome} %>
  </ul>
</header>

<%= render partial: "application_partials/record_meta", locals: { record: @reference_genome } %>

<p>
  <strong>Name:</strong>
  <%= @reference_genome.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @reference_genome.url %>
</p>

<%= link_to 'Back', reference_genomes_path %>
