<header>
  <h1>New biosample replicate</h1>
</header>

<%= simple_form_for(@biosample_replicate) do |f| %>                                                                  
  <%= render partial:  "application_partials/show_form_error_messages", locals: {:model_obj => @biosample_replicate } %>
  <%= render partial: 'biosample_replicates/form', locals: {f: f} %>                                                        
  <%= render partial: "application_partials/submit", locals: {f: f} %>  
<% end %>  

<%= link_to 'Back', biosample_replicates_path %>
