<!-- Add hidden element to serve as a status check for jQuery to know whether this record exists or not. -->
<% defaults = INPUT_DEFAULTS[@batch_item.class.name] %>
<% if @batch_item.id.present? %>
  <span style="display: none" id="batch-item-persisted"></span>
<% end %>

<%= f.association :batch, as: :hidden, label: false %>

<% if @batch_item.biosample.present? and @batch_item.biosample.id.present? %>
    <!-- Then don't allow user to change biosample selection as that can result in various side effects. -->
    <% disabled = false %><!-- Some columns should be disabled if the biosample isn't set. -->
    <% library_collection = @batch_item.biosample.libraries %>
    <div><%= link_to_record @batch_item.biosample %></div>
<% else %>
    <% disabled = true %>
    <% library_collection = [] %>
    <%= f.association :biosample, collection: Biosample.non_plated.order(:name), label: false, input_html: {class: "batch_item_select_biosample"} %>
<% end %>

<% if @batch_item.batch.batch_type == Batch::CHIPSEQ %>
  <%= f.association :antibody, label: false %>
<% end %>
<%= f.association :library, label: false, disabled: disabled, collection: library_collection, input_html: {id: :batch_item_library, class: "batch_item_select_biosample_library"} %>

<% if @batch_item.library.present? %>
  <% slpk_id = @batch_item.library.sequencing_library_prep_kit_id %>
  <%= f.simple_fields_for :library, @batch_item.library do |ff| %>
    <% if @batch_item.library.dual_indexed? %>
      <%= ff.association :paired_barcode, label: false, collection: Barcode.kit(slpk_id) %>
    <% else %>
      <%= ff.association :barcode, label: false, collection: Barcode.kit(slpk_id) %>
    <% end %>
    <div style="display: flex;">
      <%= ff.input :concentration, label: false, wrapper_html: {style: "flex: 1 1 55%"} %>
      <% conc_unit_default = @batch_item.library.concentration_unit_id || INPUT_DEFAULTS["Library"]["concentration_unit_id"] || "" %>
      <%= ff.association :concentration_unit, label: false, include_blank: true, collection: Unit.where(unit_type: "concentration"), selected: conc_unit_default, wrapper_html: {style: "flex: 1 1 45%"} %>
    </div>
  <% end %>
<% else %>
  <span></span><!-- barcode input -->
  <span></span><!-- concentration input and concentration_unit input -->
<% end %>

<%= f.input :notes, label: false %>
