<%= simple_form_for(@nucleic_acid_term) do |f| %>
	<%= f.error_notification %>

	<%= f.input :name %>
    
	<%= f.input :accession %>
    
	<%= f.input :definition %>

  <div class="actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
