<header>
	<h1>Nucleic Acid Terms</h1>

	<ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {model_class: NucleicAcidTerm} %>
	</ul> 
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>Name</th>
      <th>Accession</th>
      <th>Definition</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @nucleic_acid_terms.each do |nucleic_acid_term| %>
      <tr>
        <td><%= link_to nucleic_acid_term.name, nucleic_acid_term %></td>
        <td><%= nucleic_acid_term.accession %></td>
        <td><%= nucleic_acid_term.definition %></td>
        <td><%= link_to fa_icon("pencil"), edit_nucleic_acid_term_path(nucleic_acid_term) %></td>
        <td><%= link_to fa_icon("trash"), nucleic_acid_term, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
