<header>
	<h1>Nucleic Acid Terms</h1>

	<ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {policy_class: NucleicAcidTerm} %>
	</ul> 
</header>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Accession</th>
      <th>Definition</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @nucleic_acid_terms.each do |nucleic_acid_term| %>
      <tr>
        <td><%= nucleic_acid_term.name %></td>
        <td><%= nucleic_acid_term.accession %></td>
        <td><%= nucleic_acid_term.definition %></td>
        <td><%= link_to 'Show', nucleic_acid_term %></td>
        <td><%= link_to 'Edit', edit_nucleic_acid_term_path(nucleic_acid_term) %></td>
        <td><%= link_to 'Destroy', nucleic_acid_term, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
