<header>
	<h1>Nucleic Acid Terms</h1>

	<ul class="actions">
		<%= render partial: "application_partials/auth_new_record", locals: {model_class: NucleicAcidTerm} %>
	</ul> 
</header>

<table class="attributes">
  <thead>
    <tr>
      <th>Name</th>
			<th>Creator</th>
      <th>Accession</th>
      <th>Definition</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @nucleic_acid_terms.each do |rec| %>
      <tr>
        <td><%= link_to rec.name, rec %></td>
				<td><%= rec.user.display() %></td>
        <td><%= rec.accession %></td>
        <td><%= rec.definition %></td>
        <td>
					<%= link_to fa_icon("pencil"), edit_nucleic_acid_term_path(rec) %>
        	<%= link_to fa_icon("trash"), rec, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
