<% title(@nucleic_acid_term.name,"NucleicAcidTerms") %>
<header>
	<h1><%= @nucleic_acid_term.name %></h1>
	
  <ul class="actions">
    <%= render partial: "application_partials/auth_edit_record", locals: {record: @nucleic_acid_term} %>
    <%= render partial: "application_partials/auth_destroy_record", locals: {record: @nucleic_acid_term} %>
  </ul>
</header> 

<p>
  <strong>Name:</strong>
  <%= @nucleic_acid_term.name %>
</p>

<p>
  <strong>Accession:</strong>
  <%= @nucleic_acid_term.accession %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @nucleic_acid_term.definition %>
</p>

<%= link_to 'Back', nucleic_acid_terms_path %>
