<%= render partial:  "application_partials/header", locals: {rec: @nucleic_acid_term } %>

<table class="attributes">
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @nucleic_acid_term.name %></td>
  </tr>

  <tr>
    <th><strong>Accession:</strong></th>
    <td><%= @nucleic_acid_term.accession %></td>
  </tr>

  <tr>
    <th><strong>Definition:</strong></th>
    <td><%= @nucleic_acid_term.definition %></td>
  </tr>
</table>

<%= link_to 'Back', nucleic_acid_terms_path %>
